Repository flipperdevices/flipperzero-firmware, pull requests merged in 2022-08, with the labels that each got.

#1485 [FL-2706, FL-2709] SubGhz: checking saved key files for length
  applications/subghz/subghz_i.c
  applications/subghz/views/subghz_read_raw.c
  lib/subghz/protocols/came.c
  lib/subghz/protocols/came_atomo.c
  lib/subghz/protocols/came_twee.c
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/faac_slh.c
  lib/subghz/protocols/gate_tx.c
  lib/subghz/protocols/holtek.c
  lib/subghz/protocols/hormann.c
  lib/subghz/protocols/ido.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/kia.c
  lib/subghz/protocols/linear.c
  lib/subghz/protocols/megacode.c
  lib/subghz/protocols/nero_radio.c
  lib/subghz/protocols/nero_sketch.c
  lib/subghz/protocols/nice_flo.c
  lib/subghz/protocols/nice_flor_s.c
  lib/subghz/protocols/power_smart.c
  lib/subghz/protocols/princeton.c
  lib/subghz/protocols/raw.c
  lib/subghz/protocols/raw.h
  lib/subghz/protocols/secplus_v1.c
  lib/subghz/protocols/secplus_v2.c
  lib/subghz/protocols/somfy_keytis.c
  lib/subghz/protocols/somfy_telis.c
  lib/subghz/protocols/star_line.c
Labels: Sub-GHz

#1491 [FL-2705] App RPC Bug Fixes and redesign
  applications/ibutton/ibutton.c
  applications/ibutton/ibutton_custom_event.h
  applications/ibutton/ibutton_i.h
  applications/ibutton/scenes/ibutton_scene_rpc.c
  applications/infrared/infrared.c
  applications/infrared/infrared_custom_event.h
  applications/infrared/scenes/infrared_scene_rpc.c
  applications/lfrfid/lfrfid_app.cpp
  applications/lfrfid/lfrfid_app.h
  applications/lfrfid/scene/lfrfid_app_scene_rpc.cpp
  applications/nfc/helpers/nfc_custom_event.h
  applications/nfc/nfc.c
  applications/nfc/nfc_i.h
  applications/nfc/scenes/nfc_scene_rpc.c
  applications/rpc/rpc_app.c
  applications/rpc/rpc_app.h
  applications/subghz/helpers/subghz_custom_event.h
  applications/subghz/scenes/subghz_scene_rpc.c
  applications/subghz/subghz.c
  applications/subghz/subghz_i.h
Labels: bug, core+services

#1461 ci: check for uncommited changes after build
  .github/workflows/build.yml
  assets/SConscript
  assets/resources/Manifest
Labels: bug, build system

#1490 fbt fixes & improvements
  .github/workflows/build.yml
  ReadMe.md
  SConstruct
  applications/extapps.scons
  debug/fw.jflash
  documentation/OTA.md
  documentation/fbt.md
  fbt_options.py
  firmware.scons
  firmware/targets/f7/stm32wb55xx_flash.ld
  scripts/flipper/storage.py
  scripts/selfupdate.py
  scripts/storage.py
  site_scons/site_tools/fbt_apps.py
  site_scons/site_tools/fbt_dist.py
  site_scons/site_tools/jflash.py
Labels: build system

#1412 [FL-2649] Excluding Docker from CI/CD
  .github/workflows/build.yml
  .github/workflows/build_toolchain.yml
  .github/workflows/check_submodules.yml
  .github/workflows/lint_c.yml
  .github/workflows/lint_python.yml
  .github/workflows/reindex.yml
  SConstruct
  documentation/fbt.md
  fbt
  lib/loclass.scons
  lib/mbedtls.scons
  scripts/serial_cli.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/toolchain/unix-toolchain-download.sh
  site_scons/site_tools/fbt_apps.py
  site_scons/site_tools/sconsmodular.py
Labels: build system

#1492 MPU Hal
  applications/archive/scenes/archive_scene_rename.c
  applications/bad_usb/bad_usb_app.c
  applications/bad_usb/bad_usb_app_i.h
  applications/bt/bt_service/bt.c
  applications/desktop/animations/views/bubble_animation_view.c
  applications/desktop/desktop_settings/desktop_settings_app.c
  applications/gui/modules/button_menu.c
  applications/gui/modules/text_input.c
  applications/gui/modules/validators.h
  applications/ibutton/ibutton.c
  applications/infrared/infrared.c
  applications/input/input.c
  applications/lfrfid/lfrfid_app.cpp
  applications/music_player/music_player.c
  applications/nfc/nfc.c
  applications/power/power_service/power.c
  applications/power/power_settings_app/power_settings_app.c
  applications/rpc/rpc_system.c
  applications/subghz/scenes/subghz_scene_save_name.c
  applications/subghz/subghz.c
  applications/unit_tests/rpc/rpc_test.c
  applications/updater/updater.c
  firmware/targets/f7/Inc/FreeRTOSConfig.h
  firmware/targets/f7/furi_hal/furi_hal.c
  firmware/targets/f7/furi_hal/furi_hal_interrupt.c
  firmware/targets/f7/furi_hal/furi_hal_mpu.c
  firmware/targets/furi_hal_include/furi_hal_mpu.h
  furi/core/memmgr.c
  furi/core/thread.c
Labels: core+services

#1438 Make printf great again
  applications/cli/cli.c
  applications/cli/cli_i.h
  applications/cli/cli_vcp.c
  applications/debug_tools/keypad_test.c
  applications/desktop/views/desktop_view_debug.c
  applications/infrared/infrared_cli.c
  applications/rpc/rpc_storage.c
  applications/subghz/scenes/subghz_scene_receiver_config.c
  applications/unit_tests/rpc/rpc_test.c
  firmware.scons
  furi/core/stdglue.c
  furi/core/stdglue.h
  furi/core/thread.c
  furi/core/thread.h
  furi/furi.c
  furi/furi.h
  lib/SConscript
  lib/print/SConscript
  lib/print/printf_tiny.c
  lib/print/printf_tiny.h
  lib/print/wrappers.c
  lib/toolbox/random_name.c
Labels: core+services

#1496 FIX: Fixed inconsistencies between texts
  applications/about/about.c
  applications/bt/bt_hid_app/bt_hid.c
  applications/bt/bt_settings_app/scenes/bt_settings_scene_forget_dev_confirm.c
  applications/desktop/views/desktop_view_debug.c
  applications/desktop/views/desktop_view_lock_menu.c
  applications/gpio/views/gpio_test.c
  applications/ibutton/scenes/ibutton_scene_exit_confirm.c
  applications/ibutton/scenes/ibutton_scene_read.c
  applications/ibutton/scenes/ibutton_scene_retry_confirm.c
  applications/infrared/scenes/infrared_scene_ask_back.c
  applications/infrared/scenes/infrared_scene_ask_retry.c
  applications/infrared/scenes/infrared_scene_edit_delete.c
  applications/lfrfid/lfrfid_cli.cpp
  applications/lfrfid/scene/lfrfid_app_scene_exit_confirm.cpp
  applications/lfrfid/scene/lfrfid_app_scene_retry_confirm.cpp
  applications/nfc/scenes/nfc_scene_detect_reader.c
  applications/nfc/scenes/nfc_scene_exit_confirm.c
  applications/nfc/scenes/nfc_scene_restore_original_confirm.c
  applications/nfc/scenes/nfc_scene_retry_confirm.c
  applications/power/battery_test_app/battery_test_app.c
  applications/power/power_settings_app/scenes/power_settings_scene_power_off.c
  applications/storage/storage_cli.c
  applications/storage_settings/scenes/storage_settings_scene_benchmark.c
  applications/storage_settings/scenes/storage_settings_scene_factory_reset.c
  applications/storage_settings/scenes/storage_settings_scene_format_confirm.c
  applications/storage_settings/scenes/storage_settings_scene_formatting.c
  applications/storage_settings/scenes/storage_settings_scene_internal_info.c
  applications/storage_settings/scenes/storage_settings_scene_sd_info.c
  applications/storage_settings/scenes/storage_settings_scene_unmount_confirm.c
  applications/storage_settings/scenes/storage_settings_scene_unmounted.c
  firmware/targets/f7/Src/dfu.c
Labels: UI

#1520 vscode: initial development configuration
  .vscode/.gitignore
  .vscode/example/c_cpp_properties.json
  .vscode/example/launch.json
  .vscode/example/settings.json
  .vscode/example/tasks.json
  .vscode/extensions.json
  SConstruct
  documentation/fbt.md
Labels: build system

#1513 NFC: Edit UID feature
  applications/nfc/scenes/nfc_scene_saved_menu.c
  applications/nfc/scenes/nfc_scene_set_uid.c
Labels: NFC, UI, new feature

#1462 nfc: make dict attack more interactive
  applications/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/nfc/views/dict_attack.c
  applications/nfc/views/dict_attack.h
  lib/nfc/nfc_device.h
  lib/nfc/nfc_worker.c
  lib/nfc/nfc_worker.h
  lib/nfc/nfc_worker_i.h
Labels: NFC, UI

#1511 PicoPass: Fix Card Detection Visuals
  applications/picopass/scenes/picopass_scene_read_card.c
Labels: NFC, UI

#1365 Mifare Ultralight authentication
  applications/nfc/application.fam
  applications/nfc/helpers/nfc_generators.c
  applications/nfc/nfc_i.h
  applications/nfc/scenes/nfc_scene_config.h
  applications/nfc/scenes/nfc_scene_extra_actions.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_key_input.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_menu.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_read_auth_result.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_unlock_menu.c
  applications/nfc/scenes/nfc_scene_mf_ultralight_unlock_warn.c
  firmware.scons
  lib/SConscript
  lib/mbedtls.scons
  lib/nfc/nfc_device.c
  lib/nfc/nfc_worker.c
  lib/nfc/nfc_worker.h
  lib/nfc/nfc_worker_i.h
  lib/nfc/parsers/nfc_supported_card.c
  lib/nfc/protocols/mifare_ultralight.c
  lib/nfc/protocols/mifare_ultralight.h
Labels: NFC, new feature

#1504 Add a Mifare Classic info screen to parser output
  applications/nfc/scenes/nfc_scene_config.h
  applications/nfc/scenes/nfc_scene_mf_classic_info.c
  applications/nfc/scenes/nfc_scene_mf_classic_menu.c
Labels: NFC, UI

#1516 [FL-2718, FL-2719] SubGhz: add protocol BERNER / ELKA / TEDSEN / TELETASTER / Doitrand / Marantec / Phoenix V2 (static mode) / Phox (static mode), fix Princeton
  applications/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/bett.sub
  assets/unit_tests/subghz/bett_raw.sub
  assets/unit_tests/subghz/doitrand.sub
  assets/unit_tests/subghz/doitrand_raw.sub
  assets/unit_tests/subghz/marantec.sub
  assets/unit_tests/subghz/marantec_raw.sub
  assets/unit_tests/subghz/phoenix_v2.sub
  assets/unit_tests/subghz/phoenix_v2_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/bett.c
  lib/subghz/protocols/bett.h
  lib/subghz/protocols/doitrand.c
  lib/subghz/protocols/doitrand.h
  lib/subghz/protocols/holtek.c
  lib/subghz/protocols/marantec.c
  lib/subghz/protocols/marantec.h
  lib/subghz/protocols/phoenix_v2.c
  lib/subghz/protocols/phoenix_v2.h
  lib/subghz/protocols/princeton.c
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Labels: Sub-GHz, new feature

#1509 Added support for Samsung TVs using address 07.
  assets/resources/Manifest
  assets/resources/infrared/assets/tv.ir
Labels: Infrared

#1564 Fix building updater package from VSCode tasks
  .vscode/example/tasks.json
Labels: bug, build system

#1563 [FL-2059] Storage fixes for handling empty files
  .vscode/ReadMe.md
  applications/rpc/rpc_storage.c
  applications/storage/storage_cli.c
  lib/toolbox/path.c
Labels: bug, core+services

#1560 [FL-2723] SubGhz: add protocol Honeywell_WDB / Doorbell
  applications/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/honeywell_wdb.sub
  assets/unit_tests/subghz/honeywell_wdb_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/blocks/math.c
  lib/subghz/blocks/math.h
  lib/subghz/protocols/came_twee.c
  lib/subghz/protocols/honeywell_wdb.c
  lib/subghz/protocols/honeywell_wdb.h
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Labels: Sub-GHz, new feature

#1568 [FL-2705] RPC APP fixes
  applications/ibutton/ibutton.c
  applications/ibutton/scenes/ibutton_scene_rpc.c
  applications/infrared/infrared.c
  applications/infrared/scenes/infrared_scene_rpc.c
  applications/lfrfid/lfrfid_app.cpp
  applications/lfrfid/lfrfid_app.h
  applications/lfrfid/scene/lfrfid_app_scene_rpc.cpp
  applications/lfrfid_debug/lfrfid_debug_app.cpp
  applications/nfc/nfc.c
  applications/nfc/scenes/nfc_scene_rpc.c
  applications/subghz/scenes/subghz_scene_rpc.c
  applications/subghz/subghz.c
  lib/app-scened-template/view_controller.hpp
Labels: UI

#1620 [FL-2747, FL-2745] Browser worker fix, Device Info screen update
  applications/desktop/views/desktop_view_debug.c
  applications/gui/modules/file_browser_worker.c
  firmware/targets/f7/ble_glue/ble_glue.c
Labels: UI, core+services

#1606 RPC: more asserts and checks
  applications/rpc/rpc.c
  applications/rpc/rpc_app.c
  applications/rpc/rpc_cli.c
  applications/rpc/rpc_debug.c
  applications/rpc/rpc_gpio.c
  applications/rpc/rpc_i.h
  applications/rpc/rpc_storage.c
  applications/rpc/rpc_system.c
  applications/unit_tests/rpc/rpc_test.c
Labels: core+services

#1609 [FL-2727] BLE Remote UI fixes
  applications/bt/bt_hid_app/bt_hid.c
  applications/bt/bt_hid_app/views/bt_hid_keynote.c
  applications/bt/bt_hid_app/views/bt_hid_media.c
  applications/bt/bt_hid_app/views/bt_hid_mouse.c
  assets/icons/BLE/BLE_HID/Left_mouse_icon_9x9.png
  assets/icons/BLE/BLE_HID/Ok_btn_pressed_13x13.png
  assets/icons/BLE/BLE_HID/Right_mouse_icon_9x9.png
Labels: UI, applications

#1610 [FL-2737] Dolphin level thresholds update
  applications/dolphin/helpers/dolphin_state.c
Labels: core+services

#1615 fbt: fixed include paths; added PVS-Studio configuration
  .gitignore
  .pvsconfig
  .pvsoptions
  applications/bt/bt_cli.c
  firmware.scons
  firmware/SConscript
  firmware/targets/f7/Inc/stm32.h
  firmware/targets/f7/ble_glue/app_conf.h
  firmware/targets/f7/ble_glue/app_debug.c
  firmware/targets/f7/ble_glue/battery_service.c
  firmware/targets/f7/ble_glue/ble_app.c
  firmware/targets/f7/ble_glue/ble_const.h
  firmware/targets/f7/ble_glue/ble_glue.c
  firmware/targets/f7/ble_glue/compiler.h
  firmware/targets/f7/ble_glue/dev_info_service.c
  firmware/targets/f7/ble_glue/gap.c
  firmware/targets/f7/ble_glue/hid_service.c
  firmware/targets/f7/ble_glue/hw_ipcc.c
  firmware/targets/f7/ble_glue/osal.h
  firmware/targets/f7/ble_glue/serial_service.c
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/f7/furi_hal/furi_hal_crypto.c
  firmware/targets/f7/furi_hal/furi_hal_flash.c
  firmware/targets/f7/furi_hal/furi_hal_info.c
  firmware/targets/f7/furi_hal/furi_hal_version.c
  furi/core/common_defines.h
  furi/core/core_defines.h
  furi/core/record.h
  lib/STM32CubeWB.scons
  lib/toolbox/SConscript
Labels: build system, core+services

#1526 Amap and PVS Studio reports in CI/CD
  .github/CODEOWNERS
  .github/actions/docker/action.yml
  .github/workflows/amap_analyse.yml
  .github/workflows/build.yml
  .github/workflows/check_submodules.yml
  .github/workflows/lint_c.yml
  .github/workflows/lint_python.yml
  .github/workflows/pvs_studio.yml
  .pvsoptions
  ReadMe.md
  applications/subghz/subghz_setting.c
  assets/ReadMe.md
  docker-compose.yml
  docker/Dockerfile
  docker/entrypoint.sh
  scripts/amap_mariadb_insert.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
Labels: build system

#1562 Picopass load/info/delete
  applications/picopass/application.fam
  applications/picopass/picopass.c
  applications/picopass/picopass_device.c
  applications/picopass/picopass_device.h
  applications/picopass/picopass_i.h
  applications/picopass/picopass_worker.c
  applications/picopass/picopass_worker_i.h
  applications/picopass/scenes/picopass_scene_config.h
  applications/picopass/scenes/picopass_scene_delete.c
  applications/picopass/scenes/picopass_scene_delete_success.c
  applications/picopass/scenes/picopass_scene_device_info.c
  applications/picopass/scenes/picopass_scene_file_select.c
  applications/picopass/scenes/picopass_scene_saved_menu.c
  applications/picopass/scenes/picopass_scene_start.c
  lib/ST25RFAL002/include/rfal_picopass.h
  lib/ST25RFAL002/source/rfal_picopass.c
Labels: NFC, UI, new feature

#1648 Add support for PAC/Stanley tags
  lib/flipper_format/flipper_format_stream.c
  lib/lfrfid/protocols/lfrfid_protocols.c
  lib/lfrfid/protocols/lfrfid_protocols.h
  lib/lfrfid/protocols/protocol_pac_stanley.c
  lib/lfrfid/protocols/protocol_pac_stanley.h
  lib/lfrfid/tools/bit_lib.c
  lib/lfrfid/tools/bit_lib.h
  lib/nfc/nfc_device.c
  lib/toolbox/hex.c
  lib/toolbox/hex.h
Labels: RFID 125kHz, new feature

#1679 NFC: ST25TB type is not handled
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
Labels: NFC, bug

#1622 SubGhz: add protocol Intertechno_V3
  applications/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/intertechno_v3.sub
  assets/unit_tests/subghz/intertechno_v3_raw.sub
  lib/subghz/protocols/intertechno_v3.c
  lib/subghz/protocols/intertechno_v3.h
  lib/subghz/protocols/magellen.c
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Labels: Sub-GHz, new feature
