Repository flipperdevices/flipperzero-firmware, pull requests merged in 2022-10, with the labels that each got.

#1813 [FL-2859,2838] fbt: improvements for FAPs
  applications/examples/application.fam
  applications/examples/example_images/application.fam
  applications/examples/example_images/example_images.c
  applications/examples/example_images/images/dolphin_71x25.png
  applications/plugins/picopass/application.fam
  applications/plugins/picopass/lib/loclass/optimized_cipher.c
  applications/plugins/picopass/lib/loclass/optimized_cipher.h
  applications/plugins/picopass/lib/loclass/optimized_cipherutils.c
  applications/plugins/picopass/lib/loclass/optimized_cipherutils.h
  applications/plugins/picopass/lib/loclass/optimized_elite.c
  applications/plugins/picopass/lib/loclass/optimized_elite.h
  applications/plugins/picopass/lib/loclass/optimized_ikeys.c
  applications/plugins/picopass/lib/loclass/optimized_ikeys.h
  applications/plugins/picopass/picopass_device.h
  assets/SConscript
  documentation/AppManifests.md
  documentation/AppsOnSDCard.md
  documentation/fbt.md
  firmware.scons
  scripts/assets.py
  scripts/lint.py
  site_scons/commandline.scons
  site_scons/environ.scons
  site_scons/extapps.scons
  site_scons/fbt/appmanifest.py
  site_scons/site_tools/fbt_assets.py
  site_scons/site_tools/fbt_extapps.py
Labels: build system, new feature

#1810 [FL-2866, FL-2865] SubGhz: add frequency analyzer history
  applications/main/subghz/helpers/subghz_frequency_analyzer_worker.c
  applications/main/subghz/helpers/subghz_frequency_analyzer_worker.h
  applications/main/subghz/scenes/subghz_scene_frequency_analyzer.c
  applications/main/subghz/views/subghz_frequency_analyzer.c
Labels: Sub-GHz

#1812 ".fap" extention in file browser and archive tab
  applications/main/archive/helpers/archive_browser.c
  applications/main/archive/helpers/archive_browser.h
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
  applications/main/fap_loader/fap_loader_app.c
  applications/main/fap_loader/fap_loader_app.h
Labels: AppLoader

#1460 BadUSB: add SYSRQ keys
  applications/main/bad_usb/bad_usb_script.c
Labels: USB, new feature

#1853 [FL-2886] SubGhz: fix text overlap in read
  applications/main/subghz/subghz_i.c
Labels: Sub-GHz, bug, UI

#1809 [FL-2828] Dolphin score points update
  applications/main/gpio/scenes/gpio_scene_start.c
  applications/main/infrared/scenes/common/infrared_scene_universal_common.c
  applications/main/nfc/scenes/nfc_scene_detect_reader.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_menu.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth_result.c
  applications/main/nfc/scenes/nfc_scene_set_uid.c
  applications/plugins/bt_hid_app/bt_hid.c
  applications/plugins/snake_game/snake_game.c
  applications/services/dolphin/helpers/dolphin_deed.c
  applications/services/dolphin/helpers/dolphin_deed.h
Labels: core+services

#1858 [FL-2883] NFC: bank card rework reading
  applications/main/nfc/scenes/nfc_scene_emv_menu.c
  applications/main/nfc/scenes/nfc_scene_emv_read_success.c
  lib/nfc/nfc_device.c
  lib/nfc/nfc_worker.c
  lib/nfc/protocols/emv.c
  lib/nfc/protocols/emv.h
Labels: NFC

#1506 badusb: show script errors on screen
  applications/main/bad_usb/bad_usb_script.c
  applications/main/bad_usb/bad_usb_script.h
  applications/main/bad_usb/views/bad_usb_view.c
Labels: USB, UI, new feature

#1838 36-bit AWID (L11601 Lenel)
  lib/lfrfid/protocols/protocol_awid.c
Labels: RFID 125kHz, new feature

#1816 Desktop: Set external apps as favorites
  applications/main/fap_loader/fap_loader_app.c
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/desktop_settings_app.h
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
Labels: new feature, core+services

#1686 [FL-2623] Add BLE disconnect request
  applications/services/bt/bt_service/bt.c
  firmware/targets/f7/ble_glue/serial_service.c
  firmware/targets/f7/ble_glue/serial_service.h
  firmware/targets/f7/furi_hal/furi_hal_bt_serial.c
  firmware/targets/furi_hal_include/furi_hal_bt_serial.h
Labels: core+services

#1882 fbt: fix for cincludes in app's private library definition
  scripts/fbt_tools/fbt_extapps.py
Labels: bug, build system

#1856 Feature/infrared add remote to cli
  applications/main/infrared/infrared_cli.c
Labels: Infrared

#1893 fbt: fixed dependency issues with SDK definition file
  firmware.scons
  firmware/SConscript
  firmware/targets/f7/api_symbols.csv
  scripts/fbt_tools/fbt_extapps.py
Labels: bug, build system

#1940 fbt: fixes for ufbt compat
  firmware.scons
  scripts/fbt/sdk/__init__.py
  scripts/fbt/sdk/cache.py
  scripts/fbt/sdk/collector.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/fbt_sdk.py
  scripts/sconsdist.py
  scripts/toolchain/windows-toolchain-download.ps1
  site_scons/extapps.scons
  site_scons/firmwareopts.scons
Labels: build system
