Repository flipperdevices/flipperzero-firmware, pull requests merged in 2022-09, with the labels that each got.

#1736 fbt: fixed gdb-py path for MacOS, docs: spelling fixes
  .github/CODEOWNERS
  .vscode/example/settings.json
  applications/ReadMe.md
  documentation/AppsOnSDCard.md
  documentation/OTA.md
Labels: documentation

#1735 [FL-2819] updater: fixed failing backups on /int with empty files in it
  lib/toolbox/tar/tar_archive.c
  lib/update_util/lfs_backup.c
Labels: bug, core+services

#1712 [FL-2800] Fix Mifare Classic 4K reading of the last 8 sectors
  furi/core/core_defines.h
Labels: NFC, bug

#1742 faploader: more subsystem headers in API table
  applications/plugins/picopass/application.fam
  assets/SConscript
  documentation/AppManifests.md
  fbt_options.py
  firmware.scons
  firmware/targets/f7/api_symbols.csv
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/lfrfid/SConscript
  lib/mbedtls.scons
  lib/subghz/SConscript
  lib/subghz/protocols/raw.h
  lib/toolbox/SConscript
  site_scons/extapps.scons
  site_scons/fbt/appmanifest.py
  site_scons/fbt/elfmanifest.py
  site_scons/fbt/sdk.py
  site_scons/fbt/version.py
  site_scons/site_tools/fbt_sdk.py
Labels: bug, build system, AppLoader

#1722 [FL-2674] Show error popup when NFC chip is not init/disconnected
  applications/main/nfc/nfc.c
  applications/main/nfc/nfc_i.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
  firmware/targets/furi_hal_include/furi_hal_nfc.h
Labels: NFC, USB

#1739 [FL-2815, FL-2821] Dummy mode
  applications/main/archive/helpers/archive_browser.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/helpers/pin_lock.c
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/desktop/views/desktop_view_main.c
  applications/services/desktop/views/desktop_view_main.h
  applications/settings/desktop_settings/desktop_settings_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  assets/icons/StatusBar/GameMode_11x8.png
  firmware/targets/f7/api_symbols.csv
Labels: UI, core+services

#1723 RFID: fix read info screen
  applications/main/lfrfid/scenes/lfrfid_scene_read_success.c
  lib/lfrfid/protocols/protocol_awid.c
  lib/lfrfid/protocols/protocol_em4100.c
  lib/lfrfid/protocols/protocol_fdx_a.c
  lib/lfrfid/protocols/protocol_fdx_b.c
  lib/lfrfid/protocols/protocol_gallagher.c
  lib/lfrfid/protocols/protocol_h10301.c
  lib/lfrfid/protocols/protocol_hid_ex_generic.c
  lib/lfrfid/protocols/protocol_hid_generic.c
  lib/lfrfid/protocols/protocol_io_prox_xsf.c
  lib/lfrfid/protocols/protocol_jablotron.c
  lib/lfrfid/protocols/protocol_pac_stanley.c
  lib/lfrfid/protocols/protocol_paradox.c
  lib/lfrfid/protocols/protocol_pyramid.c
  lib/lfrfid/protocols/protocol_viking.c
Labels: RFID 125kHz, UI

#1701 Picopass: detect and show SE / SIO
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Labels: NFC, UI, new feature

#1678 SubGhz: Oregon v2.1 decoder
  applications/debug/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/oregon2_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/oregon2.c
  lib/subghz/protocols/oregon2.h
  lib/subghz/protocols/registry.c
  lib/subghz/protocols/registry.h
Labels: Sub-GHz, new feature

#1503 Add new card parsers
  applications/main/nfc/scenes/nfc_scene_device_info.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_success.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  lib/nfc/nfc_worker.c
  lib/nfc/parsers/all_in_one.c
  lib/nfc/parsers/all_in_one.h
  lib/nfc/parsers/nfc_supported_card.c
  lib/nfc/parsers/nfc_supported_card.h
  lib/nfc/parsers/plantain_4k_parser.c
  lib/nfc/parsers/plantain_4k_parser.h
  lib/nfc/parsers/plantain_parser.c
  lib/nfc/parsers/plantain_parser.h
  lib/nfc/parsers/troika_4k_parser.c
  lib/nfc/parsers/troika_4k_parser.h
  lib/nfc/parsers/troika_parser.c
  lib/nfc/parsers/troika_parser.h
  lib/nfc/parsers/troyka_parser.h
  lib/nfc/parsers/two_cities.c
  lib/nfc/parsers/two_cities.h
Labels: NFC

#1533 NFC user dict list, delete, and de-duplication.
  .vscode/example/settings.json
  applications/main/lfrfid/views/lfrfid_view_read.c
  applications/main/nfc/nfc_i.h
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_delete_success.c
  applications/main/nfc/scenes/nfc_scene_dict_not_found.c
  applications/main/nfc/scenes/nfc_scene_extra_actions.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_add.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_delete.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_list.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_warn_duplicate.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_read_auth.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_restore_original_confirm.c
  applications/main/nfc/scenes/nfc_scene_save_success.c
  applications/plugins/bt_hid_app/views/bt_hid_keyboard.c
  applications/plugins/bt_hid_app/views/bt_hid_mouse.c
  applications/services/desktop/views/desktop_view_pin_input.c
  assets/icons/NFC/Keychain.png
  assets/icons/NFC/Keychain_39x36.png
  assets/icons/NFC/NFC_manual_60x50.png
  assets/icons/NFC/Reader_detect_43x40.png
  assets/icons/NFC/Restoring_38x32.png
  assets/icons/PIN/Pin_arrow_up_7x9.png
  firmware/targets/f7/api_symbols.csv
  lib/nfc/helpers/mf_classic_dict.c
  lib/nfc/helpers/mf_classic_dict.h
Labels: NFC, UI, new feature

#1725 [FL-2792] AC Universal Remote
  applications/main/infrared/scenes/infrared_scene_config.h
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/infrared/scenes/infrared_scene_universal_ac.c
  assets/icons/Infrared/CoolHi_25x27.png
  assets/icons/Infrared/CoolHi_hvr_25x27.png
  assets/icons/Infrared/CoolLo_25x27.png
  assets/icons/Infrared/CoolLo_hvr_25x27.png
  assets/icons/Infrared/Dehumidify_25x27.png
  assets/icons/Infrared/Dehumidify_hvr_25x27.png
  assets/icons/Infrared/HeatHi_25x27.png
  assets/icons/Infrared/HeatHi_hvr_25x27.png
  assets/icons/Infrared/HeatLo_25x27.png
  assets/icons/Infrared/HeatLo_hvr_25x27.png
  assets/icons/Infrared/Off_25x27.png
  assets/icons/Infrared/Off_hvr_25x27.png
  assets/resources/infrared/assets/ac.ir
  documentation/UniversalRemotes.md
  firmware/targets/f7/api_symbols.csv
Labels: Infrared, UI, new feature

#1704 Subghz: Adding checks for get_upload functions
  lib/subghz/protocols/bett.c
  lib/subghz/protocols/came.c
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/clemsa.c
  lib/subghz/protocols/doitrand.c
  lib/subghz/protocols/gate_tx.c
  lib/subghz/protocols/holtek.c
  lib/subghz/protocols/honeywell_wdb.c
  lib/subghz/protocols/hormann.c
  lib/subghz/protocols/intertechno_v3.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/linear.c
  lib/subghz/protocols/magellen.c
  lib/subghz/protocols/megacode.c
  lib/subghz/protocols/nero_radio.c
  lib/subghz/protocols/nero_sketch.c
  lib/subghz/protocols/nice_flo.c
  lib/subghz/protocols/phoenix_v2.c
  lib/subghz/protocols/princeton.c
Labels: Sub-GHz, bug

#1762 [FL-2844] desktop: removing slideshow file when leaving slideshow view
  .vscode/example/launch.json
  SConstruct
  applications/services/desktop/scenes/desktop_scene_slideshow.c
  documentation/fbt.md
  firmware/targets/f7/Inc/FreeRTOSConfig.h
  firmware/targets/f7/api_symbols.csv
  furi/core/thread.c
  furi/core/thread.h
Labels: bug, core+services, AppLoader

#1766 Update ReadMe.md
  ReadMe.md
Labels: documentation

#1744 ELF-Loader: C++ plugin support, loader overhaul.
  applications/main/fap_loader/fap_loader_app.c
  debug/flipperapps.py
  debug/stm32wbx.cfg
  firmware/targets/f7/api_symbols.csv
  lib/flipper_application/application_manifest.c
  lib/flipper_application/application_manifest.h
  lib/flipper_application/elf/elf_api_interface.h
  lib/flipper_application/elf/elf_file.c
  lib/flipper_application/elf/elf_file.h
  lib/flipper_application/elf/elf_file_i.h
  lib/flipper_application/flipper_applicaiton_i.c
  lib/flipper_application/flipper_application.c
  lib/flipper_application/flipper_application.h
  lib/flipper_application/flipper_application_i.h
Labels: build system, AppLoader

#1748 SubGhz: fix config menu
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/views/transmitter.c
  assets/resources/subghz/assets/keeloq_mfcodes
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/keeloq_common.c
  lib/subghz/protocols/keeloq_common.h
  lib/subghz/protocols/magellen.c
Labels: Sub-GHz, UI

#1751 Remove unused headers
  applications/services/power/power_service/power.c
Labels: core+services

#1687 Fix Text Input: overwrite max size template
  applications/services/gui/modules/text_input.c
Labels: UI, core+services

#1781 Preliminary Rust support
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/application-ext.ld
  lib/flipper_application/elf/elf.h
  lib/flipper_application/elf/elf_file.c
Labels: core+services, AppLoader

#1378 power: Also ask charger if charge done
  applications/services/power/power_service/power.c
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_power.c
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/drivers/bq25896.c
  lib/drivers/bq25896.h
Labels: USB, new feature, core+services

#1773 add Hisense A/C IR signals..
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#1548 Change default keyboard to Uppercase
  applications/services/gui/modules/text_input.c
Labels: UI
