Repository flipperdevices/flipperzero-firmware, pull requests merged in 2022-07, with the labels that each got.

#1424 [FL-2655, FL-2650] Buffered file streams
  applications/infrared/infrared_brute_force.c
  applications/infrared/infrared_remote.c
  applications/unit_tests/infrared/infrared_test.c
  applications/unit_tests/stream/stream_test.c
  lib/flipper_format/flipper_format.c
  lib/flipper_format/flipper_format.h
  lib/toolbox/stream/buffered_file_stream.c
  lib/toolbox/stream/buffered_file_stream.h
  lib/toolbox/stream/stream_cache.c
  lib/toolbox/stream/stream_cache.h
Labels: core+services

#1428 [FL-2668] GUI message screens update
  applications/bad_usb/scenes/bad_usb_scene_error.c
  applications/gpio/scenes/gpio_scene_usb_uart_close_rpc.c
  applications/lfrfid/scene/lfrfid_app_scene_write.cpp
  applications/storage_settings/scenes/storage_settings_scene_benchmark.c
  applications/storage_settings/scenes/storage_settings_scene_format_confirm.c
  applications/storage_settings/scenes/storage_settings_scene_formatting.c
  applications/storage_settings/scenes/storage_settings_scene_sd_info.c
  applications/storage_settings/scenes/storage_settings_scene_unmount_confirm.c
  applications/storage_settings/scenes/storage_settings_scene_unmounted.c
  applications/subghz/scenes/subghz_scene_set_type.c
  applications/subghz/scenes/subghz_scene_show_error_sub.c
  applications/subghz/scenes/subghz_scene_transmitter.c
  applications/subghz/subghz_i.c
  applications/u2f/scenes/u2f_scene_error.c
  assets/icons/Common/ActiveConnection_50x64.png
Labels: UI

#1422 fixing typos, satus -> status, fixes #1416
  applications/subghz/views/subghz_read_raw.c
  applications/subghz/views/subghz_read_raw.h
  applications/subghz/views/subghz_test_static.c
Labels: Sub-GHz

#1413 [FL-2464, FL-2466] RFID, ibutton text fix
  applications/ibutton/scenes/ibutton_scene_retry_confirm.c
  applications/infrared/scenes/infrared_scene_ask_back.c
  applications/infrared/scenes/infrared_scene_ask_retry.c
  applications/lfrfid/scene/lfrfid_app_scene_retry_confirm.cpp
Labels: UI

#1383 nfc: NTAG203 support
  applications/nfc/helpers/nfc_generators.c
  applications/nfc/nfc_types.c
  lib/nfc_protocols/mifare_ultralight.c
  lib/nfc_protocols/mifare_ultralight.h
Labels: NFC, UI, new feature

#1408 Picopass: dump full card, extract some details
  applications/picopass/picopass_device.c
  applications/picopass/picopass_device.h
  applications/picopass/picopass_worker.c
  applications/picopass/scenes/picopass_scene_read_card_success.c
  lib/ST25RFAL002/include/rfal_picopass.h
Labels: NFC, applications

#1437 Fixed building for users with space in windows username
  assets/SConscript
  fbt.cmd
  scripts/toolchain/fbtenv.cmd
  site_scons/site_tools/fbt_assets.py
  site_scons/site_tools/fbt_dist.py
  site_scons/site_tools/fbt_version.py
  site_scons/site_tools/fwbin.py
Labels: bug, build system

#1450 Fix git submodules update ignores FBT_NO_SYNC parameter
  fbt.cmd
Labels: bug, build system

#1455 [FL-2688] Fix incorrect remote renaming behaviour
  applications/infrared/infrared.c
Labels: Infrared, bug

#1477 Infrared.c: Dont Close GUI 2 times
  applications/infrared/infrared.c
Labels: Infrared, bug

#1478 [FL-2701], [FL-2702], [FL-2699] NFC fixes
  applications/nfc/scenes/nfc_scene_config.h
  applications/nfc/scenes/nfc_scene_mf_desfire_read_success.c
  applications/nfc/scenes/nfc_scene_read.c
  applications/nfc/scenes/nfc_scene_restore_original.c
  applications/nfc/scenes/nfc_scene_restore_original_confirm.c
  applications/nfc/scenes/nfc_scene_save_success.c
  applications/nfc/scenes/nfc_scene_saved_menu.c
  assets/icons/NFC/NFC_manual.png
  assets/icons/NFC/Restoring.png
  furi/core/common_defines.h
  lib/nfc/nfc_worker.c
Labels: NFC, UI

#1402 [FL-2654] Updater: retrying pre-boot SD card mount multiple times
  applications/storage/storages/storage_ext.c
  firmware/targets/f7/Src/update.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.h
  site_scons/site_tools/fbt_apps.py
Labels: bug, core+services
