Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-12, with the labels that each got.

#3239 ST25TB poller refining + write support
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb.c
  lib/nfc/SConscript
  lib/nfc/protocols/st25tb/st25tb.c
  lib/nfc/protocols/st25tb/st25tb.h
  lib/nfc/protocols/st25tb/st25tb_poller.c
  lib/nfc/protocols/st25tb/st25tb_poller.h
  lib/nfc/protocols/st25tb/st25tb_poller_i.c
  lib/nfc/protocols/st25tb/st25tb_poller_i.h
  lib/nfc/protocols/st25tb/st25tb_poller_sync.c
  lib/nfc/protocols/st25tb/st25tb_poller_sync.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC

#3238 Mifare Classic nested auth support
  lib/nfc/protocols/mf_classic/crypto1.c
  lib/nfc/protocols/mf_classic/crypto1.h
  lib/nfc/protocols/mf_classic/mf_classic_poller.h
  lib/nfc/protocols/mf_classic/mf_classic_poller_i.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC, New Feature

#3246 [FL-3675] Ntag21x write
  applications/main/nfc/helpers/protocol_support/mf_ultralight/mf_ultralight.c
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_write.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_write_fail.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_write_success.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_wrong_card.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller.h
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller_i.h
Labels: NFC

#3260 FuriHal: various GPIO improvements
  targets/f7/furi_hal/furi_hal_gpio.c
Labels: Core+Services

#3288 Cleanup RTC registers on factory reset
  applications/services/rpc/rpc_system.c
  applications/services/storage/storage_cli.c
  applications/services/storage/storages/storage_int.c
  applications/settings/storage_settings/scenes/storage_settings_scene_factory_reset.c
  applications/system/updater/util/update_task_worker_flasher.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_rtc.c
  targets/f7/src/recovery.c
  targets/furi_hal_include/furi_hal_rtc.h
Labels: New Feature, Core+Services

#3285 [FL-3706], [FL-3674] NFC NTAG and ISO14443-3b reading fix
  lib/nfc/protocols/iso14443_3b/iso14443_3b_poller_i.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller.c
Labels: NFC, Bug

#3262 Add MyKey parser
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/mykey.c
Labels: NFC

#3277 Umarsh transport cards parser
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/umarsh.c
  applications/main/nfc/resources/nfc/assets/mf_classic_dict.nfc
Labels: NFC, Applications, New Feature

#3287 nfc_util: little endian bytes2num functions added
  lib/nfc/helpers/nfc_util.c
  lib/nfc/helpers/nfc_util.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC

#3291 [FL-3717] MFC emulation fix
  applications/main/nfc/plugins/supported_cards/mykey.c
  lib/nfc/helpers/nfc_util.c
  lib/nfc/protocols/mf_classic/mf_classic_listener.c
Labels: NFC, Bug

#3284 Add AC's Carrier 42QG5A580SC and AUX YKR-H/006E
  applications/main/infrared/resources/infrared/assets/ac.ir
Labels: Infrared, New Feature

#3293 added new TV Philips OLED 934/12
  applications/main/infrared/resources/infrared/assets/tv.ir
Labels: Infrared

#3271 NfcDict Refactoring
  applications/debug/unit_tests/nfc/nfc_test.c
  applications/main/nfc/helpers/mf_user_dict.c
  applications/main/nfc/nfc_app_i.h
  applications/main/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_add.c
  lib/nfc/SConscript
  lib/nfc/helpers/nfc_dict.c
  lib/nfc/helpers/nfc_dict.h
  lib/toolbox/SConscript
  lib/toolbox/keys_dict.c
  lib/toolbox/keys_dict.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC, Applications, New Feature

#3297 Added UTF-8 support to Flipper Zero canvas API
  applications/debug/example_custom_font/example_custom_font.c
  applications/services/gui/canvas.c
Labels: UI, New Feature, Core+Services

#3280 USART Bridge: added support for software control of DE/RE pins
  applications/main/gpio/scenes/gpio_scene_usb_uart_config.c
  applications/main/gpio/usb_uart_bridge.c
  applications/main/gpio/usb_uart_bridge.h
Labels: USB, Applications

#3220 FuriHal: UART add reception DMA
  applications/debug/uart_echo/uart_echo.c
  applications/main/gpio/application.fam
  applications/main/gpio/usb_uart_bridge.c
  documentation/FuriHalBus.md
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_serial.c
  targets/f7/furi_hal/furi_hal_serial.h
Labels: Core+Services

#3312 HID MFC Plugin
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/hid.c
Labels: NFC

#3314 Update mf_classic_dict.nfc
  applications/main/nfc/resources/nfc/assets/mf_classic_dict.nfc
Labels: NFC

#3319 Added NFC plugin; parser for WashCity cards.
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/washcity.c
Labels: NFC

#3301 Add Samsung AC remotes DB93 and AR-EH04
  applications/main/infrared/resources/infrared/assets/ac.ir
Labels: Infrared
