Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-05, with the labels that each got.

#2622 Move gauge calibration to separate header, add f18 calibration
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f18/furi_hal/furi_hal_power_calibration.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_power.c
  firmware/targets/f7/furi_hal/furi_hal_power_calibration.h
Labels: core+services

#2623 Permit replacement of a view's input callback
  applications/services/gui/view.c
Labels: core+services

#2611 [FL-3260] Added API version to device info
  applications/services/loader/firmware_api/firmware_api.cpp
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_info.c
  firmware/targets/furi_hal_include/furi_hal_info.h
  furi/core/common_defines.h
Labels: core+services

#2616 [#2612] Remove spaces in CSN
  applications/external/picopass/scenes/picopass_scene_read_card_success.c
Labels: NFC, UI, applications

#2604 WS: add protocol "Wendox W6726"
  applications/external/weather_station/protocols/protocol_items.c
  applications/external/weather_station/protocols/protocol_items.h
  applications/external/weather_station/protocols/wendox_w6726.c
  applications/external/weather_station/protocols/wendox_w6726.h
Labels: Sub-GHz, new feature

#2607 [#2591] BadUSB: command parser fix
  applications/main/bad_usb/helpers/ducky_script_commands.c
Labels: USB, bug

#2627 Add HID mouse auto-clicker.
  applications/external/hid_app/hid.c
  applications/external/hid_app/hid.h
  applications/external/hid_app/views.h
  applications/external/hid_app/views/hid_mouse_clicker.c
  applications/external/hid_app/views/hid_mouse_clicker.h
  applications/external/hid_app/views/hid_mouse_jiggler.c
Labels: applications, new feature

#2554 [FL-3242] SubGhz: refactoring app
  applications/external/weather_station/views/weather_station_receiver.c
  applications/main/subghz/helpers/subghz_custom_event.h
  applications/main/subghz/helpers/subghz_frequency_analyzer_worker.c
  applications/main/subghz/helpers/subghz_threshold_rssi.c
  applications/main/subghz/helpers/subghz_threshold_rssi.h
  applications/main/subghz/helpers/subghz_txrx.c
  applications/main/subghz/helpers/subghz_txrx.h
  applications/main/subghz/helpers/subghz_txrx_create_potocol_key.c
  applications/main/subghz/helpers/subghz_txrx_create_potocol_key.h
  applications/main/subghz/helpers/subghz_txrx_i.h
  applications/main/subghz/helpers/subghz_types.h
  applications/main/subghz/scenes/subghz_scene_delete.c
  applications/main/subghz/scenes/subghz_scene_delete_raw.c
  applications/main/subghz/scenes/subghz_scene_need_saving.c
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/scenes/subghz_scene_receiver_info.c
  applications/main/subghz/scenes/subghz_scene_region_info.c
  applications/main/subghz/scenes/subghz_scene_rpc.c
  applications/main/subghz/scenes/subghz_scene_save_name.c
  applications/main/subghz/scenes/subghz_scene_save_success.c
  applications/main/subghz/scenes/subghz_scene_saved.c
  applications/main/subghz/scenes/subghz_scene_set_type.c
  applications/main/subghz/scenes/subghz_scene_show_error.c
  applications/main/subghz/scenes/subghz_scene_start.c
  applications/main/subghz/scenes/subghz_scene_transmitter.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_i.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/views/receiver.c
  applications/main/subghz/views/receiver.h
  applications/main/subghz/views/subghz_read_raw.c
  applications/main/subghz/views/subghz_read_raw.h
  applications/main/subghz/views/transmitter.c
  applications/main/subghz/views/transmitter.h
  lib/subghz/environment.c
Labels: Sub-GHz

#2593 [FL-3270] Loader refactoring, part 1
  .gitignore
  applications/services/cli/cli_commands.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/gui/modules/menu.c
  applications/services/loader/application.fam
  applications/services/loader/loader.c
  applications/services/loader/loader.h
  applications/services/loader/loader_cli.c
  applications/services/loader/loader_i.h
  applications/services/loader/loader_menu.c
  applications/services/loader/loader_menu.h
  applications/settings/system/system_settings.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
Labels: core+services

#2639 Fix storage.py exist_dir logic
  scripts/flipper/storage.py
Labels: bug, build system & scripts

#2648 [FL-3301] ufbt: improvements
  SConstruct
  documentation/fbt.md
  scripts/fbt_tools/fbt_apps.py
  scripts/fbt_tools/fbt_help.py
  scripts/ufbt/SConstruct
  scripts/ufbt/project_template/app_template/.github/workflows/build.yml
  scripts/ufbt/site_tools/ufbt_help.py
Labels: build system & scripts

#2649 [FL-3300] API version in UI
  .vscode/example/launch.json
  .vscode/extensions.json
  applications/services/desktop/views/desktop_view_debug.c
  applications/settings/about/about.c
  scripts/flipper/storage.py
  scripts/selfupdate.py
  scripts/ufbt/project_template/.vscode/extensions.json
Labels: build system & scripts, UI

#2638 [FL-3299] furi_crash: added C2 status; added fw-version gdb command
  .vscode/example/launch.json
  SConstruct
  debug/flipperversion.py
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/furi_hal_include/furi_hal_bt.h
  furi/core/check.c
  lib/toolbox/version.c
  scripts/fbt_tools/fbt_debugopts.py
  scripts/ufbt/project_template/.vscode/launch.json
  scripts/version.py
Labels: build system & scripts, core+services

#2651 Debug: revert cortex debug to lxml and drop DWT
  .github/workflows/build.yml
  .vscode/example/launch.json
  debug/PyCortexMDebug/README.md
  debug/PyCortexMDebug/cmdebug/dwt_gdb.py
  debug/PyCortexMDebug/cmdebug/x2d.py
  scripts/debug/FreeRTOS/FreeRTOS.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/EventGroup.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/GDBCommands.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/HandleRegistry.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/List.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/QueueTools.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/Task.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/Types.py
  scripts/debug/FreeRTOS/FreeRTOSgdb/__init__.py
  scripts/debug/FreeRTOS/LICENSE
  scripts/debug/FreeRTOS/README.md
  scripts/debug/PyCortexMDebug/LICENSE
  scripts/debug/PyCortexMDebug/PyCortexMDebug.py
  scripts/debug/PyCortexMDebug/README.md
  scripts/debug/PyCortexMDebug/cmdebug/__init__.py
  scripts/debug/PyCortexMDebug/cmdebug/svd.py
  scripts/debug/PyCortexMDebug/cmdebug/svd_gdb.py
  scripts/debug/STM32WB55_CM4.svd
  scripts/debug/flipperapps.py
  scripts/debug/flipperversion.py
  scripts/debug/fw.jflash
  scripts/debug/gdbinit
  scripts/debug/stm32wbx.cfg
  scripts/fbt_tools/fbt_debugopts.py
  scripts/sconsdist.py
  scripts/ufbt/SConstruct
  scripts/ufbt/site_tools/ufbt_state.py
Labels: build system & scripts

#2070 added DigitalSequence and PulseReader
  assets/unit_tests/nfc/nfc_nfca_signal_long.nfc
  assets/unit_tests/nfc/nfc_nfca_signal_short.nfc
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/target.json
  lib/SConscript
  lib/digital_signal/digital_signal.c
  lib/digital_signal/digital_signal.h
  lib/pulse_reader/SConscript
  lib/pulse_reader/pulse_reader.c
  lib/pulse_reader/pulse_reader.h
Labels: new feature, core+services

#2517 Add Mfkey32 application
  applications/external/mfkey32/application.fam
  applications/external/mfkey32/images/mfkey.png
  applications/external/mfkey32/mfkey.png
  applications/external/mfkey32/mfkey32.c
  applications/main/nfc/scenes/nfc_scene_mfkey_complete.c
Labels: NFC, applications

#2653 [FL-3302] ble: attempt to handle hardfaulted c2
  ReadMe.md
  applications/external/mfkey32/mfkey32.c
  firmware/targets/f7/ble_glue/ble_glue.c
  lib/ReadMe.md
  lib/stm32wb.scons
Labels: Bluetooth

#2662 [FL-3302] Part 2 of hooking C2 IPC
  firmware/targets/f7/ble_glue/ble_glue.c
  lib/stm32wb.scons
Labels: core+services, Bluetooth

#2661 SubGHz: Fix typos
  applications/debug/unit_tests/subghz/subghz_test.c
  applications/main/subghz/helpers/subghz_txrx_create_protocol_key.c
  applications/main/subghz/helpers/subghz_txrx_create_protocol_key.h
  applications/main/subghz/scenes/subghz_scene_set_type.c
  lib/subghz/protocols/keeloq_common.c
Labels: Sub-GHz

#2691 [FL-3328] Removed user-specific data from tar artifacts
  scripts/sconsdist.py
  scripts/update.py
Labels: build system & scripts

#2666 :sparkles: Add fr-FR-mac key layout
  assets/resources/badusb/assets/layouts/fr-FR-mac.kl
Labels: USB, UI

#2682 USB HID report timeout
  firmware/targets/f7/furi_hal/furi_hal_usb_hid.c
Labels: USB, Bug

#2686 Add Airwell Prime DCI Series and match file style
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2669 nfc: Fix MFUL tearing flags read
  lib/nfc/protocols/mifare_ultralight.c
Labels: NFC

#2702 api: added toolbox/api_lock.h
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/toolbox/SConscript
Labels: App Loader

#2701 Update ac.ir
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2668 nfc: Mifare Ultralight C detection
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_menu.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  firmware/targets/f7/api_symbols.csv
  lib/nfc/nfc_types.c
  lib/nfc/protocols/mifare_ultralight.c
  lib/nfc/protocols/mifare_ultralight.h
Labels: NFC

#2680 [LRFID] Add support for Nexkey/Nexwatch
  lib/lfrfid/protocols/lfrfid_protocols.c
  lib/lfrfid/protocols/lfrfid_protocols.h
  lib/lfrfid/protocols/protocol_nexwatch.c
  lib/lfrfid/protocols/protocol_nexwatch.h
Labels: RFID 125kHz, New Feature

#2707 Add Carrier 42QHB12D8S
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2700 BadUSB: script execution pause
  applications/main/bad_usb/helpers/ducky_script.c
  applications/main/bad_usb/helpers/ducky_script.h
  applications/main/bad_usb/scenes/bad_usb_scene_work.c
  applications/main/bad_usb/views/bad_usb_view.c
Labels: USB, New Feature

#2683 Implement support for reading Opal card (Sydney, Australia)
  applications/main/nfc/scenes/nfc_scene_device_info.c
  applications/main/nfc/scenes/nfc_scene_mf_desfire_read_success.c
  applications/main/nfc/scenes/nfc_scene_nfc_data_info.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_rtc.c
  firmware/targets/furi_hal_include/furi_hal_rtc.h
  lib/nfc/nfc_worker.c
  lib/nfc/parsers/nfc_supported_card.c
  lib/nfc/parsers/nfc_supported_card.h
  lib/nfc/parsers/opal.c
  lib/nfc/parsers/opal.h
  lib/nfc/protocols/mifare_desfire.c
  lib/nfc/protocols/mifare_desfire.h
Labels: NFC, New Feature

#2614 [FL-3295] FuriHal: add bus abstraction
  applications/debug/lfrfid_debug/scenes/lfrfid_debug_app_scene_tune.c
  documentation/FuriHalBus.md
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f18/furi_hal/furi_hal.c
  firmware/targets/f18/furi_hal/furi_hal_resources.c
  firmware/targets/f18/furi_hal/furi_hal_spi_config.c
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal.c
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/f7/furi_hal/furi_hal_bus.c
  firmware/targets/f7/furi_hal/furi_hal_bus.h
  firmware/targets/f7/furi_hal/furi_hal_clock.c
  firmware/targets/f7/furi_hal/furi_hal_crypto.c
  firmware/targets/f7/furi_hal/furi_hal_dma.c
  firmware/targets/f7/furi_hal/furi_hal_dma.h
  firmware/targets/f7/furi_hal/furi_hal_flash.c
  firmware/targets/f7/furi_hal/furi_hal_i2c_config.c
  firmware/targets/f7/furi_hal/furi_hal_ibutton.c
  firmware/targets/f7/furi_hal/furi_hal_idle_timer.h
  firmware/targets/f7/furi_hal/furi_hal_infrared.c
  firmware/targets/f7/furi_hal/furi_hal_pwm.c
  firmware/targets/f7/furi_hal/furi_hal_random.c
  firmware/targets/f7/furi_hal/furi_hal_resources.c
  firmware/targets/f7/furi_hal/furi_hal_rfid.c
  firmware/targets/f7/furi_hal/furi_hal_rfid.h
  firmware/targets/f7/furi_hal/furi_hal_rtc.c
  firmware/targets/f7/furi_hal/furi_hal_speaker.c
  firmware/targets/f7/furi_hal/furi_hal_spi_config.c
  firmware/targets/f7/furi_hal/furi_hal_spi_types.h
  firmware/targets/f7/furi_hal/furi_hal_subghz.c
  firmware/targets/f7/furi_hal/furi_hal_uart.c
  firmware/targets/f7/furi_hal/furi_hal_usb.c
  firmware/targets/f7/src/update.c
  firmware/targets/furi_hal_include/furi_hal.h
  firmware/targets/furi_hal_include/furi_hal_random.h
  lib/digital_signal/digital_signal.c
  lib/lfrfid/lfrfid_raw_worker.c
  lib/lfrfid/lfrfid_worker_modes.c
  lib/lfrfid/tools/t5577.c
  lib/nfc/parsers/opal.c
  lib/pulse_reader/pulse_reader.c
Labels: Core+Services

#2710 NFC: Fix gen1 writing with invalid BCC (lost fix from PR #2511)
  applications/external/nfc_magic/lib/magic/classic_gen1.c
  applications/external/nfc_magic/lib/magic/classic_gen1.h
  applications/external/nfc_magic/lib/magic/magic.c
  applications/external/nfc_magic/nfc_magic_worker.c
Labels: NFC, Bug, Applications
