Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-06, with the labels that each got.

#2725 FuriHal: disable bus re-initialization on early init and extra asserts for AHB1,AHB2,AHB3 which must be left intact on entering to FUS
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/f7/furi_hal/furi_hal_bus.c
Labels: Bug, Core+Services

#2736 [FL-3293] FuriHal: add system setting to device info, bump device info version
  firmware/targets/f7/furi_hal/furi_hal_info.c
Labels: Core+Services

#2737 [FL-3316] Settings: add contrast adjustment
  applications/services/notification/notification.h
  applications/services/notification/notification_app.c
  applications/services/notification/notification_app.h
  applications/services/notification/notification_messages.c
  applications/services/notification/notification_messages.h
  applications/settings/notification_settings/notification_settings_app.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/toolbox/value_index.c
  lib/toolbox/value_index.h
  lib/u8g2/u8g2_glue.c
  lib/u8g2/u8g2_glue.h
Labels: UI, New Feature, Core+Services

#2735 [FL-3352] Dolphin: new animation
  assets/dolphin/external/L2_Dj_128x64/frame_0.png
  assets/dolphin/external/L2_Dj_128x64/frame_1.png
  assets/dolphin/external/L2_Dj_128x64/frame_10.png
  assets/dolphin/external/L2_Dj_128x64/frame_11.png
  assets/dolphin/external/L2_Dj_128x64/frame_12.png
  assets/dolphin/external/L2_Dj_128x64/frame_13.png
  assets/dolphin/external/L2_Dj_128x64/frame_14.png
  assets/dolphin/external/L2_Dj_128x64/frame_15.png
  assets/dolphin/external/L2_Dj_128x64/frame_16.png
  assets/dolphin/external/L2_Dj_128x64/frame_17.png
  assets/dolphin/external/L2_Dj_128x64/frame_18.png
  assets/dolphin/external/L2_Dj_128x64/frame_19.png
  assets/dolphin/external/L2_Dj_128x64/frame_2.png
  assets/dolphin/external/L2_Dj_128x64/frame_20.png
  assets/dolphin/external/L2_Dj_128x64/frame_21.png
  assets/dolphin/external/L2_Dj_128x64/frame_22.png
  assets/dolphin/external/L2_Dj_128x64/frame_23.png
  assets/dolphin/external/L2_Dj_128x64/frame_24.png
  assets/dolphin/external/L2_Dj_128x64/frame_25.png
  assets/dolphin/external/L2_Dj_128x64/frame_26.png
  assets/dolphin/external/L2_Dj_128x64/frame_27.png
  assets/dolphin/external/L2_Dj_128x64/frame_28.png
  assets/dolphin/external/L2_Dj_128x64/frame_29.png
  assets/dolphin/external/L2_Dj_128x64/frame_3.png
  assets/dolphin/external/L2_Dj_128x64/frame_30.png
  assets/dolphin/external/L2_Dj_128x64/frame_31.png
  assets/dolphin/external/L2_Dj_128x64/frame_32.png
  assets/dolphin/external/L2_Dj_128x64/frame_33.png
  assets/dolphin/external/L2_Dj_128x64/frame_34.png
  assets/dolphin/external/L2_Dj_128x64/frame_35.png
  assets/dolphin/external/L2_Dj_128x64/frame_36.png
  assets/dolphin/external/L2_Dj_128x64/frame_4.png
  assets/dolphin/external/L2_Dj_128x64/frame_5.png
  assets/dolphin/external/L2_Dj_128x64/frame_6.png
  assets/dolphin/external/L2_Dj_128x64/frame_7.png
  assets/dolphin/external/L2_Dj_128x64/frame_8.png
  assets/dolphin/external/L2_Dj_128x64/frame_9.png
  assets/dolphin/external/L2_Dj_128x64/meta.txt
  assets/dolphin/external/manifest.txt
Labels: UI, New Feature

#2740 [FL-2872] Remove unused resources
  applications/main/nfc/scenes/nfc_scene_restore_original_confirm.c
  assets/icons/NFC/Reader_detect_43x40.png
  assets/icons/NFC/Restoring_38x32.png
  assets/icons/NFC/Tap_reader_36x38.png
Labels: UI

#2721 Scripts: Fixing serial cli logger error so it sounds more concise
  scripts/serial_cli.py
Labels: Build System & Scripts

#2742 [FL-3045] Fix core2 permisions
  scripts/flipper/assets/copro.py
  scripts/flipper/assets/coprobin.py
Labels: Bug, Build System & Scripts

#2720 [FL-3246] fbt, ufbt: added checks for appid in app manifests
  scripts/fbt/appmanifest.py
  scripts/ufbt/SConstruct
Labels: Build System & Scripts

#2723 [FL-3346] fbt: added Flipper selection when multiple are connected over USB
  SConstruct
  scripts/fbt_tools/fbt_dist.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/flipper/utils/cdc.py
  scripts/serial_cli.py
  scripts/ufbt/SConstruct
  scripts/ufbt/commandline.scons
  site_scons/commandline.scons
Labels: Build System & Scripts

#2316 added ISO15693 (NfcV) reading, saving, emulating and revealing from privacy mode (unlock)
  applications/main/nfc/helpers/nfc_custom_event.h
  applications/main/nfc/nfc.c
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_delete.c
  applications/main/nfc/scenes/nfc_scene_extra_actions.c
  applications/main/nfc/scenes/nfc_scene_nfc_data_info.c
  applications/main/nfc/scenes/nfc_scene_nfcv_emulate.c
  applications/main/nfc/scenes/nfc_scene_nfcv_key_input.c
  applications/main/nfc/scenes/nfc_scene_nfcv_menu.c
  applications/main/nfc/scenes/nfc_scene_nfcv_read_success.c
  applications/main/nfc/scenes/nfc_scene_nfcv_sniff.c
  applications/main/nfc/scenes/nfc_scene_nfcv_unlock.c
  applications/main/nfc/scenes/nfc_scene_nfcv_unlock_menu.c
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_rpc.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  firmware/targets/f7/api_symbols.csv
  lib/digital_signal/digital_signal.c
  lib/nfc/nfc_device.c
  lib/nfc/nfc_device.h
  lib/nfc/nfc_worker.c
  lib/nfc/nfc_worker.h
  lib/nfc/nfc_worker_i.h
  lib/nfc/protocols/nfcv.c
  lib/nfc/protocols/nfcv.h
  lib/nfc/protocols/slix.c
  lib/nfc/protocols/slix.h
Labels: NFC, UI, New Feature

#2743 [FL-3351] github: re-enabled f18 build
  .github/workflows/build.yml
  applications/main/nfc/scenes/nfc_scene_nfcv_emulate.c
  lib/nfc/nfc_device.c
  lib/nfc/nfc_worker.c
  lib/nfc/protocols/nfcv.c
  lib/nfc/protocols/slix.c
  scripts/flipper/storage.py
Labels: Build System & Scripts

#2625 Scripts: WiFi board updater
  scripts/wifi_board.py
Labels: Build System & Scripts

#2587 [FL-3267] ble: refactored bt gatt characteristics setup
  applications/services/bt/bt_service/bt.c
  firmware/targets/f7/ble_glue/app_debug.c
  firmware/targets/f7/ble_glue/ble_app.c
  firmware/targets/f7/ble_glue/dev_info_service.c
  firmware/targets/f7/ble_glue/hid_service.c
  firmware/targets/f7/ble_glue/services/battery_service.c
  firmware/targets/f7/ble_glue/services/battery_service.h
  firmware/targets/f7/ble_glue/services/dev_info_service.c
  firmware/targets/f7/ble_glue/services/dev_info_service.h
  firmware/targets/f7/ble_glue/services/dev_info_service_uuid.inc
  firmware/targets/f7/ble_glue/services/gatt_char.c
  firmware/targets/f7/ble_glue/services/gatt_char.h
  firmware/targets/f7/ble_glue/services/hid_service.c
  firmware/targets/f7/ble_glue/services/hid_service.h
  firmware/targets/f7/ble_glue/services/serial_service.c
  firmware/targets/f7/ble_glue/services/serial_service.h
  firmware/targets/f7/ble_glue/services/serial_service_uuid.inc
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/f7/furi_hal/furi_hal_bt_hid.c
  firmware/targets/f7/furi_hal/furi_hal_bt_serial.c
  firmware/targets/furi_hal_include/furi_hal_bt.h
  firmware/targets/furi_hal_include/furi_hal_bt_serial.h
Labels: Core+Services, Bluetooth

#2643 FuriHal: always clock SMPS from HSI
  firmware/targets/f7/furi_hal/furi_hal_clock.c
Labels: Core+Services

#2748 weather_station: add oregon3 protocol support with THGR221
  applications/external/weather_station/protocols/oregon3.c
  applications/external/weather_station/protocols/oregon3.h
  applications/external/weather_station/protocols/protocol_items.c
  applications/external/weather_station/protocols/protocol_items.h
Labels: Sub-GHz, Applications, New Feature

#2751 [FL-3361] fbt: stable build dates
  scripts/version.py
Labels: Build System & Scripts

#2620 [FL-3284] Fix reading Mifare Classic cards with unusual access conditions and fix emulation of unknown keys
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/nfc/nfc_worker.c
  lib/nfc/protocols/mifare_classic.c
  lib/nfc/protocols/mifare_classic.h
Labels: NFC, Bug

#2764 FuriHal: remove clock startup time tracking from clean builds
  firmware/targets/f7/furi_hal/furi_hal_clock.c
Labels: Core+Services

#2773 furi_hal_nfc: fix furi_hal_nfc_emulate_nfca
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
Labels: NFC, Bug

#2776 [FL-3376] Fixed GATT attribute order
  firmware/targets/f7/ble_glue/gap.c
  firmware/targets/f7/ble_glue/services/hid_service.c
  firmware/targets/f7/ble_glue/services/serial_service.c
Labels: Bug, Core+Services

#2779 [FL-2837][FL-3270] Loader refaptoring: second encounter
  applications/ReadMe.md
  applications/main/application.fam
  applications/main/archive/helpers/archive_browser.c
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/fap_loader/application.fam
  applications/main/fap_loader/fap_loader_app.c
  applications/main/fap_loader/fap_loader_app.h
  applications/services/applications.h
  applications/services/desktop/desktop.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/dialogs/dialogs_i.h
  applications/services/gui/view_holder.c
  applications/services/gui/view_holder.h
  applications/services/loader/loader.c
  applications/services/loader/loader.h
  applications/services/loader/loader_applications.c
  applications/services/loader/loader_applications.h
  applications/services/loader/loader_cli.c
  applications/services/loader/loader_i.h
  applications/services/loader/loader_menu.c
  applications/services/loader/loader_menu.h
  applications/services/rpc/rpc_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/system/storage_move_to_sd/storage_move_to_sd.c
  applications/system/updater/cli/updater_cli.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/flipper_application/flipper_application.c
  lib/flipper_application/flipper_application.h
  scripts/distfap.py
  scripts/fbt/appmanifest.py
  scripts/runfap.py
Labels: Build System & Scripts, Core+Services, App Loader

#2784 [FL-3373] Scroll acceleration
  applications/main/archive/views/archive_browser_view.c
  applications/main/archive/views/archive_browser_view.h
  applications/services/gui/modules/file_browser.c
  applications/services/gui/modules/text_box.c
Labels: UI, New Feature

#2756 fix: make `dialog_file_browser_set_basic_options` initialize all fields
  CODING_STYLE.md
  applications/debug/unit_tests/dialogs/dialogs_file_browser_options.c
  applications/debug/unit_tests/test_index.c
  applications/services/dialogs/dialogs.c
  applications/services/dialogs/dialogs.h
Labels: Bug

#2762 Fix M*LIB usage
  applications/main/subghz/helpers/subghz_frequency_analyzer_log_item_array.h
  furi/core/string.c
  furi/core/string.h
  lib/toolbox/m_cstr_dup.h
Labels: Core+Services

#2793 LF-RFID debug: make it work
  applications/debug/lfrfid_debug/scenes/lfrfid_debug_app_scene_tune.c
  applications/debug/lfrfid_debug/views/lfrfid_debug_view_tune.c
  applications/debug/lfrfid_debug/views/lfrfid_debug_view_tune.h
Labels: RFID 125kHz, Bug

#2790 [FL-3386] Fast FAP Loader
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/flipper_application/api_hashtable/api_hashtable.cpp
  lib/flipper_application/api_hashtable/api_hashtable.h
  lib/flipper_application/elf/elf_api_interface.h
  lib/flipper_application/elf/elf_file.c
  lib/flipper_application/elf/elf_file_i.h
  lib/flipper_application/plugins/composite_resolver.c
  scripts/distfap.py
  scripts/fastfap.py
  scripts/fbt/sdk/collector.py
  scripts/fbt/sdk/hashes.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/fwsize.py
  scripts/get_env.py
  scripts/runfap.py
  scripts/sconsdist.py
  scripts/selfupdate.py
  scripts/slideshow.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/version.py
Labels: Build System & Scripts, App Loader

#2795 [FL-3388] NFC/RFID detector
  applications/external/nfc_rfid_detector/application.fam
  applications/external/nfc_rfid_detector/helpers/nfc_rfid_detector_event.h
  applications/external/nfc_rfid_detector/helpers/nfc_rfid_detector_types.h
  applications/external/nfc_rfid_detector/images/Modern_reader_18x34.png
  applications/external/nfc_rfid_detector/images/Move_flipper_26x39.png
  applications/external/nfc_rfid_detector/images/NFC_detect_45x30.png
  applications/external/nfc_rfid_detector/images/Rfid_detect_45x30.png
  applications/external/nfc_rfid_detector/nfc_rfid_detector_10px.png
  applications/external/nfc_rfid_detector/nfc_rfid_detector_app.c
  applications/external/nfc_rfid_detector/nfc_rfid_detector_app_i.c
  applications/external/nfc_rfid_detector/nfc_rfid_detector_app_i.h
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene.c
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene.h
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene_about.c
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene_config.h
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene_field_presence.c
  applications/external/nfc_rfid_detector/scenes/nfc_rfid_detector_scene_start.c
  applications/external/nfc_rfid_detector/views/nfc_rfid_detector_view_field_presence.c
  applications/external/nfc_rfid_detector/views/nfc_rfid_detector_view_field_presence.h
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
  firmware/targets/f7/furi_hal/furi_hal_nfc.h
  firmware/targets/f7/furi_hal/furi_hal_rfid.c
  firmware/targets/f7/furi_hal/furi_hal_rfid.h
Labels: NFC, RFID 125kHz, Applications, New Feature

#2799 Fix furi_hal_bus related crashes in plugins
  applications/external/avr_isp_programmer/helpers/avr_isp_worker_rw.c
  applications/external/signal_generator/scenes/signal_gen_scene_pwm.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_pwm.c
  firmware/targets/f7/furi_hal/furi_hal_pwm.h
Labels: Bug, Applications

#2800 Add Mitsubishi MSZ-AP25VGK universal ac remote
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2794 Keynote with vertical layout
  applications/external/hid_app/assets/Space_60x18.png
  applications/external/hid_app/hid.c
  applications/external/hid_app/views/hid_keynote.c
  applications/external/hid_app/views/hid_keynote.h
Labels: UI, Applications

#2783 SLIX2 emulation support / practical use for Dymo printers
  applications/main/nfc/scenes/nfc_scene_nfc_data_info.c
  applications/main/nfc/scenes/nfc_scene_nfcv_read_success.c
  lib/digital_signal/digital_signal.c
  lib/nfc/nfc_device.c
  lib/nfc/protocols/nfcv.c
  lib/nfc/protocols/nfcv.h
  lib/nfc/protocols/slix.c
  lib/nfc/protocols/slix.h
Labels: NFC, Bug

#2782 NFC: Fix key invalidation logic
  applications/main/nfc/nfc_cli.c
  lib/nfc/nfc_worker.c
Labels: NFC, Bug

#2819 Furi,FuriHal: various improvements
  applications/debug/crash_test/application.fam
  applications/debug/crash_test/crash_test.c
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  furi/core/check.c
  furi/core/check.h
  lib/u8g2/u8g2_glue.c
Labels: Core+Services

#2306 fix width of submenu items on Vertical orientation
  applications/services/gui/modules/submenu.c
Labels: UI
