Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-03, with the labels that each got.

#2181 [FL-3055] Getter for application data path
  .pvsconfig
  applications/debug/unit_tests/rpc/rpc_test.c
  applications/debug/unit_tests/storage/dirwalk_test.c
  applications/debug/unit_tests/storage/storage_test.c
  applications/examples/example_apps_data/README.md
  applications/examples/example_apps_data/application.fam
  applications/examples/example_apps_data/example_apps_data.c
  applications/main/archive/helpers/archive_browser.c
  applications/main/archive/helpers/archive_favorites.c
  applications/main/archive/helpers/archive_files.c
  applications/main/fap_loader/fap_loader_app.c
  applications/plugins/hid_app/hid.c
  applications/plugins/hid_app/hid.h
  applications/plugins/music_player/music_player.c
  applications/plugins/picopass/helpers/iclass_elite_dict.c
  applications/plugins/picopass/picopass.c
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/scenes/picopass_scene_save_name.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_start.c
  applications/plugins/spi_mem_manager/spi_mem_app.c
  applications/plugins/spi_mem_manager/spi_mem_app_i.h
  applications/plugins/spi_mem_manager/spi_mem_files.c
  applications/plugins/spi_mem_manager/spi_mem_files.h
  applications/services/applications.h
  applications/services/bt/bt_service/bt_api.c
  applications/services/cli/cli_commands.c
  applications/services/dialogs/dialogs_api.c
  applications/services/gui/modules/file_browser_worker.c
  applications/services/loader/loader.c
  applications/services/rpc/rpc_storage.c
  applications/services/storage/filesystem_api.c
  applications/services/storage/filesystem_api_defines.h
  applications/services/storage/storage.h
  applications/services/storage/storage_cli.c
  applications/services/storage/storage_external_api.c
  applications/services/storage/storage_glue.c
  applications/services/storage/storage_glue.h
  applications/services/storage/storage_i.h
  applications/services/storage/storage_message.h
  applications/services/storage/storage_processing.c
  applications/services/storage/storage_test_app.c
  applications/system/storage_move_to_sd/storage_move_to_sd.c
  assets/resources/apps_data/music_player/Marble_Machine.fmf
  assets/resources/apps_data/picopass/assets/iclass_elite_dict.txt
  firmware/targets/f7/api_symbols.csv
  furi/core/thread.c
  furi/core/thread.h
  furi/flipper.c
  lib/toolbox/dir_walk.c
  lib/toolbox/tar/tar_archive.c
  scripts/fbt/appmanifest.py
Labels: new feature, core+services

#2405 [FL-3103] New pin reset splashscreen
  assets/icons/ErasePin/Erase_pin_128x64.png
  firmware/targets/f7/src/recovery.c
Labels: UI

#2454 Fix "Music player" path for Dummy mode
  applications/services/desktop/scenes/desktop_scene_main.c
Labels: bug

#2452 fix typo
  documentation/fbt.md
Labels: documentation

#2440 [FL-3127] Fix navigation on unsupported card types
  applications/main/nfc/scenes/nfc_scene_read_card_success.c
Labels: NFC, UI

#2441 [FL-3117] Infrared: Fix hangups on repeated button press
  applications/main/infrared/infrared.c
  applications/main/infrared/infrared_i.h
Labels: bug, iButton

#2446 [#2446] clock_app-am-to-pm-patch
  applications/plugins/clock/clock_app.c
Labels: UI, applications

#2463 Fix SD card CID parsing
  firmware/targets/f7/fatfs/sd_spi_io.c
Labels: bug, core+services

#2464 Fixed picopass load save file overrun
  applications/plugins/picopass/picopass_device.c
Labels: NFC

#2451 Support reseting iCx cards
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/picopass_worker_i.h
  applications/plugins/picopass/scenes/picopass_scene_card_menu.c
  applications/plugins/picopass/scenes/picopass_scene_config.h
  applications/plugins/picopass/scenes/picopass_scene_key_menu.c
  applications/plugins/picopass/scenes/picopass_scene_read_card.c
  applications/plugins/picopass/scenes/picopass_scene_read_factory_success.c
  applications/plugins/picopass/scenes/picopass_scene_write_key.c
Labels: NFC, new feature

#2437 NFC: Support reading Mifare Classic key B from sector trailer, reading sector with B key where A key can't read block, Nfc Magic app not using NFC folder by default (in file select)
  applications/plugins/nfc_magic/scenes/nfc_magic_scene_file_select.c
  firmware/targets/f7/api_symbols.csv
  lib/nfc/nfc_worker.c
  lib/nfc/protocols/mifare_classic.c
  lib/nfc/protocols/mifare_classic.h
Labels: NFC, bug, applications

#2419 More UI fixes and improvements
  applications/main/bad_usb/scenes/bad_usb_scene_config.c
  applications/main/ibutton/scenes/ibutton_scene_exit_confirm.c
  applications/main/ibutton/scenes/ibutton_scene_read.c
  applications/main/ibutton/scenes/ibutton_scene_retry_confirm.c
  applications/main/infrared/scenes/infrared_scene_ask_back.c
  applications/main/infrared/scenes/infrared_scene_ask_retry.c
  applications/main/lfrfid/scenes/lfrfid_scene_retry_confirm.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_menu.c
  applications/main/nfc/scenes/nfc_scene_retry_confirm.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
  applications/main/subghz/scenes/subghz_scene_need_saving.c
Labels: UI

#2462 Upside down / left handed orientation support
  .gitignore
  applications/services/gui/canvas.c
  applications/services/gui/gui.c
  applications/services/gui/gui_i.h
  applications/services/gui/view_dispatcher.c
  applications/services/gui/view_port.c
  applications/services/input/input.c
  applications/services/input/input.h
  applications/services/rpc/rpc_gui.c
  applications/settings/system/system_settings.c
  firmware/targets/furi_hal_include/furi_hal_rtc.h
Labels: UI, new feature, core+services

#2448 [#1989] updated parser and added stringln, hold and release
  applications/main/bad_usb/bad_usb_script.c
  applications/main/bad_usb/bad_usb_script.h
  applications/main/bad_usb/mnemonic.c
  applications/main/bad_usb/mnemonic.h
Labels: USB, new feature

#2488 SubGhz: bugfix unable to send, new generated secplus_v2 protocol
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/secplus_v2.c
Labels: Sub-GHz, bug

#2483 Fix auto-capitalization in the keyboard
  applications/services/gui/modules/text_input.c
Labels: bug, UI

#2486 [FL-1799] Require the trailing slash for root paths
  applications/services/storage/storage_processing.c
Labels: bug, core+services

#2476 [FL-3156] Mark keys as not found when they couldn't auth successfully
  lib/nfc/nfc_worker.c
  lib/nfc/protocols/mifare_classic.c
Labels: NFC, bug

#2494 [FL-3064] Skip the read when the card is not present
  applications/main/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/main/nfc/views/dict_attack.c
  applications/main/nfc/views/dict_attack.h
Labels: NFC, UI

#2492 iButton: Add support for Dallas DS1971 v2
  documentation/file_formats/iButtonFileFormat.md
  lib/one_wire/ibutton/protocols/dallas/dallas_common.c
  lib/one_wire/ibutton/protocols/dallas/dallas_common.h
  lib/one_wire/ibutton/protocols/dallas/protocol_ds1971.c
  lib/one_wire/ibutton/protocols/dallas/protocol_ds1971.h
  lib/one_wire/ibutton/protocols/dallas/protocol_ds1992.c
  lib/one_wire/ibutton/protocols/dallas/protocol_ds1996.c
  lib/one_wire/ibutton/protocols/dallas/protocol_group_dallas_defs.c
  lib/one_wire/ibutton/protocols/dallas/protocol_group_dallas_defs.h
Labels: new feature, iButton

#2504 [FL-3180] OTP programmer: return exit code based on error type
  scripts/flipper/utils/programmer_openocd.py
  scripts/otp.py
Labels: build system

#2493 SD Driver: reinit sd card on error
  applications/services/storage/storage_glue.c
  applications/services/storage/storage_glue.h
  applications/services/storage/storage_processing.c
  applications/services/storage/storages/storage_ext.c
  firmware/targets/f18/furi_hal/furi_hal.c
  firmware/targets/f7/fatfs/fatfs.c
  firmware/targets/f7/fatfs/fatfs.h
  firmware/targets/f7/fatfs/ffconf.h
  firmware/targets/f7/fatfs/syscall.c
  firmware/targets/f7/fatfs/user_diskio.c
  firmware/targets/f7/fatfs/user_diskio.h
  firmware/targets/f7/furi_hal/furi_hal.c
  firmware/targets/f7/src/update.c
Labels: core+services

#2507 [FL-3161] Improved debugging experience for external apps
  applications/main/fap_loader/fap_loader_app.c
  debug/flipperapps.py
  documentation/AppsOnSDCard.md
  lib/flipper_application/elf/elf_file.c
  lib/flipper_application/flipper_application.c
Labels: AppLoader

#2506 [FL-3182] Fix typos in iButton
  documentation/file_formats/iButtonFileFormat.md
  lib/one_wire/ibutton/protocols/dallas/dallas_common.c
Labels: iButton

#2518 SubGhz: fix Incorrect comparison in subghz_setting_get_hopper_frequency
  lib/subghz/subghz_setting.c
Labels: Sub-GHz, bug

#2485 [FL-3134] BadUSB: Script interpreter refactoring
  applications/main/bad_usb/bad_usb_app_i.h
  applications/main/bad_usb/helpers/ducky_script.c
  applications/main/bad_usb/helpers/ducky_script.h
  applications/main/bad_usb/helpers/ducky_script_commands.c
  applications/main/bad_usb/helpers/ducky_script_i.h
  applications/main/bad_usb/helpers/ducky_script_keycodes.c
  applications/main/bad_usb/mnemonic.c
  applications/main/bad_usb/mnemonic.h
  applications/main/bad_usb/scenes/bad_usb_scene_config.c
  applications/main/bad_usb/scenes/bad_usb_scene_config_layout.c
  applications/main/bad_usb/scenes/bad_usb_scene_work.c
  applications/main/bad_usb/views/bad_usb_view.c
  applications/main/bad_usb/views/bad_usb_view.h
  applications/services/gui/modules/submenu.c
  documentation/file_formats/BadUsbScriptFormat.md
  firmware/targets/f7/furi_hal/furi_hal_usb_hid.c
  firmware/targets/furi_hal_include/furi_hal_usb_hid.h
Labels: USB

#2511 NFC: Fixed writing gen1a magic tags with invalid BCC
  applications/external/nfc_magic/lib/magic/magic.c
  applications/external/nfc_magic/nfc_magic_worker.c
Labels: NFC, applications

#2519 Remove hmac_sha256 from public API
  applications/main/u2f/hmac_sha256.c
  applications/main/u2f/hmac_sha256.h
  applications/main/u2f/u2f.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/toolbox/SConscript
Labels: AppLoader

#2524 Correct FAP default upload path in AppsOnSDCard.md
  documentation/AppsOnSDCard.md
Labels: documentation

#2523 [#2501] Disable UART IRQs by default
  firmware/targets/f7/furi_hal/furi_hal_uart.c
Labels: bug, core+services

#2522 [FL-3179] 1-Wire Overdrive Mode
  applications/examples/example_thermo/example_thermo.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/ibutton/protocols/dallas/dallas_common.h
  lib/ibutton/protocols/dallas/protocol_dallas_base.h
  lib/ibutton/protocols/dallas/protocol_ds1971.c
  lib/ibutton/protocols/dallas/protocol_ds1990.c
  lib/ibutton/protocols/dallas/protocol_ds1992.c
  lib/ibutton/protocols/dallas/protocol_ds1996.c
  lib/ibutton/protocols/dallas/protocol_ds_generic.c
  lib/one_wire/SConscript
  lib/one_wire/one_wire_host.c
  lib/one_wire/one_wire_host.h
  lib/one_wire/one_wire_host_timing.h
  lib/one_wire/one_wire_slave.c
  lib/one_wire/one_wire_slave.h
Labels: iButton

#2481 Elite progress
  applications/external/picopass/picopass.c
  applications/external/picopass/picopass_device.h
  applications/external/picopass/picopass_i.h
  applications/external/picopass/picopass_worker.c
  applications/external/picopass/picopass_worker.h
  applications/external/picopass/scenes/picopass_scene_config.h
  applications/external/picopass/scenes/picopass_scene_elite_dict_attack.c
  applications/external/picopass/scenes/picopass_scene_read_card_success.c
  applications/external/picopass/scenes/picopass_scene_start.c
  applications/external/picopass/views/dict_attack.c
  applications/external/picopass/views/dict_attack.h
Labels: NFC, UI, applications

#2543 RPC: increase max message size
  applications/services/rpc/rpc.c
  applications/services/rpc/rpc.h
Labels: core+services
