Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-04, with the labels that each got.

#2544 added WAIT_FOR_BUTTON_PRESS functionality to badusb
  applications/main/bad_usb/helpers/ducky_script.c
  applications/main/bad_usb/helpers/ducky_script.h
  applications/main/bad_usb/helpers/ducky_script_commands.c
  applications/main/bad_usb/helpers/ducky_script_i.h
  applications/main/bad_usb/views/bad_usb_view.c
  documentation/file_formats/BadUsbScriptFormat.md
Labels: USB, new feature

#2536 Fixing parsing troika card number
  lib/nfc/parsers/troika_4k_parser.c
  lib/nfc/parsers/troika_parser.c
Labels: NFC, bug

#2549 Furi: more gpio checks in HAL
  firmware/targets/f7/furi_hal/furi_hal_gpio.c
  lib/ST25RFAL002/platform.c
Labels: bug, core+services

#2560 [FL-3224] SD Driver: do not cache sd status.
  firmware/targets/f7/fatfs/user_diskio.c
Labels: core+services

#2520 [FL-3162] Moved ufbt to fbt codebase
  applications/services/loader/firmware_api/firmware_api.cpp
  documentation/AppManifests.md
  documentation/fbt.md
  firmware.scons
  scripts/fbt_tools/fbt_assets.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/fbt_sdk.py
  scripts/fbt_tools/fbt_tweaks.py
  scripts/flipper/storage.py
  scripts/get_env.py
  scripts/sconsdist.py
  scripts/serial_cli.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/ufbt/SConstruct
  scripts/ufbt/commandline.scons
  scripts/ufbt/project_template/.clang-format
  scripts/ufbt/project_template/.editorconfig
  scripts/ufbt/project_template/.gitignore
  scripts/ufbt/project_template/.vscode/c_cpp_properties.json
  scripts/ufbt/project_template/.vscode/extensions.json
  scripts/ufbt/project_template/.vscode/launch.json
  scripts/ufbt/project_template/.vscode/settings.json
  scripts/ufbt/project_template/.vscode/tasks.json
  scripts/ufbt/project_template/app_template/${FBT_APPID}.c
  scripts/ufbt/project_template/app_template/${FBT_APPID}.png
  scripts/ufbt/project_template/app_template/application.fam
  scripts/ufbt/site_init.py
  scripts/ufbt/site_tools/ufbt_help.py
  scripts/ufbt/site_tools/ufbt_state.py
  scripts/ufbt/update.scons
  site_scons/extapps.scons
Labels: build system

#2561 [FL-2524] Graphics cleanup and icon rotation
  applications/external/dap_link/gui/views/dap_main_view.c
  applications/external/dap_link/icons/ArrowDownEmpty_12x18.png
  applications/external/dap_link/icons/ArrowDownFilled_12x18.png
  applications/main/gpio/views/gpio_usb_uart.c
  applications/services/desktop/desktop.c
  applications/services/desktop/views/desktop_view_pin_input.c
  applications/services/gui/canvas.c
  applications/services/gui/canvas.h
  applications/services/gui/canvas_i.h
  assets/icons/GPIO/ArrowDownEmpty_14x15.png
  assets/icons/GPIO/ArrowDownFilled_14x15.png
  assets/icons/PIN/Pin_arrow_down_7x9.png
  assets/icons/PIN/Pin_arrow_left_9x7.png
  assets/icons/PIN/Pin_arrow_right_9x7.png
  assets/icons/PIN/Pin_back_full_40x8.png
  assets/icons/StatusBar/Lock_8x8.png
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/src/dfu.c
  firmware/targets/f7/src/recovery.c
Labels: core+services

#2475 [AVR_ISP]: add AVR ISP Programmer FAP
  applications/external/avr_isp_programmer/application.fam
  applications/external/avr_isp_programmer/avr_app_icon_10x10.png
  applications/external/avr_isp_programmer/avr_isp_app.c
  applications/external/avr_isp_programmer/avr_isp_app_i.c
  applications/external/avr_isp_programmer/avr_isp_app_i.h
  applications/external/avr_isp_programmer/helpers/avr_isp.c
  applications/external/avr_isp_programmer/helpers/avr_isp.h
  applications/external/avr_isp_programmer/helpers/avr_isp_event.h
  applications/external/avr_isp_programmer/helpers/avr_isp_types.h
  applications/external/avr_isp_programmer/helpers/avr_isp_worker.c
  applications/external/avr_isp_programmer/helpers/avr_isp_worker.h
  applications/external/avr_isp_programmer/helpers/avr_isp_worker_rw.c
  applications/external/avr_isp_programmer/helpers/avr_isp_worker_rw.h
  applications/external/avr_isp_programmer/helpers/flipper_i32hex_file.c
  applications/external/avr_isp_programmer/helpers/flipper_i32hex_file.h
  applications/external/avr_isp_programmer/images/avr_app_icon_10x10.png
  applications/external/avr_isp_programmer/images/avr_wiring.png
  applications/external/avr_isp_programmer/images/chif_not_found_83x37.png
  applications/external/avr_isp_programmer/images/chip_error_70x22.png
  applications/external/avr_isp_programmer/images/chip_long_70x22.png
  applications/external/avr_isp_programmer/images/chip_not_found_83x37.png
  applications/external/avr_isp_programmer/images/dolphin_nice_96x59.png
  applications/external/avr_isp_programmer/images/isp_active_128x53.png
  applications/external/avr_isp_programmer/images/link_waiting_77x56.png
  applications/external/avr_isp_programmer/lib/driver/avr_isp_chip_arr.c
  applications/external/avr_isp_programmer/lib/driver/avr_isp_chip_arr.h
  applications/external/avr_isp_programmer/lib/driver/avr_isp_prog.c
  applications/external/avr_isp_programmer/lib/driver/avr_isp_prog.h
  applications/external/avr_isp_programmer/lib/driver/avr_isp_prog_cmd.h
  applications/external/avr_isp_programmer/lib/driver/avr_isp_spi_sw.c
  applications/external/avr_isp_programmer/lib/driver/avr_isp_spi_sw.h
  applications/external/avr_isp_programmer/lib/driver/clock.png
  applications/external/avr_isp_programmer/scenes/avr_isp_scene.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene.h
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_about.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_chip_detect.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_config.h
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_input_name.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_load.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_programmer.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_reader.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_start.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_success.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_wiring.c
  applications/external/avr_isp_programmer/scenes/avr_isp_scene_writer.c
  applications/external/avr_isp_programmer/views/avr_isp_view_chip_detect.c
  applications/external/avr_isp_programmer/views/avr_isp_view_chip_detect.h
  applications/external/avr_isp_programmer/views/avr_isp_view_programmer.c
  applications/external/avr_isp_programmer/views/avr_isp_view_programmer.h
  applications/external/avr_isp_programmer/views/avr_isp_view_reader.c
  applications/external/avr_isp_programmer/views/avr_isp_view_reader.h
  applications/external/avr_isp_programmer/views/avr_isp_view_writer.c
  applications/external/avr_isp_programmer/views/avr_isp_view_writer.h
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/toolbox/SConscript
Labels: applications, new feature

#2572 ufbt: project & debugging updates
  .gitignore
  scripts/sconsdist.py
  scripts/ufbt/SConstruct
  scripts/ufbt/project_template/.vscode/launch.json
  scripts/ufbt/project_template/.vscode/tasks.json
  scripts/ufbt/project_template/app_template/application.fam
  scripts/ufbt/site_tools/ufbt_state.py
  site_scons/extapps.scons
Labels: build system

#2571 [FL-3241] NFC disable EMV support
  applications/main/nfc/scenes/nfc_scene_read.c
  applications/main/nfc/scenes/nfc_scene_read_card_type.c
  lib/nfc/nfc_device.h
  lib/nfc/nfc_worker.c
  lib/nfc/nfc_worker.h
  lib/nfc/nfc_worker_i.h
Labels: NFC

#2590 [#2589] Correctly aborts when correct key is found
  applications/external/picopass/picopass_worker.c
  applications/external/picopass/scenes/picopass_scene_elite_dict_attack.c
Labels: NFC, bug, applications

#2584 [FL-3264] Various stop mode fixes
  firmware/targets/f7/ble_glue/app_debug.c
  firmware/targets/f7/ble_glue/ble_app.c
  firmware/targets/f7/ble_glue/gap.c
  firmware/targets/f7/src/main.c
Labels: bug, core+services, Bluetooth

#2576 [FL-3171] Introduce stealth mode and auto-selective lock
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/scenes/desktop_scene_lock_menu.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_lock_menu.c
  applications/services/desktop/views/desktop_view_lock_menu.h
  applications/services/notification/notification_app.c
  applications/settings/notification_settings/notification_settings_app.c
  assets/icons/StatusBar/Muted_8x8.png
  firmware/targets/furi_hal_include/furi_hal_rtc.h
Labels: UI

#2592 [FL-3089] Raw RFID documentation
  documentation/LFRFIDRaw.md
Labels: RFID 125kHz, documentation

#2581 [FL-3243] github: testing SDK with ufbt action
  .github/workflows/build.yml
  .github/workflows/lint_and_submodule_check.yml
  scripts/ufbt/SConstruct
Labels: build system

#2613 [FL-3286] Don't reboot on crash in debug builds
  furi/core/check.c
  furi/core/check.h
Labels: core+services

#2615 Fix core2 crash in stop mode when clocked too slow
  firmware/targets/f7/ble_glue/ble_app.c
  firmware/targets/f7/furi_hal/furi_hal_bt.c
  firmware/targets/f7/furi_hal/furi_hal_clock.c
  firmware/targets/f7/furi_hal/furi_hal_power.c
  furi/core/check.h
Labels: core+services, Bluetooth
