Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-10, with the labels that each got.

#3142 fix #3141: 12-bits is 0xFFF (or 0xFF0) CAME/NICE 12-bit
  applications/main/subghz/scenes/subghz_scene_set_type.c
Labels: Sub-GHz

#3076 Add ST25TB poller
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_defs.c
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb.c
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb.h
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb_render.c
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb_render.h
  firmware/targets/f7/api_symbols.csv
  lib/nfc/SConscript
  lib/nfc/protocols/nfc_device_defs.c
  lib/nfc/protocols/nfc_listener_defs.c
  lib/nfc/protocols/nfc_poller_defs.c
  lib/nfc/protocols/nfc_protocol.c
  lib/nfc/protocols/nfc_protocol.h
  lib/nfc/protocols/st25tb/st25tb.c
  lib/nfc/protocols/st25tb/st25tb.h
  lib/nfc/protocols/st25tb/st25tb_poller.c
  lib/nfc/protocols/st25tb/st25tb_poller.h
  lib/nfc/protocols/st25tb/st25tb_poller_defs.h
  lib/nfc/protocols/st25tb/st25tb_poller_i.c
  lib/nfc/protocols/st25tb/st25tb_poller_i.h
Labels: NFC, New Feature

#3147 [FL-3594] NFC docs (new stack)
  applications/main/nfc/helpers/nfc_supported_cards.h
  applications/main/nfc/helpers/protocol_support/felica/felica.c
  applications/main/nfc/helpers/protocol_support/iso14443_3a/iso14443_3a.c
  applications/main/nfc/helpers/protocol_support/iso14443_3a/iso14443_3a_render.c
  applications/main/nfc/helpers/protocol_support/iso14443_3b/iso14443_3b.c
  applications/main/nfc/helpers/protocol_support/iso14443_4a/iso14443_4a.c
  applications/main/nfc/helpers/protocol_support/iso14443_4b/iso14443_4b.c
  applications/main/nfc/helpers/protocol_support/iso15693_3/iso15693_3.c
  applications/main/nfc/helpers/protocol_support/mf_classic/mf_classic.c
  applications/main/nfc/helpers/protocol_support/mf_desfire/mf_desfire.c
  applications/main/nfc/helpers/protocol_support/mf_ultralight/mf_ultralight.c
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support.c
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_base.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_common.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_defs.c
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_defs.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_gui_common.c
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_gui_common.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_render_common.h
  applications/main/nfc/helpers/protocol_support/slix/slix.c
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb.c
  applications/main/nfc/nfc_app.h
  applications/main/nfc/plugins/supported_cards/nfc_supported_card_plugin.h
  applications/main/nfc/scenes/nfc_scene_card_dump.c
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_mf_desfire_more_info.c
  applications/main/nfc/scenes/nfc_scene_more_info.c
  firmware/targets/f7/furi_hal/furi_hal_nfc.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_felica.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_i.h
  firmware/targets/f7/furi_hal/furi_hal_nfc_iso14443a.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_iso14443b.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_iso15693.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_tech_i.h
  firmware/targets/f7/furi_hal/furi_hal_nfc_timer.c
  firmware/targets/furi_hal_include/furi_hal_nfc.h
  lib/digital_signal/digital_sequence.h
  lib/digital_signal/digital_signal.c
  lib/digital_signal/digital_signal.h
  lib/digital_signal/digital_signal_i.h
  lib/digital_signal/presets/nfc/iso14443_3a_signal.h
  lib/digital_signal/presets/nfc/iso15693_signal.h
  lib/nfc/nfc.h
  lib/nfc/nfc_common.h
  lib/nfc/nfc_device.h
  lib/nfc/nfc_device_i.h
  lib/nfc/nfc_listener.h
  lib/nfc/nfc_poller.h
  lib/nfc/nfc_scanner.h
  lib/nfc/protocols/nfc_device_base.h
  lib/nfc/protocols/nfc_device_base_i.h
  lib/nfc/protocols/nfc_device_defs.c
  lib/nfc/protocols/nfc_generic_event.h
  lib/nfc/protocols/nfc_listener_base.h
  lib/nfc/protocols/nfc_poller_base.h
  lib/nfc/protocols/nfc_protocol.c
  lib/nfc/protocols/nfc_protocol.h
Labels: NFC, Documentation

#3167 [FL-3639] Fix MF DESFire record file handling
  applications/main/nfc/helpers/protocol_support/mf_desfire/mf_desfire_render.c
  lib/nfc/protocols/mf_desfire/mf_desfire.h
  lib/nfc/protocols/mf_desfire/mf_desfire_poller_i.c
Labels: NFC, Bug

#3165 [FL-3637] NFC RC fixes
  firmware.scons
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_nfc_event.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_irq.c
  firmware/targets/f7/furi_hal/furi_hal_nfc_iso15693.c
  furi/furi.h
  lib/nfc/SConscript
  lib/nfc/protocols/mf_ultralight/mf_ultralight.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_listener_i.c
  lib/signal_reader/parsers/iso15693/iso15693_parser.c
Labels: NFC, Bug

#3166 [FL-3643] Fix crash when reading files > 64B
  applications/main/nfc/helpers/protocol_support/mf_desfire/mf_desfire_render.c
  lib/nfc/protocols/mf_desfire/mf_desfire_poller.c
  lib/nfc/protocols/mf_desfire/mf_desfire_poller_i.c
Labels: NFC, Bug

#3164 [FL-3456] Allow for larger Infrared remotes
  applications/main/infrared/infrared.h
  applications/main/infrared/infrared_app.c
  applications/main/infrared/infrared_app.h
  applications/main/infrared/infrared_app_i.h
  applications/main/infrared/infrared_brute_force.c
  applications/main/infrared/infrared_brute_force.h
  applications/main/infrared/infrared_cli.c
  applications/main/infrared/infrared_i.h
  applications/main/infrared/infrared_remote.c
  applications/main/infrared/infrared_remote.h
  applications/main/infrared/infrared_remote_button.c
  applications/main/infrared/infrared_remote_button.h
  applications/main/infrared/infrared_signal.c
  applications/main/infrared/infrared_signal.h
  applications/main/infrared/scenes/common/infrared_scene_universal_common.c
  applications/main/infrared/scenes/infrared_scene_ask_back.c
  applications/main/infrared/scenes/infrared_scene_ask_retry.c
  applications/main/infrared/scenes/infrared_scene_debug.c
  applications/main/infrared/scenes/infrared_scene_edit.c
  applications/main/infrared/scenes/infrared_scene_edit_button_select.c
  applications/main/infrared/scenes/infrared_scene_edit_delete.c
  applications/main/infrared/scenes/infrared_scene_edit_delete_done.c
  applications/main/infrared/scenes/infrared_scene_edit_move.c
  applications/main/infrared/scenes/infrared_scene_edit_rename.c
  applications/main/infrared/scenes/infrared_scene_edit_rename_done.c
  applications/main/infrared/scenes/infrared_scene_error_databases.c
  applications/main/infrared/scenes/infrared_scene_learn.c
  applications/main/infrared/scenes/infrared_scene_learn_done.c
  applications/main/infrared/scenes/infrared_scene_learn_enter_name.c
  applications/main/infrared/scenes/infrared_scene_learn_success.c
  applications/main/infrared/scenes/infrared_scene_remote.c
  applications/main/infrared/scenes/infrared_scene_remote_list.c
  applications/main/infrared/scenes/infrared_scene_rpc.c
  applications/main/infrared/scenes/infrared_scene_start.c
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/infrared/scenes/infrared_scene_universal_ac.c
  applications/main/infrared/scenes/infrared_scene_universal_audio.c
  applications/main/infrared/scenes/infrared_scene_universal_projector.c
  applications/main/infrared/scenes/infrared_scene_universal_tv.c
  applications/main/infrared/views/infrared_move_view.c
  applications/main/infrared/views/infrared_move_view.h
Labels: Infrared

#3175 Furi: cleanup crash use
  applications/debug/unit_tests/bt/bt_test.c
  applications/debug/unit_tests/infrared/infrared_test.c
  applications/debug/unit_tests/nfc/nfc_test.c
  applications/debug/unit_tests/nfc/nfc_transport.c
  applications/main/infrared/scenes/infrared_scene_edit_button_select.c
  applications/main/infrared/scenes/infrared_scene_edit_delete.c
  applications/main/infrared/scenes/infrared_scene_edit_delete_done.c
  applications/main/infrared/scenes/infrared_scene_edit_rename.c
  applications/services/desktop/animations/animation_manager.c
  applications/services/desktop/views/desktop_view_pin_input.c
  applications/services/gui/canvas.c
  applications/services/gui/elements.c
  applications/services/gui/modules/byte_input.c
  applications/services/gui/modules/popup.c
  applications/services/gui/modules/text_input.c
  applications/services/gui/view.c
  applications/services/gui/view_dispatcher.c
  applications/services/rpc/rpc_app.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_auth.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_error.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_howto.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_howto2.c
  applications/system/hid_app/hid.c
  documentation/FuriCheck.md
  furi/core/check.c
  furi/core/check.h
  lib/ibutton/ibutton_protocols.c
  lib/infrared/encoder_decoder/nec/infrared_encoder_nec.c
  lib/infrared/encoder_decoder/sirc/infrared_encoder_sirc.c
  lib/infrared/worker/infrared_transmit.c
  lib/infrared/worker/infrared_worker.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_infrared.c
  targets/f7/furi_hal/furi_hal_spi.c
  targets/f7/furi_hal/furi_hal_subghz.c
  targets/f7/furi_hal/furi_hal_version.c
Labels: Core+Services, Documentation

#3178 [FL-3629] fbt: SD card resource handling speedup
  firmware.scons
  lib/flipper_application/plugins/plugin_manager.c
  scripts/fbt_tools/fbt_assets.py
  scripts/fbt_tools/fbt_resources.py
Labels: Build System & Scripts

#3177 [FL-3647] Rename menu items related to dummy mode and sound
  applications/services/desktop/views/desktop_view_lock_menu.c
Labels: UI
