Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-01, with the labels that each got.

#2258 Fix typos
  applications/debug/unit_tests/stream/stream_test.c
  lib/ST25RFAL002/include/rfal_isoDep.h
  lib/ST25RFAL002/include/rfal_t4t.h
  lib/fatfs/ff.c
  lib/infrared/encoder_decoder/infrared.h
  lib/lfrfid/protocols/protocol_pyramid.c
  lib/nfc/nfc_device.c
  lib/nfc/parsers/plantain_4k_parser.c
  lib/nfc/parsers/plantain_parser.c
  lib/nfc/parsers/two_cities.c
  lib/one_wire/ibutton/protocols/protocol_cyfral.c
  lib/subghz/environment.h
  scripts/flipper/assets/icon.py
Labels: documentation

#2270 Change broken BadUSB link to Hak5 duckyscript quick reference webpage
  assets/resources/badusb/demo_macos.txt
  assets/resources/badusb/demo_windows.txt
Labels: USB

#2271 Adding the ability to turn pages in infrared
  applications/services/gui/modules/button_menu.c
Labels: Infrared, new feature

#2286 [FL-3080] fbt: PVS support
  .github/workflows/pvs_studio.yml
  .pvsoptions
  .vscode/example/tasks.json
  assets/SConscript
  documentation/fbt.md
  firmware.scons
  furi/core/core_defines.h
  lib/lfrfid/protocols/protocol_fdx_b.c
  lib/subghz/blocks/math.h
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/secplus_v1.c
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/fbt_help.py
  scripts/fbt_tools/pvsstudio.py
  site_scons/commandline.scons
  site_scons/extapps.scons
Labels: build system, new feature

#2291 [FL-3081] fbt: removed DEBUG_TOOLS & FAP_EXAMPLES flags
  SConstruct
  applications/debug/accessor/accessor_app.cpp
  applications/debug/accessor/helpers/wiegand.cpp
  applications/debug/bt_debug_app/views/bt_test.c
  applications/debug/file_browser_test/file_browser_app.c
  applications/examples/application.fam
  firmware.scons
  scripts/fbt_tools/fbt_extapps.py
  scripts/toolchain/fbtenv.sh
  site_scons/commandline.scons
  site_scons/extapps.scons
Labels: build system

#2296 nfc: Fix sector reads when one block is unreadable for MIFARE Classic
  lib/nfc/protocols/mifare_classic.c
Labels: NFC, bug

#2332 emv: parse track1&2 equivalent data
  lib/nfc/protocols/emv.c
  lib/nfc/protocols/emv.h
Labels: NFC, UI, new feature

#2307 NFC: add MIFARE MINI support
  applications/debug/unit_tests/nfc/nfc_test.c
  lib/nfc/helpers/nfc_generators.c
  lib/nfc/nfc_device.c
  lib/nfc/nfc_types.c
  lib/nfc/protocols/mifare_classic.c
  lib/nfc/protocols/mifare_classic.h
Labels: NFC, new feature

#2302 NFC: change from int8_t to uint8_t in mf_classic_get_classic_type
  firmware/targets/f7/api_symbols.csv
  lib/nfc/protocols/mifare_classic.c
  lib/nfc/protocols/mifare_classic.h
Labels: NFC

#2333 debug apps: made runnable as .faps; sdk: resolved additional APIs in use by faps
  applications/debug/battery_test_app/application.fam
  applications/debug/battery_test_app/views/battery_info.c
  applications/debug/battery_test_app/views/battery_info.h
  applications/debug/bt_debug_app/bt_debug_app.c
  applications/debug/bt_debug_app/bt_debug_app.h
  applications/debug/display_test/application.fam
  applications/debug/display_test/display_test.c
  applications/debug/rpc_debug_app/scenes/rpc_debug_app_scene_input_error_code.c
  applications/services/bt/bt_settings.h
  firmware/targets/f7/api_symbols.csv
  lib/toolbox/SConscript
Labels: applications

#2329 Change camelCase to PascalCase in code style
  CODING_STYLE.md
Labels: documentation

#2276 feat: make `furi_is_irq_context` public
  firmware/targets/f7/api_symbols.csv
  furi/core/common_defines.h
  furi/core/kernel.c
  furi/core/kernel.h
  furi/core/message_queue.c
  furi/core/timer.c
  furi/furi.c
Labels: core+services

#2323 Assets: correct MicroSD card pinout in service animations
  assets/dolphin/blocking/L0_NoDb_128x51/frame_0.png
  assets/dolphin/blocking/L0_NoDb_128x51/frame_1.png
  assets/dolphin/blocking/L0_NoDb_128x51/frame_2.png
  assets/dolphin/blocking/L0_NoDb_128x51/frame_3.png
  assets/dolphin/blocking/L0_SdBad_128x51/frame_0.png
  assets/dolphin/blocking/L0_SdBad_128x51/frame_1.png
  assets/dolphin/blocking/L0_SdOk_128x51/frame_0.png
  assets/dolphin/blocking/L0_SdOk_128x51/frame_1.png
  assets/dolphin/blocking/L0_SdOk_128x51/frame_2.png
  assets/dolphin/blocking/L0_SdOk_128x51/frame_3.png
  assets/dolphin/blocking/L0_Url_128x51/frame_0.png
  assets/dolphin/blocking/L0_Url_128x51/frame_1.png
  assets/dolphin/blocking/L0_Url_128x51/frame_2.png
  assets/dolphin/blocking/L0_Url_128x51/frame_3.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_0.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_1.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_2.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_3.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_4.png
  assets/dolphin/internal/L1_NoSd_128x49/frame_5.png
Labels: bug, UI

#2292 [FL-3082] WS: add protocol LaCrosse-TX (TFA Dostmann)
  applications/plugins/weather_station/helpers/weather_station_types.h
  applications/plugins/weather_station/protocols/lacrosse_tx.c
  applications/plugins/weather_station/protocols/lacrosse_tx.h
  applications/plugins/weather_station/protocols/protocol_items.c
  applications/plugins/weather_station/protocols/protocol_items.h
Labels: Sub-GHz, applications

#2299 LF-RFID: add CRC calculation to paradox protocol
  lib/lfrfid/protocols/protocol_paradox.c
Labels: RFID 125kHz

#2275 changed bench target, stlink serial and added error for testing the run
  .github/workflows/unit_tests.yml
  .github/workflows/updater_test.yml
Labels: build system

#2227 Print card CID in storage info
  applications/services/storage/storage_cli.c
  applications/settings/storage_settings/scenes/storage_settings_scene_sd_info.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.h
Labels: new feature, core+services
