Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-08, with the labels that each got.

#2878 [FL-3408, FL-3429, FL-3430] Backlight notification fix
  applications/services/notification/notification_app.c
  firmware/targets/furi_hal_include/furi_hal_version.h
  scripts/otp.py
Labels: Bug, Applications, Core+Services

#2892 SubGHz - Keeloq: Read Centurion Nova remotes
  assets/resources/subghz/assets/keeloq_mfcodes
  lib/subghz/protocols/keeloq.c
Labels: Sub-GHz, New Feature

#2896 Added French Canadian layout
  assets/resources/badusb/assets/layouts/fr-CA.kl
Labels: USB, UI

#2897 Update audio.ir
  assets/resources/infrared/assets/audio.ir
Labels: Infrared, New Feature

#2901 [FL-3441] faploader: always create app dir, even if it doesn't have subdirs
  lib/flipper_application/application_assets.c
Labels: Bug, App Loader

#2894 Overly missed feature: Infrared: move button (change button order in a remote)
  applications/main/infrared/infrared_i.h
  applications/main/infrared/infrared_remote.c
  applications/main/infrared/infrared_remote.h
  applications/main/infrared/scenes/infrared_scene_config.h
  applications/main/infrared/scenes/infrared_scene_edit.c
  applications/main/infrared/scenes/infrared_scene_edit_button_select.c
  applications/main/infrared/scenes/infrared_scene_edit_move.c
  applications/main/infrared/scenes/infrared_scene_edit_move_done.c
Labels: Infrared, UI

#2920 change FuriThreadPriorityIsr to 31 (configMAX_PRIORITIES-1)
  furi/core/thread.h
Labels: Core+Services

#2913 Add Daikin FTXC35DV1B ac remote
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2909 SubGhz: change CC1101_ext TIM17 resolution to 2µs
  applications/drivers/subghz/cc1101_ext/cc1101_ext.c
Labels: Sub-GHz, Bug

#2907 Fix about screen
  applications/settings/about/about.c
Labels: Bug, UI

#2912 NFC: Fix MFC key invalidation
  lib/nfc/nfc_worker.c
Labels: NFC, Bug

#2922 NFC CLI: Fix multiple apdu commands from not working when one of them gives an empty response
  applications/main/nfc/nfc_cli.c
  lib/nfc/nfc_worker.c
Labels: NFC, Bug

#2915 BadUSB: qFlipper install script for MacOS
  assets/resources/badusb/Install_qFlipper_macOS.txt
Labels: USB

#2923 Expose additional functions of the crypto engine to user
  applications/debug/unit_tests/furi_hal/furi_hal_crypto_tests.c
  applications/debug/unit_tests/test_index.c
  applications/main/u2f/u2f_data.c
  applications/services/crypto/crypto_cli.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_crypto.c
  firmware/targets/f7/furi_hal/furi_hal_info.c
  firmware/targets/furi_hal_include/furi_hal_crypto.h
  lib/subghz/subghz_keystore.c
Labels: New Feature, Core+Services

#2891 UI: Clock on Desktop
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_i.h
  applications/services/desktop/desktop_settings.h
  applications/services/gui/gui.c
  applications/services/gui/gui_i.h
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
Labels: UI, New Feature

#2818 feat(infrared): add universal remote
  assets/resources/infrared/assets/tv.ir
Labels: Infrared

#2431 Improve vscode clangd experience
  .vscode/.gitignore
  .vscode/example/clangd/extensions.json
  .vscode/example/cpptools/c_cpp_properties.json
  .vscode/example/cpptools/extensions.json
  .vscode/example/settings.json
  SConstruct
  documentation/fbt.md
  scripts/fbt_tools/crosscc.py
  site_scons/commandline.scons
Labels: Build System & Scripts, New Feature

#2999 Removed explicit dependency on scons for external scripting
  scripts/fbt/appmanifest.py
Labels: Bug, Build System & Scripts

#2993 loader: restored support for debug apps
  applications/services/applications.h
  applications/services/desktop/desktop.c
  applications/services/loader/loader.c
Labels: Build System & Scripts, App Loader

#2982 [FL-3486,FL-3392] fbt: various improvements and bug fixes
  .github/workflows/build.yml
  .github/workflows/unit_tests.yml
  .github/workflows/updater_test.yml
  .vscode/example/tasks.json
  SConstruct
  documentation/fbt.md
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  lib/flipper_application/elf/elf_file.c
  scripts/fbt/sdk/cache.py
  scripts/fbt_tools/fbt_debugopts.py
  scripts/fbt_tools/fbt_dist.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/fbt_help.py
  scripts/fwflash.py
  scripts/ufbt/SConstruct
  scripts/ufbt/commandline.scons
  scripts/ufbt/site_tools/ufbt_help.py
  site_scons/commandline.scons
  site_scons/extapps.scons
Labels: Build System & Scripts, New Feature

#2980 [FL-3481] Properly reset the NFC device data
  applications/main/nfc/scenes/nfc_scene_file_select.c
  lib/nfc/nfc_device.c
Labels: NFC, Bug

#2967 Fix display last symbol in multiline text
  applications/services/gui/elements.c
Labels: Bug, UI

#2972 [FL-3479] Desktop: more favorites, configurable dummy mode
  applications/services/desktop/animations/views/bubble_animation_view.c
  applications/services/desktop/animations/views/one_shot_animation_view.c
  applications/services/desktop/desktop.c
  applications/services/desktop/desktop_settings.h
  applications/services/desktop/scenes/desktop_scene_locked.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/desktop/views/desktop_events.h
  applications/services/desktop/views/desktop_view_locked.c
  applications/services/desktop/views/desktop_view_main.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_i.h
  applications/settings/desktop_settings/scenes/desktop_settings_scene_start.c
Labels: New Feature, Core+Services

#2942 Update tv.ir
  assets/resources/infrared/assets/tv.ir
Labels: Infrared

#2978 More apps moved to apps repo
  applications/ReadMe.md
  applications/main/application.fam
  applications/main/clock/application.fam
  applications/main/clock/clock.png
  applications/main/clock/clock_app.c
  applications/main/music_player/application.fam
  applications/main/music_player/icons/music_10px.png
  applications/main/music_player/music_player.c
  applications/main/snake_game/application.fam
  applications/main/snake_game/snake_10px.png
  applications/main/snake_game/snake_game.c
  assets/resources/apps_data/music_player/Marble_Machine.fmf
  assets/resources/apps_data/picopass/assets/iclass_elite_dict.txt
  assets/resources/apps_data/picopass/assets/iclass_standard_dict.txt
Labels: Applications

#2984 SubGhz: fix todo
  applications/drivers/subghz/cc1101_ext/cc1101_ext.c
  applications/main/subghz/helpers/subghz_txrx_create_protocol_key.c
  applications/main/subghz/helpers/subghz_txrx_create_protocol_key.h
  applications/main/subghz/scenes/subghz_scene_radio_setting.c
  applications/main/subghz/scenes/subghz_scene_set_type.c
  applications/main/subghz/subghz_i.c
  firmware/targets/f7/furi_hal/furi_hal_subghz.c
  lib/subghz/protocols/bin_raw.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/secplus_v2.c
  lib/subghz/subghz_tx_rx_worker.c
  lib/subghz/types.h
Labels: Sub-GHz, Documentation
