Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-02, with the labels that each got.

#2342 NFC: fix creating MF Classic tags from "Add Manually" menu (BCC calulation and ATQA/SAK writing)
  applications/debug/unit_tests/nfc/nfc_test.c
  lib/nfc/helpers/nfc_generators.c
Labels: NFC, bug

#1860 [FL-2744] SPI Mem Manager C port
  .gitignore
  applications/plugins/spi_mem_manager/application.fam
  applications/plugins/spi_mem_manager/images/ChipLooking_64x64/frame_01.png
  applications/plugins/spi_mem_manager/images/ChipLooking_64x64/frame_02.png
  applications/plugins/spi_mem_manager/images/ChipLooking_64x64/frame_03.png
  applications/plugins/spi_mem_manager/images/ChipLooking_64x64/frame_rate
  applications/plugins/spi_mem_manager/images/Dip8_10px.png
  applications/plugins/spi_mem_manager/images/Dip8_32x36.png
  applications/plugins/spi_mem_manager/images/DolphinMafia_115x62.png
  applications/plugins/spi_mem_manager/images/DolphinNice_96x59.png
  applications/plugins/spi_mem_manager/images/SDQuestion_35x43.png
  applications/plugins/spi_mem_manager/images/Wiring_SPI_128x64.png
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_chip.c
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_chip.h
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_chip_arr.c
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_chip_i.h
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_tools.c
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_tools.h
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_worker.c
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_worker.h
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_worker_i.h
  applications/plugins/spi_mem_manager/lib/spi/spi_mem_worker_modes.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene.h
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_about.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_chip_detect.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_chip_detect_fail.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_chip_detected.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_chip_error.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_config.h
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_delete_confirm.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_erase.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_file_info.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_read.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_read_filename.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_saved_file_menu.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_select_file.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_select_model.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_select_vendor.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_start.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_storage_error.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_success.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_verify.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_verify_error.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_wiring.c
  applications/plugins/spi_mem_manager/scenes/spi_mem_scene_write.c
  applications/plugins/spi_mem_manager/spi_mem_app.c
  applications/plugins/spi_mem_manager/spi_mem_app.h
  applications/plugins/spi_mem_manager/spi_mem_app_i.h
  applications/plugins/spi_mem_manager/spi_mem_files.c
  applications/plugins/spi_mem_manager/spi_mem_files.h
  applications/plugins/spi_mem_manager/tools/README.md
  applications/plugins/spi_mem_manager/tools/chiplist/LICENSE
  applications/plugins/spi_mem_manager/tools/chiplist/chiplist.xml
  applications/plugins/spi_mem_manager/tools/chiplist_convert.py
  applications/plugins/spi_mem_manager/views/spi_mem_view_detect.c
  applications/plugins/spi_mem_manager/views/spi_mem_view_detect.h
  applications/plugins/spi_mem_manager/views/spi_mem_view_progress.c
  applications/plugins/spi_mem_manager/views/spi_mem_view_progress.h
Labels: UI, applications, new feature

#2349 Add Daikin FTXM20M & Mitsubishi SRK63HE
  assets/resources/infrared/assets/ac.ir
Labels: Infrared

#2317 nfc: Add mifare classic value block commands
  firmware/targets/f7/api_symbols.csv
  lib/nfc/protocols/mifare_classic.c
  lib/nfc/protocols/mifare_classic.h
  lib/nfc/protocols/nfc_util.c
  lib/nfc/protocols/nfc_util.h
Labels: NFC, new feature

#2367 [FL-3075] Pin Reset
  firmware/targets/f7/Inc/alt_boot.h
  firmware/targets/f7/Src/main.c
  firmware/targets/f7/Src/recovery.c
  firmware/targets/f7/furi_hal/furi_hal_resources.c
  lib/nfc/protocols/mifare_classic.c
Labels: new feature, core+services

#2204 [FL-2435] SD over SPI improvements
  applications/debug/unit_tests/rpc/rpc_test.c
  applications/services/storage/storage_cli.c
  applications/services/storage/storage_external_api.c
  applications/services/storage/storage_glue.c
  applications/services/storage/storage_glue.h
  applications/services/storage/storage_message.h
  applications/services/storage/storage_processing.c
  applications/services/storage/storage_sd_api.h
  applications/services/storage/storages/storage_ext.c
  applications/settings/storage_settings/scenes/storage_settings_scene_sd_info.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f18/furi_hal/furi_hal.c
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/fatfs/sd_spi_io.c
  firmware/targets/f7/fatfs/sd_spi_io.h
  firmware/targets/f7/fatfs/sector_cache.c
  firmware/targets/f7/fatfs/spi_sd_hal.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.c
  firmware/targets/f7/fatfs/stm32_adafruit_sd.h
  firmware/targets/f7/fatfs/user_diskio.c
  firmware/targets/f7/fatfs/user_diskio.h
  firmware/targets/f7/furi_hal/furi_hal.c
  firmware/targets/f7/furi_hal/furi_hal_infrared.c
  firmware/targets/f7/furi_hal/furi_hal_rfid.c
  firmware/targets/f7/furi_hal/furi_hal_spi.c
  firmware/targets/f7/furi_hal/furi_hal_subghz.c
  firmware/targets/f7/src/update.c
  firmware/targets/furi_hal_include/furi_hal_spi.h
  furi/core/event_flag.c
  furi/core/thread.c
  furi/core/thread.h
Labels: core+services

#2350 [FL-3057] Allow use of any suitable pin for 1-Wire devices
  .github/CODEOWNERS
  applications/examples/example_thermo/README.md
  applications/examples/example_thermo/application.fam
  applications/examples/example_thermo/example_thermo.c
  applications/examples/example_thermo/example_thermo_10px.png
  applications/main/ibutton/ibutton_cli.c
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f18/furi_hal/furi_hal_resources.c
  firmware/targets/f18/furi_hal/furi_hal_resources.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_gpio.c
  firmware/targets/f7/furi_hal/furi_hal_ibutton.c
  firmware/targets/f7/furi_hal/furi_hal_ibutton.h
  firmware/targets/f7/furi_hal/furi_hal_resources.c
  firmware/targets/f7/furi_hal/furi_hal_resources.h
  firmware/targets/f7/furi_hal/furi_hal_rfid.c
  lib/one_wire/ibutton/ibutton_worker.c
  lib/one_wire/ibutton/ibutton_worker_modes.c
  lib/one_wire/one_wire_host.c
  lib/one_wire/one_wire_host.h
  lib/one_wire/one_wire_slave.c
  lib/one_wire/one_wire_slave.h
Labels: applications, core+services, iButton

#2361 Fix minor UI inconsistencies and bugs
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/lfrfid/scenes/lfrfid_scene_start.c
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_delete_success.c
  applications/main/nfc/scenes/nfc_scene_extra_actions.c
  applications/main/nfc/scenes/nfc_scene_set_atqa.c
  applications/main/nfc/scenes/nfc_scene_set_sak.c
  applications/main/nfc/scenes/nfc_scene_set_uid.c
  applications/main/nfc/scenes/nfc_scene_start.c
  applications/main/subghz/scenes/subghz_scene_delete_success.c
  applications/plugins/nfc_magic/nfc_magic.c
  applications/plugins/nfc_magic/scenes/nfc_magic_scene_start.c
  applications/plugins/picopass/picopass.c
  applications/plugins/picopass/scenes/picopass_scene_start.c
Labels: UI

#2261 Custom font set function
  applications/debug/example_custom_font/application.fam
  applications/debug/example_custom_font/example_custom_font.c
  applications/services/gui/canvas.c
  applications/services/gui/canvas.h
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
Labels: new feature, core+services

#2221 SCons: do not include backup files in build
  assets/SConscript
  firmware.scons
  lib/misc.scons
  scripts/fbt/util.py
  scripts/fbt_tools/fbt_assets.py
  scripts/fbt_tools/sconsrecursiveglob.py
Labels: bug, build system

#2300 [FL-3093, FL-3087] SubGhz: Fix Raw write, add short duration filter setting
  applications/main/subghz/scenes/subghz_scene_delete_success.c
  applications/main/subghz/scenes/subghz_scene_receiver_info.c
  applications/main/subghz/subghz_cli.c
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_interrupt.c
  firmware/targets/f7/furi_hal/furi_hal_subghz.c
  lib/subghz/protocols/raw.c
  lib/subghz/subghz_worker.c
  lib/subghz/subghz_worker.h
Labels: Sub-GHz

#2239 SubGhz: add protocol "Linear Delta-3"
  applications/debug/unit_tests/subghz/subghz_test.c
  applications/main/bad_usb/bad_usb_script.c
  assets/unit_tests/subghz/linear_delta3.sub
  assets/unit_tests/subghz/linear_delta3_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/linear_delta3.c
  lib/subghz/protocols/linear_delta3.h
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
Labels: Sub-GHz, new feature

#2352 [FL-3091] SubGhz: add protocol Alutech at-4n
  applications/debug/unit_tests/subghz/subghz_test.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_cli.c
  assets/resources/subghz/assets/alutech_at_4n
  assets/unit_tests/subghz/alutech_at_4n_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  firmware/targets/f7/api_symbols.csv
  lib/subghz/environment.c
  lib/subghz/environment.h
  lib/subghz/protocols/alutech_at_4n.c
  lib/subghz/protocols/alutech_at_4n.h
  lib/subghz/protocols/came_atomo.c
  lib/subghz/protocols/keeloq.c
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
Labels: Sub-GHz, new feature

#2358 [FL-3100] SubGhz: add protocol Nice One
  applications/debug/unit_tests/subghz/subghz_test.c
  assets/unit_tests/subghz/nice_one_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/nice_flor_s.c
Labels: Sub-GHz, new feature

#2343 Universal Projector Remote
  applications/main/infrared/infrared_cli.c
  applications/main/infrared/scenes/infrared_scene_config.h
  applications/main/infrared/scenes/infrared_scene_universal.c
  applications/main/infrared/scenes/infrared_scene_universal_projector.c
  assets/resources/infrared/assets/projector.ir
  documentation/UniversalRemotes.md
Labels: Infrared, new feature

#2368 [FL-3099] SubGhz: add protocol KingGates Stylo4k
  applications/debug/unit_tests/subghz/subghz_test.c
  assets/resources/subghz/assets/keeloq_mfcodes
  assets/unit_tests/subghz/kinggates_stylo4k_raw.sub
  assets/unit_tests/subghz/test_random_raw.sub
  lib/subghz/protocols/kinggates_stylo_4k.c
  lib/subghz/protocols/kinggates_stylo_4k.h
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
Labels: Sub-GHz, new feature

#2232 Move CSN space to prevent overflow
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
Labels: NFC, UI

#2321 Firmware fixes and improvements for flashing via blackmagic
  scripts/fbt_tools/fbt_debugopts.py
Labels: build system

#2322 SubGhz: add protocol BinRAW (binarization of data quantized by the minimum correlated duration)
  applications/debug/unit_tests/test_index.c
  applications/main/subghz/application.fam
  applications/main/subghz/scenes/subghz_scene_read_raw.c
  applications/main/subghz/scenes/subghz_scene_receiver.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/subghz/subghz.c
  applications/main/subghz/subghz_history.c
  applications/main/subghz/subghz_i.h
  applications/main/subghz/views/receiver.c
  applications/main/subghz/views/receiver.h
  applications/main/subghz/views/subghz_frequency_analyzer.c
  applications/main/subghz/views/transmitter.c
  firmware/targets/f7/api_symbols.csv
  furi/core/log.c
  furi/core/log.h
  lib/subghz/blocks/encoder.c
  lib/subghz/blocks/encoder.h
  lib/subghz/blocks/generic.c
  lib/subghz/blocks/generic.h
  lib/subghz/protocols/bin_raw.c
  lib/subghz/protocols/bin_raw.h
  lib/subghz/protocols/chamberlain_code.c
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
  lib/subghz/protocols/secplus_v2.c
  lib/subghz/receiver.c
  lib/subghz/types.h
  lib/toolbox/level_duration.h
Labels: Sub-GHz, new feature

#2233 feat: add missing `const` qualifiers
  applications/services/gui/canvas.c
  applications/services/gui/canvas.h
  applications/services/gui/canvas_i.h
  applications/services/gui/elements.c
  applications/services/gui/gui.c
  applications/services/gui/gui.h
  applications/services/gui/icon_animation.c
  applications/services/gui/icon_animation.h
  applications/services/gui/icon_animation_i.h
  applications/services/gui/modules/widget_elements/widget_element_text_scroll.c
  applications/services/gui/scene_manager.c
  applications/services/gui/scene_manager.h
  applications/services/gui/view_port.c
  applications/services/gui/view_port.h
  applications/services/loader/loader.c
  applications/services/loader/loader.h
  applications/services/locale/locale.h
  firmware/targets/f18/api_symbols.csv
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_spi.c
  firmware/targets/furi_hal_include/furi_hal_spi.h
Labels: core+services

#2387 Mark debug app as debug not external
  applications/debug/example_custom_font/application.fam
Labels: build system, applications

#2384 fixed first start animation typo
  assets/slideshow/first_start/frame_02.png
Labels: UI

#2389 Display Mifare Classic data in NFC app
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_mf_classic_data.c
  applications/main/nfc/scenes/nfc_scene_nfc_data_info.c
  applications/main/nfc/scenes/nfc_scene_saved_menu.c
Labels: NFC, UI

#2390 Grammar fix in CLI
  applications/services/cli/cli_commands.c
Labels: core+services

#2269 BadUsb: STRINGDELAY feature, worker signal handling refactoring
  applications/main/bad_usb/bad_usb_script.c
  applications/main/bad_usb/scenes/bad_usb_scene_file_select.c
  documentation/file_formats/BadUsbScriptFormat.md
Labels: USB

#2417 Picopass: factory key support, app rename and move to NFC category, minor code cleanup
  applications/plugins/picopass/application.fam
  applications/plugins/picopass/picopass.c
  applications/plugins/picopass/picopass_device.c
  applications/plugins/picopass/picopass_device.h
  applications/plugins/picopass/picopass_i.h
  applications/plugins/picopass/picopass_worker.c
  applications/plugins/picopass/picopass_worker.h
  applications/plugins/picopass/picopass_worker_i.h
  applications/plugins/picopass/scenes/picopass_scene_config.h
  applications/plugins/picopass/scenes/picopass_scene_read_card.c
  applications/plugins/picopass/scenes/picopass_scene_read_card_success.c
  applications/plugins/picopass/scenes/picopass_scene_read_factory_success.c
  applications/plugins/picopass/scenes/picopass_scene_write_card_success.c
  applications/plugins/picopass/scenes/picopass_scene_write_key.c
Labels: NFC, applications

#2393 [FL-3105] Unify power info, power debug, and device_info into one info command
  applications/services/cli/cli_commands.c
  applications/services/power/power_cli.c
Labels: core+services

#2228 FuriHal, Power, UnitTests: fix, rename battery charging voltage limit API
  applications/debug/unit_tests/power/power_test.c
  applications/services/power/power_service/power.c
  applications/services/power/power_service/power.h
  applications/settings/power_settings_app/scenes/power_settings_scene_battery_info.c
  applications/settings/power_settings_app/views/battery_info.c
  applications/settings/power_settings_app/views/battery_info.h
  firmware/targets/f7/api_symbols.csv
  firmware/targets/f7/furi_hal/furi_hal_power.c
  firmware/targets/furi_hal_include/furi_hal_power.h
  lib/drivers/bq25896.c
  lib/drivers/bq25896.h
Labels: new feature, core+services
