Repository flipperdevices/flipperzero-firmware, pull requests merged in 2023-11, with the labels that each got.

#3181 fbt: source collection improvements
  applications/examples/example_plugins/application.fam
  applications/examples/example_plugins_advanced/application.fam
  applications/main/ibutton/application.fam
  applications/main/infrared/application.fam
  applications/main/lfrfid/application.fam
  applications/main/nfc/application.fam
  applications/main/subghz/application.fam
  documentation/AppManifests.md
  firmware.scons
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/sconsrecursiveglob.py
Labels: Build System & Scripts

#3191 [FL-3656] Fix crash when exiting write mode
  applications/main/ibutton/ibutton_custom_event.h
  applications/main/ibutton/scenes/ibutton_scene_write.c
Labels: Bug, iButton

#3186 fbt: dist improvements
  SConstruct
  scripts/fbt/appmanifest.py
  scripts/fbt_tools/fbt_apps.py
Labels: Build System & Scripts

#3192 [FL-3657] Fix NFC unit tests
  lib/nfc/helpers/nfc_data_generator.c
Labels: NFC

#3204 Fix limited_credit_value having wrong value in mf_desfire_file_settings_parse
  lib/nfc/protocols/mf_desfire/mf_desfire_i.c
Labels: NFC, Bug

#3207 [NFC] MF Ultralight no pwd polling adjustment
  applications/debug/unit_tests/nfc/nfc_test.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_listener.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller.c
Labels: NFC

#3210 [FL-3608] Fix iButton crash on missing file
  applications/main/ibutton/ibutton.c
  applications/main/ibutton/ibutton_i.h
  applications/main/ibutton/scenes/ibutton_scene_add_value.c
  applications/main/ibutton/scenes/ibutton_scene_rpc.c
Labels: Bug, iButton

#3193 [FL-3662] Do not remove file when renaming to itself
  applications/services/storage/filesystem_api_internal.h
  applications/services/storage/storage.h
  applications/services/storage/storage_external_api.c
  applications/services/storage/storage_message.h
  applications/services/storage/storage_processing.c
  applications/services/storage/storages/storage_ext.c
  applications/services/storage/storages/storage_int.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Bug, Core+Services

#3187 Add Mastercode SubGHz Protocol
  applications/debug/unit_tests/resources/unit_tests/subghz/mastercode.sub
  applications/debug/unit_tests/resources/unit_tests/subghz/mastercode_raw.sub
  applications/debug/unit_tests/subghz/subghz_test.c
  lib/subghz/protocols/mastercode.c
  lib/subghz/protocols/mastercode.h
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
Labels: Sub-GHz, New Feature

#3215 Various Fixes for 0.95
  furi/core/timer.c
  furi/core/timer.h
  targets/f7/furi_hal/furi_hal_flash.c
  targets/f7/furi_hal/furi_hal_power.c
  targets/f7/furi_hal/furi_hal_subghz.c
Labels: Bug, Core+Services

#3217 fbt: improvements
  SConstruct
  applications/debug/accessor/application.fam
  applications/debug/battery_test_app/application.fam
  applications/debug/blink_test/application.fam
  applications/debug/ccid_test/application.fam
  applications/debug/crash_test/application.fam
  applications/debug/display_test/application.fam
  applications/debug/file_browser_test/application.fam
  applications/debug/keypad_test/application.fam
  applications/debug/locale_test/application.fam
  applications/debug/text_box_test/application.fam
  applications/debug/uart_echo/application.fam
  applications/debug/usb_mouse/application.fam
  applications/debug/usb_test/application.fam
  applications/debug/vibro_test/application.fam
  documentation/AppManifests.md
  firmware.scons
  scripts/fbt/appmanifest.py
  scripts/fbt_tools/fbt_apps.py
  scripts/fbt_tools/fbt_extapps.py
  scripts/fbt_tools/fbt_sdk.py
  scripts/fbt_tools/fbt_version.py
  scripts/fbt_tools/fwbin.py
  scripts/fbt_tools/jflash.py
  scripts/fbt_tools/objdump.py
  scripts/fbt_tools/openocd.py
  scripts/fbt_tools/pvsstudio.py
  scripts/fbt_tools/strip.py
  scripts/ufbt/SConstruct
  scripts/version.py
  site_scons/environ.scons
Labels: Bug, Build System & Scripts

#3216 [FL-3664] 64k does not enough
  applications/debug/unit_tests/furi/furi_record_test.c
  applications/debug/unit_tests/minunit.h
  applications/debug/unit_tests/storage/dirwalk_test.c
  applications/debug/unit_tests/storage/storage_test.c
  applications/debug/unit_tests/subghz/subghz_test.c
  applications/debug/unit_tests/test_index.c
  applications/main/archive/helpers/archive_favorites.c
  applications/main/subghz/subghz_cli.c
  applications/services/notification/notification_app.c
  applications/services/rpc/rpc_storage.c
  applications/services/storage/storage.h
  applications/services/storage/storage_cli.c
  applications/services/storage/storage_external_api.c
  applications/settings/storage_settings/scenes/storage_settings_scene_benchmark.c
  applications/system/updater/util/update_task_worker_flasher.c
  lib/flipper_application/elf/elf_file.c
  lib/music_worker/music_worker.c
  lib/toolbox/crc32_calc.c
  lib/toolbox/md5_calc.c
  lib/toolbox/saved_struct.c
  lib/toolbox/stream/file_stream.c
  lib/update_util/dfu_file.c
  lib/update_util/update_operation.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Core+Services

#3190 [FL-3640] NFC: Felica UID emulation
  applications/debug/unit_tests/nfc/nfc_transport.c
  applications/main/nfc/helpers/protocol_support/felica/felica.c
  lib/nfc/nfc.c
  lib/nfc/nfc.h
  lib/nfc/protocols/felica/felica.h
  lib/nfc/protocols/felica/felica_listener.c
  lib/nfc/protocols/felica/felica_listener.h
  lib/nfc/protocols/felica/felica_listener_defs.h
  lib/nfc/protocols/felica/felica_listener_i.h
  lib/nfc/protocols/nfc_listener_defs.c
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_nfc_felica.c
  targets/furi_hal_include/furi_hal_nfc.h
Labels: NFC

#3221 [FL-3686] Mifare Classic fixes
  lib/nfc/helpers/nfc_data_generator.c
  lib/nfc/protocols/mf_classic/mf_classic.c
  lib/nfc/protocols/mf_classic/mf_classic.h
  lib/nfc/protocols/mf_classic/mf_classic_listener.c
  lib/nfc/protocols/mf_classic/mf_classic_listener_i.h
Labels: NFC

#3226 allows you to use UCS-2 in canvas_glyph_width
  applications/services/gui/canvas.c
  applications/services/gui/canvas.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Core+Services
