Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-09, with the labels that each got.

#3831 Gui: change dialog_ex text ownership model
  applications/examples/example_number_input/scenes/example_number_input_scene_show_number.c
  applications/services/gui/modules/dialog_ex.c
Labels: UI, Core+Services

#3804 feat: Add up and down button drawing functions to GUI elements
  applications/services/gui/elements.c
  applications/services/gui/elements.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: UI, New Feature

#3837 CCID: App changes
  applications/debug/ccid_test/ccid_test_app.c
  applications/debug/ccid_test/iso7816/iso7816_handler.c
  applications/debug/ccid_test/iso7816/iso7816_handler.h
  applications/debug/ccid_test/iso7816/iso7816_t0_apdu.c
  applications/debug/ccid_test/iso7816/iso7816_t0_apdu.h
Labels: Applications

#3838 SubGhz: Fix RPC status for ButtonRelease event
  applications/main/subghz/scenes/subghz_scene_rpc.c
Labels: Sub-GHz, Bug

#3849 [FL-3882] Clean up of LFS traces
  applications/services/rpc/rpc_storage.c
  applications/services/storage/storage.h
  applications/system/updater/cli/updater_cli.c
  applications/system/updater/util/update_task.c
  applications/system/updater/util/update_task.h
  applications/system/updater/util/update_task_worker_backup.c
  applications/system/updater/util/update_task_worker_flasher.c
  documentation/OTA.md
  lib/update_util/int_backup.c
  lib/update_util/int_backup.h
  lib/update_util/lfs_backup.h
  targets/f7/furi_hal/furi_hal_rtc.h
Labels: Core+Services, Documentation

#3842 Debug: use proper hook for handle_exit in flipperapps
  SConstruct
  scripts/debug/flipperapps.py
Labels: Bug, Build System & Scripts

#3846 feat: add linux/gnome badusb demo resource files
  applications/main/bad_usb/resources/badusb/Install_qFlipper_gnome.txt
  applications/main/bad_usb/resources/badusb/demo_gnome.txt
Labels: USB, Documentation

#3892 Fix USB-UART bridge exit screen stopping the bridge prematurely
  applications/main/gpio/scenes/gpio_scene_config.h
  applications/main/gpio/scenes/gpio_scene_exit_confirm.c
  applications/main/gpio/scenes/gpio_scene_usb_uart.c
Labels: Bug

#3893 [FL-3885] Put errno into TCB
  applications/debug/unit_tests/tests/furi/furi_errno_test.c
  applications/debug/unit_tests/tests/furi/furi_test.c
  targets/f7/inc/FreeRTOSConfig.h
Labels: Core+Services

#3896 [FL-3891] Folder rename fails
  applications/debug/unit_tests/tests/storage/storage_test.c
  applications/services/storage/storage.h
  applications/services/storage/storage_external_api.c
  applications/services/storage/storage_message.h
  applications/services/storage/storage_processing.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Bug, Core+Services
