Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-04, with the labels that each got.

#3555 Bad USB: fix crash when selecting a keyboard layout
  applications/main/bad_usb/scenes/bad_usb_scene_config_layout.c
Labels: USB, Bug

#3557 fbt: added -Wstrict-prototypes for main firmware
  applications/debug/unit_tests/furi/furi_test.c
  applications/debug/unit_tests/test_index.c
  applications/services/notification/notification_app.c
  scripts/fbt_tools/fbt_apps.py
  site_scons/cc.scons
  site_scons/extapps.scons
  targets/f7/ble_glue/ble_glue.c
  targets/f7/ble_glue/gap.c
  targets/f7/ble_glue/hw_ipcc.c
  targets/f7/furi_hal/furi_hal_infrared.c
  targets/f7/furi_hal/furi_hal_interrupt.c
  targets/f7/furi_hal/furi_hal_os.c
Labels: Build System & Scripts

#3563 fbt: fixed missing FBT_FAP_DEBUG_ELF_ROOT to dist env
  SConstruct
Labels: Bug, Build System & Scripts

#3553 Hide unlock with reader for MFU-C
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_unlock_menu.c
Labels: NFC, Bug

#3568 IR: Fix crash on duty_cycle=1
  lib/infrared/worker/infrared_worker.c
  targets/f7/furi_hal/furi_hal_infrared.c
Labels: Infrared, Bug

#3573 Desktop/Loader: Unload animations before loading FAPs
  applications/services/desktop/desktop.c
  applications/services/desktop/scenes/desktop_scene_main.c
  applications/services/loader/loader.c
  applications/services/loader/loader.h
  applications/services/loader/loader_i.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Core+Services, App Loader

#3471 [FL-3679] iButton new UI
  applications/main/ibutton/scenes/ibutton_scene_config.h
  applications/main/ibutton/scenes/ibutton_scene_delete_confirm.c
  applications/main/ibutton/scenes/ibutton_scene_emulate.c
  applications/main/ibutton/scenes/ibutton_scene_info.c
  applications/main/ibutton/scenes/ibutton_scene_read.c
  applications/main/ibutton/scenes/ibutton_scene_read_error.c
  applications/main/ibutton/scenes/ibutton_scene_read_exit_confirm.c
  applications/main/ibutton/scenes/ibutton_scene_read_key_menu.c
  applications/main/ibutton/scenes/ibutton_scene_read_success.c
  applications/main/ibutton/scenes/ibutton_scene_saved_key_menu.c
  applications/main/ibutton/scenes/ibutton_scene_write.c
  assets/icons/Dolphin/DolphinWait_59x54.png
  lib/ibutton/ibutton_protocols.c
  lib/ibutton/ibutton_protocols.h
  lib/ibutton/protocols/dallas/dallas_common.c
  lib/ibutton/protocols/dallas/dallas_common.h
  lib/ibutton/protocols/dallas/protocol_dallas_base.h
  lib/ibutton/protocols/dallas/protocol_ds1971.c
  lib/ibutton/protocols/dallas/protocol_ds1990.c
  lib/ibutton/protocols/dallas/protocol_ds1992.c
  lib/ibutton/protocols/dallas/protocol_ds1996.c
  lib/ibutton/protocols/dallas/protocol_ds_generic.c
  lib/ibutton/protocols/dallas/protocol_group_dallas.c
  lib/ibutton/protocols/misc/protocol_cyfral.c
  lib/ibutton/protocols/misc/protocol_metakom.c
  lib/ibutton/protocols/protocol_group_base.h
  lib/toolbox/protocols/protocol.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: UI, iButton

#3590 add support for S(WTX) request in iso14443_4a_poller
  lib/nfc/protocols/iso14443_4a/iso14443_4a_poller_i.c
Labels: NFC, New Feature
