Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-03, with the labels that each got.

#3485 WiFi board: fixed update script on Windows (unfortunately also Mac and Linux)
  SConstruct
  documentation/fbt.md
  scripts/fbt_tools/fbt_dist.py
  scripts/ufbt/SConstruct
  scripts/ufbt/site_tools/ufbt_help.py
  scripts/wifi_board.py
  site_scons/commandline.scons
Labels: Build System & Scripts

#3456 Parser for Santiago, Chile BIP transit card
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/bip.c
Labels: NFC, New Feature

#3467 NFC: Fix washcity plugin verify function being to greedy
  applications/main/nfc/plugins/supported_cards/washcity.c
Labels: NFC

#3475 Archive: Fix item focus after aborting the Delete operation
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/scenes/archive_scene_delete.c
Labels: Bug, Core+Services

#3513 Infrared: Add Fujitsu ASYG24KMTB
  applications/main/infrared/resources/infrared/assets/ac.ir
Labels: Infrared

#3322 [FL-3729] Gui: unicode support, new canvas API
  applications/examples/example_custom_font/example_custom_font.c
  applications/examples/example_images/example_images.c
  applications/services/desktop/views/desktop_view_locked.c
  applications/services/gui/canvas.c
  applications/services/gui/canvas.h
  applications/services/gui/canvas_i.h
  furi/core/check.h
  lib/u8g2/u8g2.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: UI, Core+Services

#3512 NFC wording fixes
  applications/main/nfc/helpers/protocol_support/mf_ultralight/mf_ultralight.c
  applications/main/nfc/helpers/protocol_support/mf_ultralight/mf_ultralight_render.c
  applications/main/nfc/scenes/nfc_scene_config.h
  applications/main/nfc/scenes/nfc_scene_detect.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_keys_warn_duplicate.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_mfkey_complete.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_update_initial.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_update_initial_wrong_card.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_write_initial.c
  applications/main/nfc/scenes/nfc_scene_mf_classic_write_initial_wrong_card.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_unlock_warn.c
  applications/main/nfc/scenes/nfc_scene_slix_unlock.c
Labels: NFC, UI

#3515 [FL-3496, FL-3523, FL-3767, FL-3790] Infrared fixes and more
  applications/main/infrared/infrared_app.c
  applications/main/infrared/infrared_app_i.h
  applications/main/infrared/infrared_cli.c
  applications/main/infrared/scenes/common/infrared_scene_universal_common.c
  applications/main/infrared/scenes/infrared_scene_edit_delete.c
  applications/main/infrared/scenes/infrared_scene_edit_move.c
  applications/main/infrared/scenes/infrared_scene_edit_rename.c
  applications/main/infrared/scenes/infrared_scene_remote_list.c
  applications/main/infrared/scenes/infrared_scene_rpc.c
  applications/services/gui/view_dispatcher.h
  applications/services/gui/view_holder.h
  applications/services/gui/view_stack.h
  applications/services/rpc/rpc.c
Labels: Infrared, Core+Services

#3511 [FL-3760] NFC Parsers cosmetic fixes
  applications/main/nfc/plugins/supported_cards/myki.c
  applications/main/nfc/plugins/supported_cards/opal.c
  applications/main/nfc/plugins/supported_cards/plantain.c
  applications/main/nfc/plugins/supported_cards/two_cities.c
Labels: NFC, UI

#3510 fbt: `doxygen` target
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/pvs_studio.yml
  SConstruct
  applications/services/gui/view_holder.h
  documentation/doxygen/Doxyfile-awesome.cfg
  documentation/doxygen/Doxyfile.cfg
  documentation/fbt.md
  lib/flipper_application/flipper_application.h
  lib/flipper_format/flipper_format.h
  lib/lfrfid/lfrfid_worker.h
  lib/toolbox/compress.h
  scripts/fbt/util.py
  scripts/fbt_tools/doxygen.py
  scripts/fbt_tools/pvsstudio.py
  site_scons/fbt_extra/util.py
Labels: Build System & Scripts

#3468 Adding F13-F24 function key support to BadUSB
  applications/main/bad_usb/helpers/ducky_script_keycodes.c
  applications/system/js_app/modules/js_badusb.c
Labels: USB

#3476 Add support for DEFAULT_STRING_DELAY in Bad USB App
  applications/main/bad_usb/helpers/ducky_script.c
  applications/main/bad_usb/helpers/ducky_script_commands.c
  applications/main/bad_usb/helpers/ducky_script_i.h
  documentation/file_formats/BadUsbScriptFormat.md
Labels: USB, New Feature

#3480 Added new IR commands
  applications/main/infrared/resources/infrared/assets/tv.ir
Labels: Infrared

#3360 fbt/ufbt: Ensure POSIX paths are passed to GDB on all platforms
  SConstruct
  scripts/fbt/util.py
  scripts/fbt_tools/fbt_debugopts.py
  scripts/fbt_tools/fbt_sdk.py
  scripts/ufbt/SConstruct
  site_scons/environ.scons
Labels: Bug, Build System & Scripts

#3308 Add support for Pioneer SR IR remotes
  applications/debug/unit_tests/infrared/infrared_test.c
  applications/debug/unit_tests/resources/unit_tests/infrared/test_pioneer.irtest
  lib/infrared/encoder_decoder/common/infrared_common_i.h
  lib/infrared/encoder_decoder/infrared.c
  lib/infrared/encoder_decoder/infrared.h
  lib/infrared/encoder_decoder/kaseikyo/infrared_protocol_kaseikyo.c
  lib/infrared/encoder_decoder/nec/infrared_protocol_nec.c
  lib/infrared/encoder_decoder/pioneer/infrared_decoder_pioneer.c
  lib/infrared/encoder_decoder/pioneer/infrared_encoder_pioneer.c
  lib/infrared/encoder_decoder/pioneer/infrared_protocol_pioneer.c
  lib/infrared/encoder_decoder/pioneer/infrared_protocol_pioneer.h
  lib/infrared/encoder_decoder/pioneer/infrared_protocol_pioneer_i.h
  lib/infrared/encoder_decoder/rca/infrared_protocol_rca.c
  lib/infrared/encoder_decoder/samsung/infrared_protocol_samsung.c
  lib/infrared/encoder_decoder/sirc/infrared_protocol_sirc.c
Labels: Infrared

#3533 BLE/GAP fixes
  SConstruct
  scripts/fbt/util.py
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/ble_glue/ble_event_thread.c
  targets/f7/ble_glue/ble_glue.c
  targets/f7/ble_glue/furi_ble/event_dispatcher.c
  targets/f7/ble_glue/furi_ble/gatt.c
  targets/f7/ble_glue/gap.c
Labels: Bug, Core+Services

#3527 GUI: Fix elements module for new canvas API
  applications/services/gui/elements.c
  applications/services/gui/elements.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Core+Services

#3532 [FL-3796], [FL-3795] NFC UI fixes
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support.c
  applications/main/nfc/scenes/nfc_scene_select_protocol.c
Labels: NFC, UI

#3529 Add Dutch Originals Sound Bar IR codes to infrared app
  applications/main/infrared/resources/infrared/assets/audio.ir
Labels: Infrared

#3526 github: additional pre-upload checks for doxygen workflow
  .github/workflows/docs.yml
Labels: Build System & Scripts

#3518 [FL-3770, FL-3680] HID App improvements and little extra
  applications/debug/subghz_test/scenes/subghz_test_scene_show_only_rx.c
  applications/main/bad_usb/scenes/bad_usb_scene_error.c
  applications/main/gpio/scenes/gpio_scene_usb_uart_close_rpc.c
  applications/main/infrared/scenes/infrared_scene_learn_done.c
  applications/main/infrared/views/infrared_move_view.c
  applications/main/subghz/scenes/subghz_scene_receiver_config.c
  applications/main/u2f/scenes/u2f_scene_error.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_favorite.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_disable.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_menu.c
  applications/settings/desktop_settings/scenes/desktop_settings_scene_pin_setup_done.c
  applications/settings/desktop_settings/views/desktop_settings_view_pin_setup_howto.c
  applications/settings/power_settings_app/scenes/power_settings_scene_power_off.c
  applications/settings/power_settings_app/scenes/power_settings_scene_reboot.c
  applications/system/hid_app/assets/Circles_47x47.png
  applications/system/hid_app/assets/DolphinDone_80x58.png
  applications/system/hid_app/assets/DolphinNice_96x59.png
  applications/system/hid_app/assets/Dpad_49x46.png
  applications/system/hid_app/assets/Left_mouse_icon_9x10.png
  applications/system/hid_app/assets/Left_mouse_icon_9x9.png
  applications/system/hid_app/assets/Like_def_11x9.png
  applications/system/hid_app/assets/Like_def_13x11.png
  applications/system/hid_app/assets/Like_pressed_17x16.png
  applications/system/hid_app/assets/Like_pressed_17x17.png
  applications/system/hid_app/assets/Ok_btn_pressed_13x12.png
  applications/system/hid_app/assets/Ok_btn_pressed_13x13.png
  applications/system/hid_app/assets/Right_mouse_icon_9x10.png
  applications/system/hid_app/assets/Right_mouse_icon_9x9.png
  applications/system/hid_app/hid.c
  applications/system/hid_app/hid.h
  applications/system/hid_app/scenes/hid_scene_config.h
  applications/system/hid_app/scenes/hid_scene_exit_confirm.c
  applications/system/hid_app/scenes/hid_scene_main.c
  applications/system/hid_app/scenes/hid_scene_start.c
  applications/system/hid_app/scenes/hid_scene_unpair.c
  applications/system/hid_app/views/hid_keyboard.c
  applications/system/hid_app/views/hid_keynote.c
  applications/system/hid_app/views/hid_media.c
  applications/system/hid_app/views/hid_media.h
  applications/system/hid_app/views/hid_mouse.c
  applications/system/hid_app/views/hid_mouse_clicker.c
  applications/system/hid_app/views/hid_mouse_jiggler.c
  applications/system/hid_app/views/hid_tiktok.c
Labels: Applications

#3486 Add ChromeOS Bad USB demo
  applications/main/bad_usb/resources/badusb/demo_chromeos.txt
Labels: USB

#3528 Fix DIP decoding for Linear Delta-3
  lib/subghz/protocols/linear_delta3.c
Labels: Sub-GHz, Bug

#3547 ufbt: fixes for generated vscode project
  .vscode/example/settings.json
  scripts/ufbt/SConstruct
  scripts/ufbt/project_template/.vscode/tasks.json
Labels: Bug, Build System & Scripts

#3524 [FL-3677, FL-3798] RFID Improvements
  applications/main/lfrfid/lfrfid_i.h
  applications/main/lfrfid/scenes/lfrfid_scene_delete_confirm.c
  applications/main/lfrfid/scenes/lfrfid_scene_delete_success.c
  applications/main/lfrfid/scenes/lfrfid_scene_emulate.c
  applications/main/lfrfid/scenes/lfrfid_scene_exit_confirm.c
  applications/main/lfrfid/scenes/lfrfid_scene_extra_actions.c
  applications/main/lfrfid/scenes/lfrfid_scene_raw_info.c
  applications/main/lfrfid/scenes/lfrfid_scene_raw_read.c
  applications/main/lfrfid/scenes/lfrfid_scene_raw_success.c
  applications/main/lfrfid/scenes/lfrfid_scene_read_key_menu.c
  applications/main/lfrfid/scenes/lfrfid_scene_read_success.c
  applications/main/lfrfid/scenes/lfrfid_scene_retry_confirm.c
  applications/main/lfrfid/scenes/lfrfid_scene_save_success.c
  applications/main/lfrfid/scenes/lfrfid_scene_saved_info.c
  applications/main/lfrfid/scenes/lfrfid_scene_saved_key_menu.c
  applications/main/lfrfid/scenes/lfrfid_scene_select_key.c
  applications/main/lfrfid/scenes/lfrfid_scene_start.c
  applications/main/lfrfid/scenes/lfrfid_scene_write.c
  applications/main/lfrfid/scenes/lfrfid_scene_write_success.c
  applications/main/nfc/helpers/protocol_support/st25tb/st25tb_render.c
  applications/services/gui/elements.c
  lib/lfrfid/protocols/protocol_awid.c
  lib/lfrfid/protocols/protocol_em4100.c
  lib/lfrfid/protocols/protocol_fdx_a.c
  lib/lfrfid/protocols/protocol_fdx_b.c
  lib/lfrfid/protocols/protocol_gallagher.c
  lib/lfrfid/protocols/protocol_h10301.c
  lib/lfrfid/protocols/protocol_hid_ex_generic.c
  lib/lfrfid/protocols/protocol_hid_generic.c
  lib/lfrfid/protocols/protocol_idteck.c
  lib/lfrfid/protocols/protocol_indala26.c
  lib/lfrfid/protocols/protocol_io_prox_xsf.c
  lib/lfrfid/protocols/protocol_jablotron.c
  lib/lfrfid/protocols/protocol_keri.c
  lib/lfrfid/protocols/protocol_nexwatch.c
  lib/lfrfid/protocols/protocol_pac_stanley.c
  lib/lfrfid/protocols/protocol_paradox.c
  lib/lfrfid/protocols/protocol_pyramid.c
  lib/lfrfid/protocols/protocol_viking.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: RFID 125kHz

#3502 L1_Mods animation update : adding VGM visual
  assets/dolphin/external/L1_Mods_128x64/frame_21.png
  assets/dolphin/external/L1_Mods_128x64/frame_22.png
  assets/dolphin/external/L1_Mods_128x64/frame_23.png
  assets/dolphin/external/L1_Mods_128x64/frame_24.png
  assets/dolphin/external/L1_Mods_128x64/frame_25.png
  assets/dolphin/external/L1_Mods_128x64/frame_26.png
  assets/dolphin/external/L1_Mods_128x64/frame_27.png
  assets/dolphin/external/L1_Mods_128x64/frame_28.png
  assets/dolphin/external/L1_Mods_128x64/frame_29.png
  assets/dolphin/external/L1_Mods_128x64/frame_30.png
  assets/dolphin/external/L1_Mods_128x64/frame_31.png
  assets/dolphin/external/L1_Mods_128x64/frame_32.png
  assets/dolphin/external/L1_Mods_128x64/frame_33.png
  assets/dolphin/external/L1_Mods_128x64/frame_34.png
  assets/dolphin/external/L1_Mods_128x64/frame_35.png
  assets/dolphin/external/L1_Mods_128x64/frame_36.png
  assets/dolphin/external/L1_Mods_128x64/frame_37.png
  assets/dolphin/external/L1_Mods_128x64/frame_38.png
  assets/dolphin/external/L1_Mods_128x64/frame_39.png
  assets/dolphin/external/L1_Mods_128x64/frame_40.png
  assets/dolphin/external/L1_Mods_128x64/frame_41.png
  assets/dolphin/external/L1_Mods_128x64/frame_42.png
  assets/dolphin/external/L1_Mods_128x64/frame_43.png
  assets/dolphin/external/L1_Mods_128x64/frame_44.png
  assets/dolphin/external/L1_Mods_128x64/frame_45.png
  assets/dolphin/external/L1_Mods_128x64/frame_46.png
  assets/dolphin/external/L1_Mods_128x64/frame_47.png
  assets/dolphin/external/L1_Mods_128x64/frame_48.png
  assets/dolphin/external/L1_Mods_128x64/meta.txt
Labels: UI
