Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-01, with the labels that each got.

#3329 NFC: parsers minor cleanup
  applications/main/nfc/plugins/supported_cards/umarsh.c
  applications/main/nfc/plugins/supported_cards/washcity.c
Labels: NFC

#3332 Fix MyKey production date parsing
  applications/main/nfc/plugins/supported_cards/mykey.c
Labels: NFC

#3230 FuriHal: fix start duration furi_hal_subghz_async_tx
  applications/debug/unit_tests/subghz/subghz_test.c
  applications/drivers/subghz/cc1101_ext/cc1101_ext.c
  lib/subghz/subghz_file_encoder_worker.c
  targets/f7/furi_hal/furi_hal_subghz.c
  targets/f7/furi_hal/furi_hal_subghz.h
Labels: Sub-GHz

#3356 NFC: system dict skip when user dict is skipped fix
  lib/nfc/protocols/mf_classic/mf_classic_poller.c
Labels: NFC, Bug

#3359 assets: checking limits on image size; ufbt: cdb target
  SConstruct
  firmware.scons
  scripts/assets.py
  scripts/ufbt/SConstruct
  scripts/ufbt/site_tools/ufbt_help.py
Labels: Bug, Build System & Scripts, New Feature

#3352 [FL-3743] SubGhz: UI update
  applications/main/subghz/helpers/subghz_custom_event.h
  applications/main/subghz/scenes/subghz_scene_delete.c
  applications/main/subghz/scenes/subghz_scene_delete_raw.c
  applications/main/subghz/scenes/subghz_scene_need_saving.c
  applications/main/subghz/scenes/subghz_scene_receiver_info.c
  applications/main/subghz/scenes/subghz_scene_region_info.c
  applications/main/subghz/scenes/subghz_scene_save_name.c
  applications/main/subghz/scenes/subghz_scene_saved.c
  applications/main/subghz/scenes/subghz_scene_transmitter.c
  applications/main/subghz/views/receiver.c
  applications/main/subghz/views/subghz_frequency_analyzer.c
  applications/main/subghz/views/subghz_read_raw.c
  applications/main/subghz/views/transmitter.c
  applications/main/subghz/views/transmitter.h
  assets/icons/SubGhz/External_ant_1_9x11.png
  assets/icons/SubGhz/External_antenna_20x12.png
  assets/icons/SubGhz/Internal_ant_1_9x11.png
  assets/icons/SubGhz/Internal_antenna_20x12.png
  assets/icons/SubGhz/SubGhz_External_ant/frame_01.png
  assets/icons/SubGhz/SubGhz_External_ant/frame_02.png
  assets/icons/SubGhz/SubGhz_External_ant/frame_03.png
  assets/icons/SubGhz/SubGhz_External_ant/frame_04.png
  assets/icons/SubGhz/SubGhz_External_ant/frame_rate
  assets/icons/SubGhz/SubGhz_Internal_ant/frame_01.png
  assets/icons/SubGhz/SubGhz_Internal_ant/frame_02.png
  assets/icons/SubGhz/SubGhz_Internal_ant/frame_03.png
  assets/icons/SubGhz/SubGhz_Internal_ant/frame_04.png
  assets/icons/SubGhz/SubGhz_Internal_ant/frame_rate
Labels: Sub-GHz, UI

#3294 Furi_hal_rtc: new function
  applications/debug/unit_tests/furi_hal/furi_hal_tests.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_rtc.c
  targets/furi_hal_include/furi_hal_rtc.h
Labels: New Feature, Core+Services

#3302 SubGhz: add `subghz tx_from_file` CLI cmd, major TX flow refactoring, various improvements and bug fixes
  applications/drivers/subghz/cc1101_ext/cc1101_ext.c
  applications/main/nfc/helpers/protocol_support/mf_classic/mf_classic.c
  applications/main/subghz/helpers/subghz_frequency_analyzer_worker.c
  applications/main/subghz/subghz_cli.c
  lib/drivers/cc1101.c
  lib/drivers/cc1101.h
  targets/f7/furi_hal/furi_hal_interrupt.c
  targets/f7/furi_hal/furi_hal_subghz.c
Labels: Sub-GHz

#3211 FuriHal: UART refactoring
  applications/debug/uart_echo/uart_echo.c
  applications/main/gpio/application.fam
  applications/main/gpio/scenes/gpio_scene_usb_uart_config.c
  applications/main/gpio/usb_uart_bridge.c
  applications/main/u2f/u2f_hid.c
  applications/services/cli/cli_commands.c
  applications/settings/system/system_settings.c
  documentation/FuriHalBus.md
  furi/core/check.c
  furi/core/log.c
  furi/core/log.h
  furi/core/memmgr_heap.c
  furi/core/mutex.c
  furi/core/thread.c
  lib/toolbox/value_index.c
  lib/toolbox/value_index.h
  targets/f18/api_symbols.csv
  targets/f18/furi_hal/furi_hal.c
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal.c
  targets/f7/furi_hal/furi_hal_console.c
  targets/f7/furi_hal/furi_hal_console.h
  targets/f7/furi_hal/furi_hal_interrupt.c
  targets/f7/furi_hal/furi_hal_interrupt.h
  targets/f7/furi_hal/furi_hal_os.c
  targets/f7/furi_hal/furi_hal_power.c
  targets/f7/furi_hal/furi_hal_rtc.c
  targets/f7/furi_hal/furi_hal_rtc.h
  targets/f7/furi_hal/furi_hal_serial.c
  targets/f7/furi_hal/furi_hal_serial.h
  targets/f7/furi_hal/furi_hal_serial_control.c
  targets/f7/furi_hal/furi_hal_serial_control.h
  targets/f7/furi_hal/furi_hal_serial_types.h
  targets/f7/furi_hal/furi_hal_serial_types_i.h
  targets/f7/furi_hal/furi_hal_uart.c
  targets/f7/furi_hal/furi_hal_uart.h
  targets/furi_hal_include/furi_hal.h
Labels: Core+Services

#3199 Bugfix: Strip last parity bit from decoded FDX-B data
  applications/debug/unit_tests/lfrfid/lfrfid_protocols.c
  lib/lfrfid/protocols/protocol_fdx_b.c
Labels: RFID 125kHz, Bug

#3250 [FL-3669] Expansion module protocol
  .github/CODEOWNERS
  applications/debug/expansion_test/application.fam
  applications/debug/expansion_test/assets/test.txt
  applications/debug/expansion_test/expansion_test.c
  applications/debug/unit_tests/expansion/expansion_test.c
  applications/debug/unit_tests/test_index.c
  applications/services/application.fam
  applications/services/expansion/application.fam
  applications/services/expansion/expansion.c
  applications/services/expansion/expansion.h
  applications/services/expansion/expansion_protocol.h
  applications/services/expansion/expansion_settings.c
  applications/services/expansion/expansion_settings.h
  applications/services/expansion/expansion_settings_filename.h
  applications/services/rpc/rpc.c
  applications/services/rpc/rpc.h
  applications/services/rpc/rpc_gui.c
  applications/settings/expansion_settings_app/application.fam
  applications/settings/expansion_settings_app/expansion_settings_app.c
  applications/settings/expansion_settings_app/expansion_settings_app.h
  documentation/ExpansionModules.md
  furi/core/log.c
  furi/core/stream_buffer.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_serial.c
  targets/f7/furi_hal/furi_hal_serial.h
  targets/f7/furi_hal/furi_hal_serial_control.c
  targets/f7/furi_hal/furi_hal_serial_control.h
  targets/f7/furi_hal/furi_hal_serial_types.h
Labels: New Feature, Core+Services
