Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-08, with the labels that each got.

#3819 [NFC] Change the plantain last number display from "?" to "X"
  applications/main/nfc/plugins/supported_cards/plantain.c
  applications/main/nfc/plugins/supported_cards/two_cities.c
Labels: NFC, UI

#3350 Added a text input that only accepts full numbers (int)
  applications/examples/example_number_input/ReadMe.md
  applications/examples/example_number_input/application.fam
  applications/examples/example_number_input/example_number_input.c
  applications/examples/example_number_input/example_number_input.h
  applications/examples/example_number_input/example_number_input_10px.png
  applications/examples/example_number_input/scenes/example_number_input_scene.c
  applications/examples/example_number_input/scenes/example_number_input_scene.h
  applications/examples/example_number_input/scenes/example_number_input_scene_config.h
  applications/examples/example_number_input/scenes/example_number_input_scene_input_max.c
  applications/examples/example_number_input/scenes/example_number_input_scene_input_min.c
  applications/examples/example_number_input/scenes/example_number_input_scene_input_number.c
  applications/examples/example_number_input/scenes/example_number_input_scene_show_number.c
  applications/services/gui/application.fam
  applications/services/gui/modules/number_input.c
  applications/services/gui/modules/number_input.h
  assets/icons/Keyboard/KeySaveBlockedSelected_24x11.png
  assets/icons/Keyboard/KeySaveBlocked_24x11.png
  assets/icons/Keyboard/KeySaveSelected_24x11.png
  assets/icons/Keyboard/KeySave_24x11.png
  assets/icons/Keyboard/KeySignSelected_21x11.png
  assets/icons/Keyboard/KeySign_21x11.png
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: UI, New Feature

#3824 [FL-3883] Remove internal storage folder if corresponding flag set
  applications/services/storage/storage.c
  applications/services/storage/storage_internal_dirname_i.h
  applications/services/storage/storage_processing.c
  applications/services/storage/storages/storage_ext.c
Labels: Core+Services

#3826 Added protocol for Dickert MAHS garage door remote control
  applications/debug/unit_tests/resources/unit_tests/subghz/dickert_mahs.sub
  applications/debug/unit_tests/resources/unit_tests/subghz/dickert_raw.sub
  applications/debug/unit_tests/tests/subghz/subghz_test.c
  lib/subghz/protocols/dickert_mahs.c
  lib/subghz/protocols/dickert_mahs.h
  lib/subghz/protocols/protocol_items.c
  lib/subghz/protocols/protocol_items.h
Labels: Sub-GHz, New Feature

#3836 Desktop: seaprate callbacks for dolphin and storage subscriptions
  applications/services/desktop/animations/animation_manager.c
  applications/services/dolphin/dolphin.c
Labels: Bug, Core+Services

#3834 scripts: improved size validator for updater image
  scripts/imglint.py
  scripts/update.py
Labels: Build System & Scripts
