Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-06, with the labels that each got.

#3679 [FL-3832] Use static synchronisation primitives
  applications/debug/unit_tests/tests/rpc/rpc_test.c
  applications/debug/unit_tests/unit_test_api_table_i.h
  applications/services/bt/bt_service/bt.c
  applications/services/desktop/desktop.c
  applications/services/desktop/scenes/desktop_scene_pin_timeout.c
  applications/services/desktop/views/desktop_view_pin_timeout.c
  applications/services/dolphin/dolphin.c
  applications/services/power/power_service/power.c
  furi/core/event_flag.c
  furi/core/event_flag.h
  furi/core/memmgr_heap.c
  furi/core/message_queue.c
  furi/core/mutex.c
  furi/core/mutex.h
  furi/core/semaphore.c
  furi/core/semaphore.h
  furi/core/stream_buffer.c
  furi/core/stream_buffer.h
  furi/core/thread.c
  furi/core/thread.h
  furi/core/timer.c
  furi/core/timer.h
  furi/flipper.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_serial_control.c
  targets/f7/furi_hal/furi_hal_usb.c
  targets/f7/inc/FreeRTOSConfig.h
Labels: Core+Services, Documentation

#3686 [FL-3786] Fixed infinite loop in dictionary attack scene
  applications/main/nfc/helpers/protocol_support/mf_classic/mf_classic.c
Labels: NFC, Bug

#3684 [FL-3811] Write to ultralight cards is now possible
  applications/main/nfc/helpers/protocol_support/mf_ultralight/mf_ultralight.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight.c
  lib/nfc/protocols/mf_ultralight/mf_ultralight.h
  lib/nfc/protocols/mf_ultralight/mf_ultralight_poller.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC, New Feature

#3607 [FL-3746] Mifare Plus detection support
  applications/main/nfc/helpers/protocol_support/mf_plus/mf_plus.c
  applications/main/nfc/helpers/protocol_support/mf_plus/mf_plus.h
  applications/main/nfc/helpers/protocol_support/mf_plus/mf_plus_render.c
  applications/main/nfc/helpers/protocol_support/mf_plus/mf_plus_render.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support_defs.c
  applications/main/nfc/plugins/supported_cards/skylanders.c
  applications/main/nfc/resources/nfc/assets/skylanders.nfc
  applications/main/nfc/scenes/nfc_scene_exit_confirm.c
  lib/nfc/SConscript
  lib/nfc/protocols/mf_plus/mf_plus.c
  lib/nfc/protocols/mf_plus/mf_plus.h
  lib/nfc/protocols/mf_plus/mf_plus_i.c
  lib/nfc/protocols/mf_plus/mf_plus_i.h
  lib/nfc/protocols/mf_plus/mf_plus_poller.c
  lib/nfc/protocols/mf_plus/mf_plus_poller.h
  lib/nfc/protocols/mf_plus/mf_plus_poller_defs.h
  lib/nfc/protocols/mf_plus/mf_plus_poller_i.c
  lib/nfc/protocols/mf_plus/mf_plus_poller_i.h
  lib/nfc/protocols/nfc_device_defs.c
  lib/nfc/protocols/nfc_poller_defs.c
  lib/nfc/protocols/nfc_protocol.c
  lib/nfc/protocols/nfc_protocol.h
  targets/f7/api_symbols.csv
Labels: NFC, New Feature

#3724 Add support for Sony RM-SC3 remote control
  applications/main/infrared/resources/infrared/assets/audio.ir
Labels: Infrared

#3716 Updater: resource compression
  applications/debug/unit_tests/resources/unit_tests/compress/hsstream.in.bin
  applications/debug/unit_tests/resources/unit_tests/compress/test.ths
  applications/debug/unit_tests/tests/compress/compress_test.c
  applications/services/rpc/rpc_storage.c
  applications/services/storage/storage_cli.c
  applications/services/storage/storage_internal_api.c
  applications/system/updater/util/update_task.c
  applications/system/updater/util/update_task.h
  applications/system/updater/util/update_task_worker_backup.c
  documentation/OTA.md
  documentation/file_formats/TarHeatshrinkFormat.md
  lib/toolbox/compress.c
  lib/toolbox/compress.h
  lib/toolbox/path.c
  lib/toolbox/tar/tar_archive.c
  lib/toolbox/tar/tar_archive.h
  lib/update_util/resources/manifest.c
  lib/update_util/resources/manifest.h
  scripts/flipper/assets/heatshrink_stream.py
  scripts/flipper/assets/tarball.py
  scripts/hs.py
  scripts/sconsdist.py
  scripts/update.py
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, Core+Services

#3736 New js modules documentation added
  documentation/doxygen/js.dox
  documentation/js/js_badusb.md
  documentation/js/js_dialog.md
  documentation/js/js_math.md
  documentation/js/js_serial.md
  documentation/js/js_submenu.md
  documentation/js/js_textbox.md
Labels: Documentation, JS

#3739 cli: storage: minor subcommand lookup refactor
  applications/services/storage/storage_cli.c
Labels: Core+Services
