Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-02, with the labels that each got.

#3355 NFC: MF Classic parsers read() fix (dictionary attack skip)
  applications/main/nfc/plugins/supported_cards/aime.c
  applications/main/nfc/plugins/supported_cards/hid.c
  applications/main/nfc/plugins/supported_cards/plantain.c
  applications/main/nfc/plugins/supported_cards/troika.c
  applications/main/nfc/plugins/supported_cards/two_cities.c
  lib/nfc/protocols/mf_classic/mf_classic.h
  lib/nfc/protocols/mf_classic/mf_classic_poller_sync.c
Labels: NFC

#3365 [FL-3661] Troika layout fixes
  applications/main/nfc/plugins/supported_cards/plantain.c
  applications/main/nfc/plugins/supported_cards/troika.c
  applications/main/nfc/plugins/supported_cards/two_cities.c
Labels: NFC

#3344 Add an NFC parser for the San Francisco Bay Area "Clipper" transit card.
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/clipper.c
Labels: NFC, New Feature

#3325 ITSO Parser (UK)
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/itso.c
Labels: NFC, New Feature

#3430 NFC: fix crash on save manually added cards
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support.c
Labels: NFC, Bug

#3397 Direct Draw apps can now be streamed via RPC.
  applications/services/gui/canvas.c
  applications/services/gui/canvas_i.h
  applications/services/gui/gui.c
  applications/services/gui/gui_i.h
Labels: Core+Services

#3306 NFC: Add support for Gallagher access control (MIFARE Classic only)
  applications/main/nfc/api/gallagher/gallagher_util.c
  applications/main/nfc/api/gallagher/gallagher_util.h
  applications/main/nfc/api/nfc_app_api_interface.h
  applications/main/nfc/api/nfc_app_api_table.cpp
  applications/main/nfc/api/nfc_app_api_table_i.h
  applications/main/nfc/application.fam
  applications/main/nfc/helpers/nfc_supported_cards.c
  applications/main/nfc/plugins/supported_cards/gallagher.c
  lib/flipper_application/api_hashtable/api_hashtable.cpp
Labels: NFC

#3335 Added NFC plugin; Some parser
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/hi.c
  applications/main/nfc/plugins/supported_cards/microel.c
  applications/main/nfc/plugins/supported_cards/mizip.c
Labels: NFC

#3358 [FL-3672] CLI: cat command crash workaround
  applications/services/cli/cli.c
  targets/f7/furi_hal/furi_hal_usb_cdc.c
Labels: USB, Bug, Core+Services

#3254 New toolchain with gcc 12
  applications/debug/unit_tests/furi/furi_memmgr_test.c
  applications/main/nfc/scenes/nfc_scene_set_type.c
  applications/main/subghz/helpers/subghz_frequency_analyzer_log_item_array.h
  applications/services/dolphin/dolphin.c
  applications/services/gui/canvas.c
  applications/services/gui/canvas_i.h
  applications/services/rpc/rpc_storage.c
  fbt_options.py
  furi/core/common_defines.h
  furi/core/core_defines.h
  furi/core/dangerous_defines.h
  furi/core/string.h
  lib/digital_signal/digital_signal.h
  lib/nfc/protocols/iso14443_3a/iso14443_3a_poller_i.h
  lib/nfc/protocols/mf_classic/crypto1.c
  lib/pulse_reader/pulse_reader.c
  lib/u8g2/u8x8.h
  scripts/debug/41-udev.rules
  scripts/fbt_tools/gdb.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/toolchain/windows-toolchain-download.ps1
  scripts/ufbt/SConstruct
  site_scons/cc.scons
  site_scons/extapps.scons
  site_scons/firmwareopts.scons
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/ble_glue/gap.c
  targets/f7/furi_hal/furi_hal_flash.c
  targets/f7/furi_hal/furi_hal_memory.c
  targets/f7/furi_hal/furi_hal_os.c
  targets/f7/platform_specific/cxx_virtual_stub.c
  targets/f7/platform_specific/cxx_virtual_stub.h
Labels: Build System & Scripts

#3439 NFC: fix retry scene navigation logic
  applications/main/nfc/scenes/nfc_scene_exit_confirm.c
  applications/main/nfc/scenes/nfc_scene_retry_confirm.c
Labels: NFC, Bug

#3438 [FL-3769] Check universal remote files before loading
  applications/main/infrared/infrared_app_i.h
  applications/main/infrared/infrared_brute_force.c
  applications/main/infrared/infrared_signal.c
  applications/main/infrared/infrared_signal.h
Labels: Infrared, UI, New Feature

#3442 mjs: minor fixes
  .github/CODEOWNERS
  applications/ReadMe.md
  applications/system/js_app/examples/apps/Scripts/load.js
  applications/system/js_app/plugin_api/app_api_table_i.h
  lib/mjs/SConscript
Labels: Core+Services, Documentation

#3445 JS serial module fixes
  applications/system/js_app/application.fam
  applications/system/js_app/examples/apps/Scripts/bad_uart.js
  applications/system/js_app/examples/apps/Scripts/uart_echo.js
  applications/system/js_app/modules/js_serial.c
Labels: JS

#3448 VSCode integration fixes for new toolchain
  .vscode/example/settings.json
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/toolchain/windows-toolchain-download.ps1
Labels: Build System & Scripts

#3386 FuriHalRtc refactor: new datetime lib
  applications/debug/locale_test/locale_test.c
  applications/debug/unit_tests/datetimelib/datetimelib_test.c
  applications/debug/unit_tests/furi_hal/furi_hal_tests.c
  applications/debug/unit_tests/test_index.c
  applications/main/nfc/plugins/supported_cards/clipper.c
  applications/main/nfc/plugins/supported_cards/itso.c
  applications/main/nfc/plugins/supported_cards/opal.c
  applications/main/nfc/plugins/supported_cards/umarsh.c
  applications/main/subghz/scenes/subghz_scene_save_name.c
  applications/services/cli/cli_commands.c
  applications/services/desktop/desktop.c
  applications/services/dolphin/dolphin.c
  applications/services/dolphin/helpers/dolphin_state.c
  applications/services/locale/locale.c
  applications/services/locale/locale.h
  applications/services/rpc/rpc_system.c
  lib/SConscript
  lib/datetime/SConscript
  lib/datetime/datetime.c
  lib/datetime/datetime.h
  lib/toolbox/name_generator.c
  targets/f18/api_symbols.csv
  targets/f18/target.json
  targets/f7/api_symbols.csv
  targets/f7/fatfs/fatfs.c
  targets/f7/furi_hal/furi_hal_rtc.c
  targets/f7/furi_hal/furi_hal_rtc.h
  targets/f7/target.json
Labels: Core+Services

#3450 Archive: fixed Apps tab ext filter
  applications/main/archive/helpers/archive_browser.h
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/views/archive_browser_view.c
Labels: UI, JS

#3263 [FL-3699] HID: Add confirmation dialogue to the remove pairing option
  applications/system/hid_app/assets/DolphinNice_96x59.png
  applications/system/hid_app/hid.c
  applications/system/hid_app/hid.h
  applications/system/hid_app/scenes/hid_scene.c
  applications/system/hid_app/scenes/hid_scene.h
  applications/system/hid_app/scenes/hid_scene_config.h
  applications/system/hid_app/scenes/hid_scene_exit_confirm.c
  applications/system/hid_app/scenes/hid_scene_main.c
  applications/system/hid_app/scenes/hid_scene_unpair.c
  applications/system/hid_app/views.h
Labels: UI, Applications

#3459 Quote $FBT_TOOLCHAIN_PATH to avoid splitting
  scripts/toolchain/fbtenv.sh
Labels: Bug, Build System & Scripts

#3451 Toolchain fixes
  applications/debug/accessor/accessor_view_manager.cpp
  applications/debug/accessor/callback_connector.h
  applications/debug/accessor/helpers/wiegand.cpp
  applications/debug/accessor/helpers/wiegand.h
  applications/debug/accessor/scene/accessor_scene_start.cpp
  applications/debug/battery_test_app/battery_test_app.c
  applications/drivers/subghz/cc1101_ext/cc1101_ext.c
  applications/examples/example_plugins_advanced/app_api_table.cpp
  applications/main/nfc/api/nfc_app_api_table.cpp
  applications/services/loader/firmware_api/firmware_api.cpp
  applications/system/js_app/plugin_api/app_api_table.cpp
  fbt
  fbt.cmd
  scripts/debug/41-flipper.rules
  scripts/debug/README.md
  scripts/fbt/util.py
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/toolchain/windows-toolchain-download.ps1
  site_scons/cc.scons
  targets/f7/furi_hal/furi_hal_ibutton.c
  targets/f7/furi_hal/furi_hal_infrared.c
  targets/f7/furi_hal/furi_hal_nfc_irq.c
  targets/f7/furi_hal/furi_hal_rfid.c
  targets/f7/furi_hal/furi_hal_spi.c
  targets/f7/furi_hal/furi_hal_subghz.c
  targets/f7/src/update.c
Labels: Build System & Scripts
