Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-07, with the labels that each got.

#3743 Updater: Fix double dir cleanup
  applications/system/updater/util/update_task_worker_backup.c
Labels: Bug, UI, Core+Services

#3721 [FL-3846] Event Loop Timers
  .pvsconfig
  applications/debug/event_loop_blink_test/application.fam
  applications/debug/event_loop_blink_test/event_loop_blink_test.c
  applications/services/dolphin/dolphin.c
  applications/services/dolphin/dolphin.h
  applications/services/dolphin/dolphin_i.h
  furi/core/event_loop.c
  furi/core/event_loop.h
  furi/core/event_loop_i.h
  furi/core/event_loop_link_i.h
  furi/core/event_loop_tick.c
  furi/core/event_loop_tick_i.h
  furi/core/event_loop_timer.c
  furi/core/event_loop_timer.h
  furi/core/event_loop_timer_i.h
  furi/core/message_queue.c
  furi/core/message_queue_i.h
  furi/furi.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, Core+Services

#3740 updater: slightly smaller image
  lib/print/SConscript
  targets/f7/furi_hal/furi_hal_flash.c
Labels: Core+Services

#3747 Coalesce some allocations
  applications/services/gui/scene_manager.c
  applications/services/gui/scene_manager_i.h
  applications/services/gui/view.c
  applications/services/gui/view_i.h
  lib/digital_signal/digital_sequence.c
  lib/digital_signal/digital_signal.c
  lib/digital_signal/digital_signal_i.h
  lib/toolbox/buffer_stream.c
  lib/toolbox/protocols/protocol_dict.c
Labels: Core+Services

#3748 input_srv: Put input state data on the stack of the service
  applications/services/input/input.c
  applications/services/input/input_cli.c
  applications/services/input/input_i.h
Labels: Core+Services

#3751 Furi: count ISR time. Cli: show ISR time in top.
  applications/services/cli/cli_commands.c
  furi/core/common_defines.h
  furi/core/thread_list.c
  furi/core/thread_list.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_gpio.c
  targets/f7/furi_hal/furi_hal_interrupt.c
  targets/f7/furi_hal/furi_hal_interrupt.h
Labels: Core+Services

#3741 CCID: Improve request and response data handling
  applications/debug/ccid_test/ccid_test_app.c
  applications/debug/ccid_test/client/ccid_client.py
  applications/debug/ccid_test/client/requirements.txt
  applications/debug/ccid_test/iso7816_atr.h
  applications/debug/ccid_test/iso7816_callbacks.c
  applications/debug/ccid_test/iso7816_callbacks.h
  applications/debug/ccid_test/iso7816_response.c
  applications/debug/ccid_test/iso7816_response.h
  applications/debug/ccid_test/iso7816_t0_apdu.c
  applications/debug/ccid_test/iso7816_t0_apdu.h
  targets/f7/furi_hal/furi_hal_usb_ccid.c
  targets/furi_hal_include/furi_hal_usb_ccid.h
Labels: USB, Core+Services

#3737 NFC: Cache plugin name not full path, saves some RAM
  applications/main/nfc/helpers/nfc_supported_cards.c
Labels: NFC

#3776 [FL-3870] Desktop: allow to close blocking bad sd animation
  applications/services/desktop/animations/animation_manager.c
Labels: UI, Core+Services

#3767 SubGHz: Hormann HSM static - Fix button decode
  lib/subghz/protocols/hormann.c
Labels: Sub-GHz, Bug

#3768 SubGHz: Keeloq - Add Novoferm remotes decode support
  applications/main/subghz/resources/subghz/assets/keeloq_mfcodes
Labels: Sub-GHz, New Feature

#3770 ufbt: added ARGS to commandline parser
  scripts/ufbt/commandline.scons
Labels: Bug, Build System & Scripts

#3781 Tar archive: fix double free
  lib/toolbox/tar/tar_archive.c
Labels: Bug, Core+Services

#3784 NFC: ISO15693 Render Typo Fix
  applications/main/nfc/helpers/protocol_support/iso15693_3/iso15693_3_render.c
Labels: NFC, Bug

#3782 scripts: runfap: fixed starting apps with spaces in path
  scripts/runfap.py
Labels: Bug, Build System & Scripts

#3771 [FL-3761, FL-3869] Backports for 0.64 branch
  firmware/targets/f7/Src/update.c
  scripts/update.py
Labels: Bug, Build System & Scripts, Core+Services

#3788 [FL-3871] Infrared: check for negative timings
  lib/flipper_format/flipper_format_stream.c
Labels: Infrared, Bug

#3787 ufbt: synced .clang-format rules with firmware
  scripts/ufbt/project_template/.clang-format
Labels: Build System & Scripts

#3790 VSCode fixes: .gitignore & clangd
  .sublime-project
  .vscode/.gitignore
  .vscode/example/settings.json.tmpl
  scripts/ufbt/project_template/.vscode/settings.json
Labels: Build System & Scripts

#3791 Disabled ISR runtime stats collection for updater builds
  targets/f7/furi_hal/furi_hal_interrupt.c
Labels: Core+Services

#3777 [FL-3752] HID/BLE Keyboard UI refactoring
  applications/system/hid_app/assets/Alt_17x10.png
  applications/system/hid_app/assets/Alt_active_17x9.png
  applications/system/hid_app/assets/Alt_pressed_17x10.png
  applications/system/hid_app/assets/Backspace_9x7.png
  applications/system/hid_app/assets/Cmd_17x10.png
  applications/system/hid_app/assets/Cmd_active_17x9.png
  applications/system/hid_app/assets/Cmd_pressed_17x10.png
  applications/system/hid_app/assets/Ctrl_17x10.png
  applications/system/hid_app/assets/Ctrl_active_17x9.png
  applications/system/hid_app/assets/Ctrl_pressed_17x10.png
  applications/system/hid_app/assets/Del_17x10.png
  applications/system/hid_app/assets/Enter_11x7.png
  applications/system/hid_app/assets/Esc_17x10.png
  applications/system/hid_app/assets/Shift_active_7x9.png
  applications/system/hid_app/assets/Shift_inactive_7x9.png
  applications/system/hid_app/assets/Shift_pressed_7x10.png
  applications/system/hid_app/assets/Tab_17x10.png
  applications/system/hid_app/assets/Tab_19x12.png
  applications/system/hid_app/assets/apostrophe_button_9x11.png
  applications/system/hid_app/assets/backslash_button_9x11.png
  applications/system/hid_app/assets/backspace_19x11.png
  applications/system/hid_app/assets/backspace_hovered_9x11.png
  applications/system/hid_app/assets/backtick_button_9x11.png
  applications/system/hid_app/assets/brace_left_button_9x11.png
  applications/system/hid_app/assets/brace_right_button_9x11.png
  applications/system/hid_app/assets/equals_button_9x11.png
  applications/system/hid_app/assets/hash_button_9x11.png
  applications/system/hid_app/assets/percent_button_9x11.png
  applications/system/hid_app/assets/quote_button_9x11.png
  applications/system/hid_app/assets/slash_button_9x11.png
  applications/system/hid_app/assets/sq_bracket_left_button_9x11.png
  applications/system/hid_app/assets/sq_bracket_right_button_9x11.png
  applications/system/hid_app/assets/underscore_button_9x11.png
  applications/system/hid_app/views/hid_keyboard.c
Labels: UI, Applications

#3811 Fix .editorconfig
  .editorconfig
Labels: Build System & Scripts

#3810 Reordered VS-Code Tasks to follow the [Release] > [Debug] schema
  .vscode/example/tasks.json
Labels: Build System & Scripts

#3812 Fix typo in "charge me" screen.
  applications/services/power/power_service/views/power_off.c
Labels: Bug, UI

#3803 Furi: update string documentation
  furi/core/string.h
Labels: Documentation

#3793 toolchain: v39
  .sublime-project
  .vscode/example/settings.json.tmpl
  scripts/toolchain/fbtenv.cmd
  scripts/toolchain/fbtenv.sh
  scripts/ufbt/project_template/.vscode/settings.json
Labels: Build System & Scripts

#3815 Added `-Wundef` to compiler options
  applications/services/cli/cli_commands.c
  applications/services/desktop/views/desktop_view_locked.c
  applications/services/desktop/views/desktop_view_pin_timeout.c
  applications/services/rpc/rpc.c
  applications/settings/system/system_settings.c
  furi/furi.c
  furi/furi.h
  lib/drivers/bq25896_reg.h
  lib/drivers/lp5562_reg.h
  site_scons/cc.scons
  targets/f7/ble_glue/app_conf.h
  targets/f7/ble_glue/ble_conf.h
  targets/f7/furi_hal/furi_hal_interrupt.c
  targets/f7/inc/FreeRTOSConfig.h
Labels: Core+Services

#3734 [FL-3827] iButton ID writing
  applications/main/ibutton/ibutton_cli.c
  applications/main/ibutton/ibutton_i.h
  applications/main/ibutton/scenes/ibutton_scene_read_key_menu.c
  applications/main/ibutton/scenes/ibutton_scene_saved_key_menu.c
  applications/main/ibutton/scenes/ibutton_scene_write.c
  lib/ibutton/ibutton_protocols.c
  lib/ibutton/ibutton_protocols.h
  lib/ibutton/ibutton_worker.c
  lib/ibutton/ibutton_worker.h
  lib/ibutton/ibutton_worker_i.h
  lib/ibutton/ibutton_worker_modes.c
  lib/ibutton/protocols/dallas/protocol_dallas_base.h
  lib/ibutton/protocols/dallas/protocol_ds1971.c
  lib/ibutton/protocols/dallas/protocol_ds1990.c
  lib/ibutton/protocols/dallas/protocol_ds1992.c
  lib/ibutton/protocols/dallas/protocol_ds1996.c
  lib/ibutton/protocols/dallas/protocol_ds_generic.c
  lib/ibutton/protocols/dallas/protocol_group_dallas.c
  lib/ibutton/protocols/misc/protocol_group_misc.c
  lib/ibutton/protocols/protocol_common.h
  lib/ibutton/protocols/protocol_group_base.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, iButton

#3798 Fix: Add missing va_end call
  lib/mjs/mjs_array.c
Labels: Bug, JS

#3813 [FL-3879] Fix plantain balance string
  applications/main/nfc/plugins/supported_cards/plantain.c
Labels: NFC, UI

#3809 [FL-3766] Refactor detected protocols list
  applications/main/nfc/helpers/nfc_detected_protocols.c
  applications/main/nfc/helpers/nfc_detected_protocols.h
  applications/main/nfc/helpers/protocol_support/nfc_protocol_support.c
  applications/main/nfc/nfc_app.c
  applications/main/nfc/nfc_app_i.h
  applications/main/nfc/scenes/nfc_scene_detect.c
  applications/main/nfc/scenes/nfc_scene_mf_ultralight_unlock_warn.c
  applications/main/nfc/scenes/nfc_scene_select_protocol.c
  applications/main/nfc/scenes/nfc_scene_start.c
Labels: NFC

#3808 CCID App: Refactor
  applications/debug/ccid_test/ccid_test_app.c
  applications/debug/ccid_test/ccid_test_app_commands.c
  applications/debug/ccid_test/ccid_test_app_commands.h
  applications/debug/ccid_test/iso7816/iso7816_atr.h
  applications/debug/ccid_test/iso7816/iso7816_handler.c
  applications/debug/ccid_test/iso7816/iso7816_handler.h
  applications/debug/ccid_test/iso7816/iso7816_response.c
  applications/debug/ccid_test/iso7816/iso7816_response.h
  applications/debug/ccid_test/iso7816/iso7816_t0_apdu.c
  applications/debug/ccid_test/iso7816/iso7816_t0_apdu.h
  applications/debug/ccid_test/iso7816_callbacks.c
  applications/debug/ccid_test/iso7816_callbacks.h
Labels: Applications

#3796 Add lfrfid GProxII support
  documentation/file_formats/LfRfidFileFormat.md
  lib/lfrfid/protocols/lfrfid_protocols.c
  lib/lfrfid/protocols/lfrfid_protocols.h
  lib/lfrfid/protocols/protocol_gproxii.c
  lib/lfrfid/protocols/protocol_gproxii.h
Labels: RFID 125kHz, New Feature
