Repository flipperdevices/flipperzero-firmware, pull requests merged in 2024-10, with the labels that each got.

#3783 Improve bit_buffer.h docs
  lib/toolbox/bit_buffer.h
Labels: NFC, Documentation

#3933 furi_hal_random: Wait for ready state and no errors before sampling
  targets/f7/furi_hal/furi_hal_random.c
Labels: Bug, Core+Services

#3464 Moscow social card parser
  applications/main/nfc/api/mosgortrans/mosgortrans_util.c
  applications/main/nfc/api/mosgortrans/mosgortrans_util.h
  applications/main/nfc/api/nfc_app_api_table_i.h
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/social_moscow.c
  applications/main/nfc/plugins/supported_cards/troika.c
Labels: NFC

#3469 Plantain parser improvements
  applications/main/nfc/plugins/supported_cards/plantain.c
Labels: NFC, New Feature

#3934 Documentation: update and cleanup
  ReadMe.md
  applications/examples/example_number_input/ReadMe.md
  documentation/AppManifests.md
  documentation/AppsOnSDCard.md
  documentation/ExpansionModules.md
  documentation/FuriCheck.md
  documentation/FuriHalBus.md
  documentation/FuriHalDebuging.md
  documentation/HardwareTargets.md
  documentation/KeyCombo.md
  documentation/OTA.md
  documentation/UnitTests.md
  documentation/UniversalRemotes.md
  documentation/devboard/Reading logs via the Dev Board.md
  documentation/doxygen/Doxyfile.cfg
  documentation/doxygen/app_publishing.dox
  documentation/doxygen/applications.dox
  documentation/doxygen/dev_board.dox
  documentation/doxygen/dev_tools.dox
  documentation/doxygen/examples.dox
  documentation/doxygen/expansion_modules.dox
  documentation/doxygen/file_formats.dox
  documentation/doxygen/header.html
  documentation/doxygen/index.dox
  documentation/doxygen/js.dox
  documentation/doxygen/misc.dox
  documentation/doxygen/system.dox
  documentation/fbt.md
  documentation/file_formats/NfcFileFormats.md
  documentation/file_formats/TarHeatshrinkFormat.md
  documentation/js/js_badusb.md
  documentation/js/js_data_types.md
  documentation/js/js_math.md
Labels: Documentation

#3944 Wi-Fi Devboard documentation rework
  documentation/devboard/Debugging via the Devboard.md
  documentation/devboard/Devboard debug modes.md
  documentation/devboard/Firmware update on Developer Board.md
  documentation/devboard/Get started with the Dev Board.md
  documentation/devboard/Reading logs via the Dev Board.md
  documentation/devboard/USB connection to the Devboard.md
  documentation/devboard/Wi-Fi connection to the Devboard.md
  documentation/doxygen/dev_board.dox
  documentation/doxygen/header.html
  documentation/fbt.md
Labels: Documentation

#3953 Small fixes in the wifi devboard docs
  documentation/devboard/Firmware update on Developer Board.md
  documentation/devboard/Get started with the Dev Board.md
  documentation/devboard/Reading logs via the Dev Board.md
  documentation/devboard/Wi-Fi connection to the Devboard.md
Labels: Documentation

#3952 [FL-3916] Require PIN on boot
  applications/services/desktop/desktop.c
Labels: Bug, Core+Services

#3954 NFC Parser for Tianjin Railway Transit
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/trt.c
Labels: NFC, New Feature

#3964 lib: digital_signal: digital_sequence: add furi_hal.h wrapped in ifdefs
  lib/digital_signal/digital_sequence.c
Labels: Bug

#3962 Minor change in the dev docs
  documentation/doxygen/index.dox
Labels: Documentation

#3822 MIFARE Classic Key Recovery Improvements
  applications/debug/unit_tests/tests/nfc/nfc_test.c
  applications/main/nfc/nfc_app_i.h
  applications/main/nfc/scenes/nfc_scene_mf_classic_dict_attack.c
  applications/main/nfc/views/dict_attack.c
  applications/main/nfc/views/dict_attack.h
  lib/nfc/helpers/crypto1.c
  lib/nfc/helpers/crypto1.h
  lib/nfc/helpers/nfc_util.c
  lib/nfc/helpers/nfc_util.h
  lib/nfc/protocols/mf_classic/mf_classic.c
  lib/nfc/protocols/mf_classic/mf_classic.h
  lib/nfc/protocols/mf_classic/mf_classic_listener.c
  lib/nfc/protocols/mf_classic/mf_classic_poller.c
  lib/nfc/protocols/mf_classic/mf_classic_poller.h
  lib/nfc/protocols/mf_classic/mf_classic_poller_i.c
  lib/nfc/protocols/mf_classic/mf_classic_poller_i.h
  lib/nfc/protocols/mf_classic/mf_classic_poller_sync.c
  lib/toolbox/bit_buffer.c
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: NFC

#3971 [FL-3922] Fix JS memory corruption
  applications/system/js_app/modules/js_gpio.c
Labels: Bug, JS

#3969 nfc: add Caltrain zones to Clipper transit parser
  applications/main/nfc/plugins/supported_cards/clipper.c
Labels: NFC
