Repository flipperdevices/flipperzero-firmware, pull requests merged in 2025-09, with the labels that each got.

#4274 Add an old JVC model to universal remotes
  applications/main/infrared/resources/infrared/assets/audio.ir
Labels: Infrared

#4206 [FL-3990] Stop JS PWM on exit
  applications/system/js_app/modules/js_gpio.c
Labels: Bug, JS

#4267 SubGHz: Linear and Dickert MAHS protocols fixes & improvements
  applications/debug/unit_tests/tests/subghz/subghz_test.c
  lib/subghz/protocols/dickert_mahs.c
  lib/subghz/protocols/linear.c
Labels: Sub-GHz, Bug

#4259 NFC: Amusement IC Card Parser (FeliCa Lite & Lite-S)
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/aic.c
Labels: NFC, New Feature

#4211 Update demo_windows.txt
  applications/main/bad_usb/resources/badusb/demo_windows.txt
Labels: USB

#4230 iButton: TM01x Dallas ID write support
  lib/ibutton/protocols/blanks/rw1990.c
  lib/ibutton/protocols/blanks/tm01x.c
  lib/ibutton/protocols/blanks/tm01x.h
  lib/ibutton/protocols/blanks/tm2004.c
  lib/ibutton/protocols/dallas/protocol_ds1990.c
  lib/one_wire/one_wire_host.c
  lib/one_wire/one_wire_host.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, iButton

#4006 cli: Buzzer command
  applications/debug/unit_tests/application.fam
  applications/debug/unit_tests/tests/args/args_test.c
  applications/debug/unit_tests/tests/minunit.h
  applications/debug/unit_tests/tests/notification/notes_test.c
  applications/services/cli/application.fam
  applications/services/cli/cli_main_commands.c
  applications/services/cli/commands/buzzer.c
  applications/services/notification/notification_messages_notes.c
  applications/services/notification/notification_messages_notes.h
  lib/toolbox/args.c
  lib/toolbox/args.h
  lib/toolbox/cli/cli_command.c
  lib/toolbox/cli/cli_command.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature
