Repository flipperdevices/flipperzero-firmware, pull requests merged in 2025-02, with the labels that each got.

#4097 ufbt: bumped gh upload action version in project template
  scripts/ufbt/project_template/app_template/.github/workflows/build.yml
Labels: Bug, Build System & Scripts

#4095 Add new AC for Fujitsu ASTG12LVCC
  applications/main/infrared/resources/infrared/assets/ac.ir
Labels: Infrared, New Feature

#4080 Infrared: Update TV universal
  applications/main/infrared/resources/infrared/assets/tv.ir
Labels: Infrared, New Feature

#4075 [FL-3925, FL-3942, FL-3944] JS features & bugfixes (SDK 0.2)
  applications/debug/unit_tests/resources/unit_tests/js/basic.js
  applications/system/js_app/application.fam
  applications/system/js_app/examples/apps/Scripts/gpio.js
  applications/system/js_app/examples/apps/Scripts/gui.js
  applications/system/js_app/js_modules.c
  applications/system/js_app/js_modules.h
  applications/system/js_app/js_thread.c
  applications/system/js_app/modules/js_event_loop/js_event_loop.c
  applications/system/js_app/modules/js_gpio.c
  applications/system/js_app/modules/js_gui/icon.c
  applications/system/js_app/modules/js_gui/js_gui.c
  applications/system/js_app/modules/js_gui/js_gui.h
  applications/system/js_app/modules/js_gui/widget.c
  applications/system/js_app/packages/fz-sdk/gpio/index.d.ts
  applications/system/js_app/packages/fz-sdk/gui/byte_input.d.ts
  applications/system/js_app/packages/fz-sdk/gui/dialog.d.ts
  applications/system/js_app/packages/fz-sdk/gui/empty_screen.d.ts
  applications/system/js_app/packages/fz-sdk/gui/icon.d.ts
  applications/system/js_app/packages/fz-sdk/gui/index.d.ts
  applications/system/js_app/packages/fz-sdk/gui/loading.d.ts
  applications/system/js_app/packages/fz-sdk/gui/submenu.d.ts
  applications/system/js_app/packages/fz-sdk/gui/text_box.d.ts
  applications/system/js_app/packages/fz-sdk/gui/text_input.d.ts
  applications/system/js_app/packages/fz-sdk/gui/widget.d.ts
  applications/system/js_app/packages/fz-sdk/package.json
  documentation/images/widget.png
  documentation/js/js_gui.md
  documentation/js/js_gui__widget.md
  lib/mjs/mjs_exec.c
  targets/f18/furi_hal/furi_hal_resources.h
  targets/f7/furi_hal/furi_hal_pwm.h
  targets/f7/furi_hal/furi_hal_resources.c
  targets/f7/furi_hal/furi_hal_resources.h
Labels: JS

#4084 ST25TB poller mode check
  lib/nfc/protocols/st25tb/st25tb_poller.c
Labels: NFC, New Feature

#4109 [FL-3957] EventLoop unsubscribe fix
  applications/debug/unit_tests/tests/furi/furi_event_loop_test.c
  applications/debug/unit_tests/tests/furi/furi_test.c
  furi/core/event_loop.c
  furi/core/event_loop_i.h
Labels: Bug, Core+Services

#4122 vscode: disabled auto-update for clangd
  .vscode/example/settings.json.tmpl
  scripts/ufbt/project_template/.vscode/settings.json
Labels: Build System & Scripts

#4085 [FL-3949] Universal IR signal selection
  applications/main/infrared/infrared_brute_force.c
  applications/main/infrared/infrared_brute_force.h
  applications/main/infrared/infrared_cli.c
  applications/main/infrared/infrared_custom_event.h
  applications/main/infrared/scenes/common/infrared_scene_universal_common.c
  applications/main/infrared/scenes/infrared_scene_universal_ac.c
  applications/main/infrared/scenes/infrared_scene_universal_audio.c
  applications/main/infrared/scenes/infrared_scene_universal_projector.c
  applications/main/infrared/scenes/infrared_scene_universal_tv.c
  applications/main/infrared/views/infrared_progress_view.c
  applications/main/infrared/views/infrared_progress_view.h
  applications/services/gui/scene_manager.c
  applications/services/gui/scene_manager.h
  lib/flipper_format/flipper_format.c
  lib/flipper_format/flipper_format.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Infrared, New Feature

#4087 Faster di card reading
  applications/main/nfc/application.fam
  applications/main/nfc/plugins/supported_cards/disney_infinity.c
Labels: NFC, New Feature

#4090 LFRFID: Noralsy Format/Brand
  lib/lfrfid/protocols/lfrfid_protocols.c
  lib/lfrfid/protocols/lfrfid_protocols.h
  lib/lfrfid/protocols/protocol_noralsy.c
  lib/lfrfid/protocols/protocol_noralsy.h
Labels: RFID 125kHz, New Feature

#4121 [FL-3734] UART framing mode selection
  applications/debug/uart_echo/uart_echo.c
  applications/debug/unit_tests/resources/unit_tests/js/basic.js
  applications/system/js_app/examples/apps/Scripts/uart_echo_8e1.js
  applications/system/js_app/js_modules.c
  applications/system/js_app/js_modules.h
  applications/system/js_app/modules/js_serial.c
  applications/system/js_app/packages/create-fz-app/template/package.json
  applications/system/js_app/packages/fz-sdk/global.d.ts
  applications/system/js_app/packages/fz-sdk/package.json
  applications/system/js_app/packages/fz-sdk/serial/index.d.ts
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
  targets/f7/furi_hal/furi_hal_serial.c
  targets/f7/furi_hal/furi_hal_serial.h
  targets/f7/furi_hal/furi_hal_serial_types.h
Labels: New Feature, Core+Services, JS

#4123 [FL-3900] Update heap implementation
  applications/debug/crash_test/crash_test.c
  applications/main/infrared/views/infrared_progress_view.c
  applications/system/hid_app/views/hid_mouse_clicker.c
  furi/core/check.c
  furi/core/memmgr.c
  furi/core/memmgr_heap.c
  furi/flipper.c
  targets/f7/inc/FreeRTOSConfig.h
  targets/f7/inc/stm32wb55_linker.h
Labels: Core+Services

#4129 JS API: Fix PWM is-supported logic on pwmStop()
  applications/system/js_app/modules/js_gpio.c
Labels: Bug, JS
