Repository flipperdevices/flipperzero-firmware, pull requests merged in 2025-03, with the labels that each got.

#4154 [FL-3966] Reduce IEEE754 parser size
  lib/SConscript
  lib/ieee754_parse_wrap/SConscript
  lib/ieee754_parse_wrap/wrappers.c
  lib/ieee754_parse_wrap/wrappers.h
  targets/f18/api_symbols.csv
  targets/f18/target.json
  targets/f7/api_symbols.csv
  targets/f7/target.json
Labels: Core+Services

#4163 Support binded and symlinked devices
  .github/workflows/unit_tests.yml
  .github/workflows/updater_test.yml
  scripts/flipper/utils/cdc.py
  scripts/power.py
  scripts/testops.py
Labels: Bug, Build System & Scripts

#4160 GUI: Fix widget text scroll with 256+ lines
  applications/services/gui/modules/widget_elements/widget_element_text_scroll.c
Labels: Bug, UI

#4132 Infrared: Fix universals sending
  applications/main/infrared/infrared_brute_force.c
Labels: Infrared, Bug

#4165 NFC: Fix crash on ISO15693-3 save when memory is empty or cannot be read
  applications/main/nfc/helpers/protocol_support/iso15693_3/iso15693_3_render.c
  lib/nfc/protocols/iso15693_3/iso15693_3.c
  lib/nfc/protocols/iso15693_3/iso15693_3_poller_i.c
Labels: NFC, Bug

#4144 Fix app debug experience when dead code is culled
  site_scons/cc.scons
  targets/f7/application_ext.ld
  targets/f7/stm32wb55xx_flash.ld
  targets/f7/stm32wb55xx_ram_fw.ld
Labels: Bug, Build System & Scripts
