Repository flipperdevices/flipperzero-firmware, pull requests merged in 2025-04, with the labels that each got.

#4156 [FL-3962] BadUSB arbitrary key combinations
  applications/main/bad_usb/helpers/ducky_script.c
  applications/main/bad_usb/helpers/ducky_script_i.h
  applications/main/bad_usb/helpers/ducky_script_keycodes.c
Labels: USB, New Feature

#4168 JS: Update and fix docs, fix Number.toString() with decimals
  .github/CODEOWNERS
  documentation/file_formats/SubGhzFileFormats.md
  documentation/js/js_badusb.md
  documentation/js/js_builtin.md
  documentation/js/js_data_types.md
  documentation/js/js_developing_apps_using_js_sdk.md
  documentation/js/js_flipper.md
  documentation/js/js_gpio.md
  documentation/js/js_gui.md
  documentation/js/js_gui__byte_input.md
  documentation/js/js_gui__file_picker.md
  documentation/js/js_gui__icon.md
  documentation/js/js_gui__text_box.md
  documentation/js/js_gui__text_input.md
  documentation/js/js_gui__widget.md
  documentation/js/js_math.md
  documentation/js/js_serial.md
  documentation/js/js_storage.md
  lib/mjs/mjs_primitive.c
Labels: Documentation, JS

#4151 BLE advertising improvements
  lib/ble_profile/extra_profiles/hid_profile.c
  targets/f7/ble_glue/gap.c
  targets/f7/ble_glue/gap.h
  targets/f7/ble_glue/profiles/serial_profile.c
Labels: New Feature, Core+Services, Bluetooth

#4115 [FL-3956] CLI autocomplete and other sugar
  applications/debug/unit_tests/tests/pipe/pipe_test.c
  applications/services/cli/application.fam
  applications/services/cli/shell/cli_shell.c
  applications/services/cli/shell/cli_shell_completions.c
  applications/services/cli/shell/cli_shell_completions.h
  applications/services/cli/shell/cli_shell_line.c
  applications/services/cli/shell/cli_shell_line.h
  applications/services/storage/storage_cli.c
Labels: New Feature, Core+Services

#4173 Added Vivax and Sansui under Elitelux section
  applications/main/infrared/resources/infrared/assets/tv.ir
Labels: Infrared

#4116 [FL-3928, FL-3929] CLI commands in fals and threads
  applications/debug/unit_tests/application.fam
  applications/main/application.fam
  applications/main/ibutton/application.fam
  applications/main/ibutton/ibutton_cli.c
  applications/main/infrared/application.fam
  applications/main/infrared/infrared_cli.c
  applications/main/lfrfid/application.fam
  applications/main/lfrfid/lfrfid_cli.c
  applications/main/nfc/application.fam
  applications/main/nfc/nfc_cli.c
  applications/main/onewire/application.fam
  applications/main/onewire/onewire_cli.c
  applications/main/subghz/application.fam
  applications/main/subghz/subghz_cli.c
  applications/services/cli/application.fam
  applications/services/cli/cli.c
  applications/services/cli/cli.h
  applications/services/cli/cli_commands.c
  applications/services/cli/cli_i.h
  applications/services/cli/commands/hello_world.c
  applications/services/cli/commands/neofetch.c
  applications/services/cli/shell/cli_shell.c
  applications/services/cli/shell/cli_shell_completions.c
  applications/services/desktop/desktop.c
  applications/services/storage/storage_cli.c
  scripts/flipper/storage.py
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, Core+Services, App Loader

#4174 cli: fixed `free_blocks` command
  .github/CODEOWNERS
  furi/core/memmgr_heap.c
Labels: Bug, Core+Services

#4176 [FL-3964] Update BadUSB docs
  documentation/file_formats/BadUsbScriptFormat.md
Labels: Documentation

#4175 [FL-3965] Separate cli_shell into toolbox
  applications/debug/speaker_debug/speaker_debug.c
  applications/debug/unit_tests/test_runner.c
  applications/debug/unit_tests/tests/rpc/rpc_test.c
  applications/debug/unit_tests/unit_tests.c
  applications/main/gpio/usb_uart_bridge.c
  applications/main/ibutton/ibutton_cli.c
  applications/main/infrared/infrared_cli.c
  applications/main/lfrfid/lfrfid_cli.c
  applications/main/lfrfid/lfrfid_i.h
  applications/main/nfc/nfc_app_i.h
  applications/main/nfc/nfc_cli.c
  applications/main/onewire/onewire_cli.c
  applications/main/subghz/helpers/subghz_chat.h
  applications/main/subghz/subghz_cli.c
  applications/main/subghz/subghz_cli.h
  applications/services/bt/bt_cli.c
  applications/services/cli/application.fam
  applications/services/cli/cli.c
  applications/services/cli/cli.h
  applications/services/cli/cli_command_gpio.c
  applications/services/cli/cli_command_gpio.h
  applications/services/cli/cli_commands.h
  applications/services/cli/cli_main_commands.c
  applications/services/cli/cli_main_commands.h
  applications/services/cli/cli_main_shell.c
  applications/services/cli/cli_main_shell.h
  applications/services/cli/cli_vcp.c
  applications/services/cli/commands/hello_world.c
  applications/services/cli/commands/neofetch.c
  applications/services/cli/commands/subshell_demo.c
  applications/services/cli/shell/cli_shell.h
  applications/services/crypto/crypto_cli.c
  applications/services/desktop/desktop.c
  applications/services/input/input.c
  applications/services/input/input_cli.c
  applications/services/loader/loader_cli.c
  applications/services/power/power_cli.c
  applications/services/rpc/rpc.c
  applications/services/rpc/rpc_cli.c
  applications/services/rpc/rpc_i.h
  applications/services/storage/storage_cli.c
  applications/system/js_app/js_app.c
  applications/system/updater/cli/updater_cli.c
  lib/toolbox/SConscript
  lib/toolbox/cli/cli_ansi.c
  lib/toolbox/cli/cli_ansi.h
  lib/toolbox/cli/cli_command.c
  lib/toolbox/cli/cli_command.h
  lib/toolbox/cli/cli_registry.c
  lib/toolbox/cli/cli_registry.h
  lib/toolbox/cli/cli_registry_i.h
  lib/toolbox/cli/shell/cli_shell.c
  lib/toolbox/cli/shell/cli_shell.h
  lib/toolbox/cli/shell/cli_shell_completions.c
  lib/toolbox/cli/shell/cli_shell_completions.h
  lib/toolbox/cli/shell/cli_shell_i.h
  lib/toolbox/cli/shell/cli_shell_line.c
  lib/toolbox/cli/shell/cli_shell_line.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Core+Services, App Loader

#4139 [FL-3963] Move modules to new arg parser
  applications/system/js_app/js_modules.c
  applications/system/js_app/js_modules.h
  applications/system/js_app/js_thread.c
  applications/system/js_app/js_thread_i.h
  applications/system/js_app/modules/js_event_loop/js_event_loop.c
  applications/system/js_app/modules/js_gpio.c
  applications/system/js_app/modules/js_gui/file_picker.c
  applications/system/js_app/modules/js_gui/icon.c
  applications/system/js_app/modules/js_gui/js_gui.c
  applications/system/js_app/modules/js_serial.c
  applications/system/js_app/modules/js_storage.c
  applications/system/js_app/plugin_api/app_api_table_i.h
  applications/system/js_app/plugin_api/js_plugin_api.h
Labels: JS

#4105 [FL-3953] Application chaining
  applications/debug/accessor/application.fam
  applications/debug/battery_test_app/application.fam
  applications/debug/blink_test/application.fam
  applications/debug/bt_debug_app/application.fam
  applications/debug/ccid_test/application.fam
  applications/debug/direct_draw/application.fam
  applications/debug/display_test/application.fam
  applications/debug/event_loop_blink_test/application.fam
  applications/debug/expansion_test/application.fam
  applications/debug/file_browser_test/application.fam
  applications/debug/keypad_test/application.fam
  applications/debug/lfrfid_debug/application.fam
  applications/debug/loader_chaining_a/application.fam
  applications/debug/loader_chaining_a/loader_chaining_a.c
  applications/debug/loader_chaining_b/application.fam
  applications/debug/loader_chaining_b/loader_chaining_b.c
  applications/debug/locale_test/application.fam
  applications/debug/rpc_debug_app/application.fam
  applications/debug/speaker_debug/application.fam
  applications/debug/subghz_test/application.fam
  applications/debug/text_box_element_test/application.fam
  applications/debug/text_box_view_test/application.fam
  applications/debug/uart_echo/application.fam
  applications/debug/unit_tests/application.fam
  applications/debug/usb_mouse/application.fam
  applications/debug/usb_test/application.fam
  applications/debug/vibro_test/application.fam
  applications/main/archive/scenes/archive_scene_browser.c
  applications/services/desktop/desktop.c
  applications/services/loader/loader.c
  applications/services/loader/loader.h
  applications/services/loader/loader_applications.c
  applications/services/loader/loader_i.h
  applications/services/loader/loader_queue.c
  applications/services/loader/loader_queue.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: New Feature, App Loader

#4117 [FL-3902] NFC app now can launch MFKey32
  applications/main/nfc/helpers/protocol_support/mf_classic/mf_classic.c
  applications/main/nfc/nfc_app.c
  applications/main/nfc/nfc_app_i.h
  applications/main/nfc/scenes/nfc_scene_mf_classic_mfkey_complete.c
  applications/main/nfc/scenes/nfc_scene_save_confirm.c
  applications/main/nfc/scenes/nfc_scene_save_success.c
Labels: New Feature, Core+Services

#4077 [FL-3947] Pinning of settings options
  applications/main/archive/helpers/archive_apps.c
  applications/main/archive/helpers/archive_apps.h
  applications/main/archive/helpers/archive_browser.h
  applications/main/archive/helpers/archive_favorites.c
  applications/main/archive/helpers/archive_favorites.h
  applications/main/archive/helpers/archive_files.h
  applications/main/archive/scenes/archive_scene_browser.c
  applications/main/archive/views/archive_browser_view.c
  applications/services/gui/modules/submenu.c
  applications/services/gui/modules/submenu.h
  applications/services/loader/loader_menu.c
  applications/settings/power_settings_app/power_settings_app.c
  applications/settings/power_settings_app/power_settings_app.h
  applications/settings/power_settings_app/scenes/power_settings_scene_start.c
  applications/settings/storage_settings/scenes/storage_settings_scene_start.c
  applications/settings/storage_settings/storage_settings.c
  applications/settings/storage_settings/storage_settings.h
  assets/icons/Archive/settings_10px.png
  fbt_options.py
  lib/toolbox/settings_helpers/submenu_based.c
  lib/toolbox/settings_helpers/submenu_based.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: UI, New Feature, Core+Services

#4181 vcp, cli: Handle Tx/Rx events before Connect/Disconnect + extra fixes
  .gitignore
  applications/services/cli/cli_vcp.c
  applications/services/loader/loader.c
  applications/settings/storage_settings/storage_settings.c
  lib/toolbox/cli/cli_registry.c
  lib/toolbox/cli/cli_registry_i.h
  lib/toolbox/cli/shell/cli_shell.c
  lib/toolbox/cli/shell/cli_shell_completions.c
  scripts/serial_cli_perf.py
Labels: Bug, Core+Services

#4184 Fix NULL dereference in CLI completions
  .github/CODEOWNERS
  applications/services/cli/cli_main_commands.c
  lib/toolbox/cli/shell/cli_shell_completions.c
Labels: Bug, Core+Services

#4185 SDK: Fix missing RECORD_CLI define
  applications/services/cli/application.fam
  applications/services/cli/cli.h
  applications/services/cli/cli_main_commands.h
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Bug, Build System & Scripts

#4186 sdk: bump API to force SDK re-upload for the catalog backend
  targets/f18/api_symbols.csv
  targets/f7/api_symbols.csv
Labels: Build System & Scripts

#4187 FBT: Fix for Python 3.13
  scripts/fbt/appmanifest.py
Labels: Bug, Build System & Scripts

#4189 [FL-3979] USB-UART bridge fix
  applications/main/gpio/usb_uart_bridge.c
  applications/services/cli/cli_vcp.c
Labels: Bug, Applications, Core+Services

#4193 Desktop: Fix freeze on boot if PIN set
  applications/services/cli/cli_vcp.c
Labels: Bug, Core+Services

#4192 [FL-3983, FL-3985, FL-3986] RC fixes
  applications/services/loader/loader.c
  lib/toolbox/cli/shell/cli_shell.c
Labels: Bug, Core+Services, App Loader
